test/integration_test
[{"id":"bbe34270.ed0d8","type":"subflow","name":"SCXML->SMV","info":"","category":"","in":[{"x":40,"y":160,"wires":[{"id":"277320fd.f7f08"}]}],"out":[{"x":1140,"y":160,"wires":[{"id":"ed9b0686.62c928","port":0}]}]},{"id":"ed9b0686.62c928","type":"function","z":"bbe34270.ed0d8","name":"from scxml to smv","func":"var init = msg.payload.scxml.$.initial;\nvar states = [];\nvar transitions = [];\nfor (var i = 0; i < msg.payload.scxml.state.length; i++) {\n    var currentState = msg.payload.scxml.state[i].$.id\n    states.push(currentState);\n    var transitionLength;\n    if (msg.payload.scxml.state[i].transition != null) {\n        transitionLength = msg.payload.scxml.state[i].transition.length\n    }else{\n        transitionLength = 0;\n    }\n    for (var j = 0; j < transitionLength; j++) {\n        var transitionAttribute = msg.payload.scxml.state[i].transition[j].$;\n        var currentTransition = [currentState, transitionAttribute.event,transitionAttribute.target];\n        transitions.push(currentTransition);\n    }\n    \n}\n\nmsg.payload = \"MODULE main \\n\\tVAR\\n\\t\\tstate : {\"\nvar listStates = \"\";\nfor (var i = 0; i < states.length; i++) {\n    if(i !== 0){\n       listStates = listStates + \",\" ;\n    }\n    listStates = listStates + states[i];\n}\n\nmsg.payload = msg.payload + listStates;\n\nmsg.payload = msg.payload + \"};\\n\tASSIGN\\n\\t\\tinit(state) := \";\nmsg.payload = msg.payload + init+\";\";\nmsg.payload = msg.payload + \"\\n\\t\\tnext(state) := \\n\\t\\t\\tcase\\n\";\n\n//for to create all the conditions\nfor (var i = 0; i < transitions.length; i++) {\n    msg.payload = msg.payload + \"\\t\\t\\t\\tstate = \" + transitions[i][0] + \" : \" + transitions[i][2]+\";\\n\";\n}\n\nmsg.payload = msg.payload + \"\\t\\t\\t\\tTRUE : {\" +listStates + \"};\\n\\t\\t\\tesac;\\n\";\n\n\nreturn msg; ","outputs":1,"noerr":0,"x":490,"y":160,"wires":[[]]},{"id":"277320fd.f7f08","type":"xml","z":"bbe34270.ed0d8","name":"","property":"payload","attr":"","chr":"","x":310,"y":160,"wires":[["ed9b0686.62c928"]]},{"id":"f3951f17.16e13","type":"subflow","name":"Model Checker","info":"","category":"","in":[{"x":100,"y":220,"wires":[{"id":"fd559e2a.1a2cf"}]}],"out":[{"x":2540,"y":260,"wires":[{"id":"796e4d32.8d4e94","port":0}]},{"x":1900,"y":140,"wires":[{"id":"31a8a33f.2ec00c","port":1}]}]},{"id":"31a8a33f.2ec00c","type":"exec","z":"f3951f17.16e13","command":"./NuSMV /tmp/file.smv","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1660,"y":80,"wires":[["9ead5da2.4328c"],["4e1c55f0.692b0c"],[]]},{"id":"7af59a25.3eead4","type":"comment","z":"f3951f17.16e13","name":"launch tests","info":"","x":550,"y":20,"wires":[]},{"id":"1c5e70f6.38f35f","type":"comment","z":"f3951f17.16e13","name":"add a test","info":"","x":580,"y":160,"wires":[]},{"id":"3a8b6896.7656d8","type":"function","z":"f3951f17.16e13","name":"add test to tab 'tests'","func":"var tests = flow.get('tests') || [];\ntests.push(msg.payload);\nflow.set('tests',tests);\nmsg.payload = tests;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["96796424.c54228"]]},{"id":"96796424.c54228","type":"debug","z":"f3951f17.16e13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":220,"wires":[]},{"id":"87ac443d.b38368","type":"comment","z":"f3951f17.16e13","name":"reset tests","info":"","x":580,"y":280,"wires":[]},{"id":"b647bb4c.1496c8","type":"function","z":"f3951f17.16e13","name":"clean 'tests' tab","func":"var tests = flow.get('tests') || [];\ntests.pop();\nflow.set('tests',tests);\nmsg.payload = tests;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":340,"wires":[["d2567b98.a0dc68"]]},{"id":"d2567b98.a0dc68","type":"debug","z":"f3951f17.16e13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":340,"wires":[]},{"id":"a81c6559.6b8f68","type":"file","z":"f3951f17.16e13","name":"","filename":"/tmp/file.smv","appendNewline":false,"createDir":true,"overwriteFile":"true","x":910,"y":80,"wires":[["c074e5f.9a65818"]]},{"id":"53f8b623.1d9aa8","type":"function","z":"f3951f17.16e13","name":"get data","func":"msg.log = msg.payload.data.logFile\nmsg.fsm = msg.payload.data.urlFSM\nmsg.test = msg.payload.data.urlTest\n\nmsg.url = msg.fsm\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":80,"wires":[["22e70e8f.a958e2"]]},{"id":"fd559e2a.1a2cf","type":"switch","z":"f3951f17.16e13","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"launchTests","vt":"str"},{"t":"eq","v":"addTest","vt":"str"},{"t":"eq","v":"resetTests","vt":"str"},{"t":"eq","v":"saveTests","vt":"str"},{"t":"eq","v":"loadTests","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":190,"y":240,"wires":[["53f8b623.1d9aa8"],["e7c04183.8036b"],["b647bb4c.1496c8"],["f634308a.f482a"],["5ff9d6c0.533428"]]},{"id":"e7c04183.8036b","type":"function","z":"f3951f17.16e13","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["3a8b6896.7656d8"]]},{"id":"66b1a3c.b262a5c","type":"function","z":"f3951f17.16e13","name":"savemodel","func":"msg.payload = \"{\\\"action\\\":\\\"saveModelLog\\\",\\\"data\\\":{\\\"logUrl\\\":\\\"http://localhost:1880/modelCheck?file=\"+msg.logFile+\"\\\",\\\"logFile\\\":\\\"\"+msg.logFile+\"\\\"}}\"\nreturn msg;","outputs":1,"noerr":0,"x":2230,"y":60,"wires":[["796e4d32.8d4e94"]]},{"id":"4e1c55f0.692b0c","type":"debug","z":"f3951f17.16e13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1650,"y":180,"wires":[]},{"id":"3e6efa0c.bd5ab6","type":"function","z":"f3951f17.16e13","name":"send url to file","func":"msg.payload = \"{\\\"action\\\":\\\"saveTests\\\",\\\"data\\\":{\\\"urlFrom\\\":\\\"http://localhost:1880/modelCheck?file=\"+ msg.name +\"\\\",\\\"name\\\":\\\"\"+msg.name+\"\\\"}}\"\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":440,"wires":[["796e4d32.8d4e94"]]},{"id":"8ee78c63.c37b7","type":"comment","z":"f3951f17.16e13","name":"save tests","info":"","x":380,"y":400,"wires":[]},{"id":"6ea1ad60.63a0c4","type":"comment","z":"f3951f17.16e13","name":"load tests","info":"","x":380,"y":580,"wires":[]},{"id":"54ff7d5d.ba6a84","type":"function","z":"f3951f17.16e13","name":"send reply","func":"msg.payload = \"{\\\"reply\\\" : \\\"log\\\",\\\"data\\\" : \\\"model check tests from \"+ msg.url +\"successfully loaded\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":620,"wires":[["796e4d32.8d4e94"]]},{"id":"e221b7ad.c328e8","type":"function","z":"f3951f17.16e13","name":"export string to \"tests\" variable","func":"var tests = flow.get('tests') || [];\ntests = msg.payload.split(\"\\n\")\nmsg.payload = tests\nflow.set('tests',tests);\nreturn msg","outputs":1,"noerr":0,"x":830,"y":620,"wires":[["54ff7d5d.ba6a84","23b4a73b.e7c488"]]},{"id":"23b4a73b.e7c488","type":"debug","z":"f3951f17.16e13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1150,"y":700,"wires":[]},{"id":"796e4d32.8d4e94","type":"json","z":"f3951f17.16e13","name":"","property":"payload","action":"","pretty":false,"x":2430,"y":260,"wires":[[]]},{"id":"6c3b77a5.24ced8","type":"subflow:bbe34270.ed0d8","z":"f3951f17.16e13","name":"","x":720,"y":80,"wires":[["a81c6559.6b8f68"]]},{"id":"f634308a.f482a","type":"function","z":"f3951f17.16e13","name":"get and save data ","func":"var tests = flow.get('tests') || [];\n\nmsg.name = msg.payload.data.name\nmsg.filename = \"/tmp/modelCheck/\"+msg.payload.data.name\nmsg.payload = \"\"\nfor (var i = 0; i < tests.length; i++) {\n    msg.payload += tests[i] + \"\\n\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":440,"wires":[["e148c0a0.f88db"]]},{"id":"e148c0a0.f88db","type":"file","z":"f3951f17.16e13","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":610,"y":440,"wires":[["3e6efa0c.bd5ab6"]]},{"id":"5ff9d6c0.533428","type":"function","z":"f3951f17.16e13","name":"get data","func":"msg.url = msg.payload.data.urlFrom\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":620,"wires":[["6a372a19.6a1284"]]},{"id":"6a372a19.6a1284","type":"http request","z":"f3951f17.16e13","name":"","method":"GET","ret":"txt","url":"","x":570,"y":620,"wires":[["e221b7ad.c328e8"]]},{"id":"3bd3018d.6e274e","type":"http response","z":"f3951f17.16e13","name":"","statusCode":"","headers":{},"x":3230,"y":60,"wires":[]},{"id":"3d9444f3.ceb75c","type":"http in","z":"f3951f17.16e13","name":"","url":"/modelCheck","method":"get","upload":false,"swaggerDoc":"","x":2690,"y":60,"wires":[["ae5d56ac.5e72f8"]]},{"id":"ae5d56ac.5e72f8","type":"function","z":"f3951f17.16e13","name":"","func":"msg.filename = \"/tmp/modelCheck/\" + msg.req.query.file\nreturn msg;","outputs":1,"noerr":0,"x":2870,"y":60,"wires":[["2c7d784d.516918"]]},{"id":"2c7d784d.516918","type":"file in","z":"f3951f17.16e13","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":3030,"y":60,"wires":[["3bd3018d.6e274e"]]},{"id":"22e70e8f.a958e2","type":"http request","z":"f3951f17.16e13","name":"","method":"GET","ret":"txt","url":"","tls":"","x":530,"y":80,"wires":[["6c3b77a5.24ced8"]]},{"id":"c074e5f.9a65818","type":"function","z":"f3951f17.16e13","name":"change url","func":"msg.url = msg.test\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":80,"wires":[["cfb64487.36b7c8"]]},{"id":"cfb64487.36b7c8","type":"http request","z":"f3951f17.16e13","name":"","method":"GET","ret":"txt","url":"","x":1270,"y":80,"wires":[["4ca68720.2a3a18"]]},{"id":"4ca68720.2a3a18","type":"file","z":"f3951f17.16e13","name":"","filename":"/tmp/file.smv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":1450,"y":80,"wires":[["31a8a33f.2ec00c"]]},{"id":"9ead5da2.4328c","type":"function","z":"f3951f17.16e13","name":"save log","func":"msg.filename = \"/tmp/modelCheck/\"+msg.logFile\nreturn msg;","outputs":1,"noerr":0,"x":1900,"y":60,"wires":[["589cb34b.01f94c"]]},{"id":"589cb34b.01f94c","type":"file","z":"f3951f17.16e13","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":2050,"y":60,"wires":[["66b1a3c.b262a5c"]]},{"id":"419fddef.3793c4","type":"subflow","name":"simulator","info":"","category":"","in":[{"x":220,"y":600,"wires":[{"id":"5a9e8da1.7b2fb4"}]}],"out":[{"x":2560,"y":820,"wires":[{"id":"70c70105.f1f72","port":0}]},{"x":2560,"y":920,"wires":[{"id":"70c70105.f1f72","port":1}]}]},{"id":"cc43375c.850268","type":"comment","z":"419fddef.3793c4","name":"get current state","info":"","x":700,"y":460,"wires":[]},{"id":"5327e139.cba9b","type":"function","z":"419fddef.3793c4","name":"getCurrentSim","func":"//var count=context.get('count') || 0;\nvar file=flow.get('currentState') || null;\nif(file == null){\n    msg.payload=\"no simulation running\";\n}\nelse{\n    msg.payload= file;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":500,"wires":[["bb59e262.22e8d"]]},{"id":"bb59e262.22e8d","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":500,"wires":[]},{"id":"2c054b7f.a3e9c4","type":"comment","z":"419fddef.3793c4","name":"Start","info":"","x":670,"y":140,"wires":[]},{"id":"9236418d.ee9bb","type":"http request","z":"419fddef.3793c4","name":"getScxml","method":"GET","ret":"txt","url":"http://localhost:1880/fsm-file","tls":"","x":860,"y":180,"wires":[["bebec7eb.b46838"]]},{"id":"17984df0.987ed2","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1270,"y":80,"wires":[]},{"id":"475a7886.b5e1f8","type":"function","z":"419fddef.3793c4","name":"Start","func":"var state = flow.get('currentState') || null;\nvar initial = msg.payload.scxml.$.initial\nfor (var i = 0; i < msg.payload.scxml.state.length; i++) {\n    if (msg.payload.scxml.state[i].$.id == initial) {\n        state = msg.payload.scxml.state[i];\n    }\n}\n\nflow.set('currentState',state);\n\nvar fsm = flow.get('FSM') || null;\nfsm = msg.payload\nflow.set('FSM',fsm);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":180,"wires":[["17984df0.987ed2"]]},{"id":"74dfd0fd.88e23","type":"comment","z":"419fddef.3793c4","name":"End Simulation","info":"","x":700,"y":240,"wires":[]},{"id":"67dccf9b.b1a8","type":"function","z":"419fddef.3793c4","name":"End","func":"var fsm=flow.get('FSM') || null;\nfsm = null;\nflow.set('FSM',fsm);\n\nvar state=flow.get('currentState') || null;\nstate = null;\nflow.set('currentState',state);\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":300,"wires":[["936f533d.56823"]]},{"id":"936f533d.56823","type":"debug","z":"419fddef.3793c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":240,"wires":[]},{"id":"82e7d95e.2a9638","type":"comment","z":"419fddef.3793c4","name":"inject event","info":"","x":690,"y":360,"wires":[]},{"id":"c9a090ea.f676d","type":"function","z":"419fddef.3793c4","name":"Inject","func":"var fsm=flow.get('FSM') || null;\nvar state=flow.get('currentState') || null;\nvar destination = null;\n\nfor (var i = 0; i < state.transition.length; i++) {\n    if (state.transition[i].$.event == msg.payload) {\n        destination = state.transition[i].$.target\n    }\n}\n\nif (destination !== null) {\n    for (var i = 0; i < fsm.scxml.state.length; i++) {\n        if (fsm.scxml.state[i].$.id == destination) {\n            state = fsm.scxml.state[i];\n        }\n    }\n}\nmsg.payload = state\nflow.set('currentState',state);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":400,"wires":[[]]},{"id":"bebec7eb.b46838","type":"xml","z":"419fddef.3793c4","name":"","property":"payload","attr":"","chr":"","x":1010,"y":180,"wires":[["475a7886.b5e1f8"]]},{"id":"5a9e8da1.7b2fb4","type":"switch","z":"419fddef.3793c4","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"launchSimulation","vt":"str"},{"t":"eq","v":"endSimulation","vt":"str"},{"t":"eq","v":"injectEvent","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"launchCompleteSimulation","vt":"str"},{"t":"eq","v":"saveSimEvents","vt":"str"},{"t":"eq","v":"loadSimEvents","vt":"str"},{"t":"eq","v":"addEvent","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":330,"y":600,"wires":[["59f4fb0b.ba51e4"],["d4a5c1ad.98887"],["3d8780fa.61cc6"],["c750c495.9f0628"],["b6c3cfd6.3447e"],[],[],[]]},{"id":"59f4fb0b.ba51e4","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":180,"wires":[["9236418d.ee9bb"]]},{"id":"d4a5c1ad.98887","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":300,"wires":[["67dccf9b.b1a8"]]},{"id":"3d8780fa.61cc6","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":400,"wires":[["c9a090ea.f676d"]]},{"id":"c750c495.9f0628","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":500,"wires":[["5327e139.cba9b"]]},{"id":"70c70105.f1f72","type":"switch","z":"419fddef.3793c4","name":"","property":"payload.reply","propertyType":"msg","rules":[{"t":"eq","v":"log","vt":"str"},{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2390,"y":880,"wires":[[],[]]},{"id":"bc2c8ebc.ec8fa","type":"json","z":"419fddef.3793c4","name":"","property":"payload","action":"","pretty":false,"x":2250,"y":880,"wires":[["70c70105.f1f72"]]},{"id":"249902de.bf452e","type":"exec","z":"419fddef.3793c4","command":"python script/main.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1500,"y":880,"wires":[["c18732e.cb8b6d"],["c88aacab.d475a"],[]]},{"id":"1571ef54.ddf421","type":"function","z":"419fddef.3793c4","name":"argument to python","func":"msg.payload = \"/tmp/fsm \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":880,"wires":[["249902de.bf452e"]]},{"id":"c88aacab.d475a","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1910,"y":980,"wires":[]},{"id":"3f381098.a66d4","type":"function","z":"419fddef.3793c4","name":"create state","func":"msg.payload = \"{\\\"action\\\":\\\"saveSimLog\\\",\\\"data\\\":{\\\"logUrl\\\":\\\"http://localhost:1880/simulator?file=/tmp/simLog\\\"}}\";\nreturn msg;","outputs":1,"noerr":0,"x":2070,"y":880,"wires":[["bc2c8ebc.ec8fa"]]},{"id":"ebf7b3ab.a6d15","type":"http response","z":"419fddef.3793c4","name":"","statusCode":"","headers":{},"x":710,"y":40,"wires":[]},{"id":"e07add61.8bc8e","type":"http in","z":"419fddef.3793c4","name":"","url":"/simulator","method":"get","upload":false,"swaggerDoc":"","x":180,"y":40,"wires":[["653fef17.947e3"]]},{"id":"653fef17.947e3","type":"function","z":"419fddef.3793c4","name":"","func":"msg.filename = \"/tmp/simulator/\" + msg.req.query.file\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":40,"wires":[["fbe7454.86cd4b8"]]},{"id":"fbe7454.86cd4b8","type":"file in","z":"419fddef.3793c4","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":510,"y":40,"wires":[["ebf7b3ab.a6d15"]]},{"id":"b6c3cfd6.3447e","type":"function","z":"419fddef.3793c4","name":"","func":"msg.urlEvents = msg.payload.data.urlEvents\nmsg.urlFSM = msg.payload.data.urlFSM\nmsg.logFile =msg.payload.data.logFile\n\nmsg.url = msg.urlFSM\nmsg.filename = \"/tmp/fsm\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":880,"wires":[["816bfdf8.a6cdd"]]},{"id":"f28ab953.cc7908","type":"file","z":"419fddef.3793c4","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":690,"y":880,"wires":[["819d905.cd5077"]]},{"id":"816bfdf8.a6cdd","type":"http request","z":"419fddef.3793c4","name":"","method":"GET","ret":"txt","url":"","x":510,"y":880,"wires":[["f28ab953.cc7908"]]},{"id":"819d905.cd5077","type":"function","z":"419fddef.3793c4","name":"","func":"msg.url = msg.urlEvents\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":880,"wires":[["921656fc.c46a88"]]},{"id":"921656fc.c46a88","type":"http request","z":"419fddef.3793c4","name":"","method":"GET","ret":"txt","url":"","x":1030,"y":880,"wires":[["1571ef54.ddf421"]]},{"id":"c18732e.cb8b6d","type":"file","z":"419fddef.3793c4","name":"","filename":"/tmp/simLog","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1830,"y":880,"wires":[["3f381098.a66d4"]]},{"id":"eaca6ff9.364af","type":"subflow","name":"file storage","info":"","category":"","in":[{"x":80,"y":320,"wires":[{"id":"b8289b55.dbc6a8"}]}],"out":[{"x":2080,"y":400,"wires":[{"id":"19f6678a.add888","port":1}]},{"x":2080,"y":260,"wires":[{"id":"19f6678a.add888","port":0}]}]},{"id":"784ba9dc.e10248","type":"comment","z":"eaca6ff9.364af","name":"Save","info":"","x":250,"y":240,"wires":[]},{"id":"b8289b55.dbc6a8","type":"switch","z":"eaca6ff9.364af","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"saveFSM","vt":"str"},{"t":"eq","v":"launchSimulation","vt":"str"},{"t":"eq","v":"launchTests","vt":"str"},{"t":"eq","v":"saveSimLog","vt":"str"},{"t":"eq","v":"loadFSM","vt":"str"},{"t":"eq","v":"saveTests","vt":"str"},{"t":"eq","v":"loadTests","vt":"str"},{"t":"eq","v":"saveSimEvents","vt":"str"},{"t":"eq","v":"loadSimEvents","vt":"str"},{"t":"eq","v":"saveModelLog","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":210,"y":340,"wires":[["98367e48.04eed"],["40599356.fc08cc"],["74fa8e13.a1923"],["e7e70228.499d2"],["d9063f67.5c21c"],["68c578f6.9e44d8"],["405607c8.50efe8"],[],[],["c7f9177b.ff82e8"]]},{"id":"74fa8e13.a1923","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.testFile = msg.payload.data.testFile\nmsg.fsmFile = msg.payload.data.fsmFile\nmsg.logFile =msg.payload.data.logFile\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["1b747ef5.7b9b41"]]},{"id":"e7e70228.499d2","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":420,"wires":[["87b81432.ebee48"]]},{"id":"87b81432.ebee48","type":"file","z":"eaca6ff9.364af","name":"","filename":"simLog/log","appendNewline":true,"createDir":false,"overwriteFile":"true","x":690,"y":420,"wires":[[]]},{"id":"d9063f67.5c21c","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.filename = \"storage/\" + msg.payload.data.name\nmsg.name = msg.payload.data.name\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":520,"wires":[["d5d3dfe2.5a361"]]},{"id":"19f6678a.add888","type":"switch","z":"eaca6ff9.364af","name":"","property":"payload.reply","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1770,"y":340,"wires":[[],[]]},{"id":"90cef6a6.734788","type":"json","z":"eaca6ff9.364af","name":"","property":"payload","action":"","pretty":false,"x":1630,"y":340,"wires":[["19f6678a.add888"]]},{"id":"e85fda20.000ee8","type":"function","z":"eaca6ff9.364af","name":"send request to fsm editor","func":"msg.payload = \"{\\\"action\\\":\\\"loadFSM\\\",\\\"data\\\":{\\\"urlFrom\\\":\\\"http://localhost:1880/storage?file=\"+msg.name+\"\\\"}}\"\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":520,"wires":[["90cef6a6.734788"]]},{"id":"68c578f6.9e44d8","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.url = msg.payload.data.urlFrom\nmsg.filename = \"storage/\" + msg.name\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":620,"wires":[["775df706.7ca0a8"]]},{"id":"ce201139.c62d3","type":"comment","z":"eaca6ff9.364af","name":"save test","info":"","x":500,"y":580,"wires":[]},{"id":"67ddb749.b95f48","type":"comment","z":"eaca6ff9.364af","name":"load FSM","info":"","x":500,"y":480,"wires":[]},{"id":"752f57a5.1b8718","type":"comment","z":"eaca6ff9.364af","name":"save Sim log","info":"","x":510,"y":380,"wires":[]},{"id":"b19f14b8.f56f98","type":"comment","z":"eaca6ff9.364af","name":"launchTests","info":"","x":510,"y":280,"wires":[]},{"id":"494ef422.b7961c","type":"comment","z":"eaca6ff9.364af","name":"launch Simulation","info":"","x":530,"y":180,"wires":[]},{"id":"daafc710.e9b618","type":"comment","z":"eaca6ff9.364af","name":"load test","info":"","x":500,"y":680,"wires":[]},{"id":"45e77cfe.f9dff4","type":"function","z":"eaca6ff9.364af","name":"create reply ","func":"msg.payload = \"{\\\"log\\\":\\\"reply\\\",\\\"data\\\":\\\"tests successfully saved in file : \"+msg.filename+\"\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":620,"wires":[["90cef6a6.734788"]]},{"id":"c7f9177b.ff82e8","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.url = msg.payload.data.logUrl\nmsg.filename = msg.payload.data.logFile\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":920,"wires":[["683d19b1.319318"]]},{"id":"4219813b.5a1b1","type":"file","z":"eaca6ff9.364af","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":870,"y":920,"wires":[["9094cdd4.3d702"]]},{"id":"775df706.7ca0a8","type":"http request","z":"eaca6ff9.364af","name":"","method":"GET","ret":"txt","url":"","tls":"","x":670,"y":620,"wires":[["97582de.0f333d","41dcad1b.3c9bc4"]]},{"id":"41dcad1b.3c9bc4","type":"file","z":"eaca6ff9.364af","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":990,"y":620,"wires":[["45e77cfe.f9dff4"]]},{"id":"98367e48.04eed","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.url = msg.payload.data.urlFrom\nmsg.filename = msg.payload.data.name\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":120,"wires":[["ab2e284a.2d11a8"]]},{"id":"5b495f2a.8ae17","type":"comment","z":"eaca6ff9.364af","name":"save fsm","info":"","x":500,"y":80,"wires":[]},{"id":"eef51420.f4d668","type":"function","z":"eaca6ff9.364af","name":"create reply ","func":"msg.payload = \"{\\\"log\\\":\\\"reply\\\",\\\"data\\\":\\\"fsm successfully saved in file : \"+msg.filename+\"\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":120,"wires":[["90cef6a6.734788"]]},{"id":"ab2e284a.2d11a8","type":"http request","z":"eaca6ff9.364af","name":"","method":"GET","ret":"txt","url":"","tls":"","x":670,"y":120,"wires":[["b087317b.ba22b"]]},{"id":"1f0f1fb5.45603","type":"file","z":"eaca6ff9.364af","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":990,"y":120,"wires":[["eef51420.f4d668"]]},{"id":"b087317b.ba22b","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.filename = \"storage/\"+ msg.filename\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":120,"wires":[["1f0f1fb5.45603"]]},{"id":"a4ae496f.5e6488","type":"function","z":"eaca6ff9.364af","name":"get data","func":"\nmsg.payload =  directory +\"modelCheck/\" +  msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1040,"wires":[[]]},{"id":"e8f133f4.c593c","type":"file","z":"eaca6ff9.364af","name":"","filename":"tmp/model","appendNewline":true,"createDir":false,"overwriteFile":"true","x":830,"y":1040,"wires":[["c4054d8e.7de33"]]},{"id":"c4054d8e.7de33","type":"function","z":"eaca6ff9.364af","name":"send request to model checker","func":"var directory = flow.get('directory') || \".\";\n\nmsg.payload = \"{\\\"action\\\":\\\"loadTests\\\",\\\"data\\\":\\\"\"+directory+\"/tmp/storage\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1040,"wires":[[]]},{"id":"1b747ef5.7b9b41","type":"function","z":"eaca6ff9.364af","name":"send request to modelChecker","func":"msg.payload = \"{\\\"action\\\":\\\"launchTests\\\",\\\"data\\\":{\\\"urlTest\\\":\\\"http://localhost:1880/storage?file=\"+msg.testFile+\"\\\",\\\"urlFSM\\\":\\\"http://localhost:1880/storage?file=\"+msg.fsmFile+\"\\\",\\\"logFile\\\":\\\"\"+msg.logFile+\"\\\"}}\"\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":320,"wires":[["90cef6a6.734788"]]},{"id":"97582de.0f333d","type":"debug","z":"eaca6ff9.364af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":580,"wires":[]},{"id":"52bb6eae.9d216","type":"http response","z":"eaca6ff9.364af","name":"","statusCode":"","headers":{},"x":2150,"y":60,"wires":[]},{"id":"b2eee4dd.163658","type":"http in","z":"eaca6ff9.364af","name":"","url":"/storage","method":"get","upload":false,"swaggerDoc":"","x":1590,"y":60,"wires":[["52d151e6.1034e"]]},{"id":"52d151e6.1034e","type":"function","z":"eaca6ff9.364af","name":"","func":"msg.filename = \"/tmp/storage/\" + msg.req.query.file\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":60,"wires":[["80384642.ca2bb8"]]},{"id":"80384642.ca2bb8","type":"file in","z":"eaca6ff9.364af","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":1950,"y":60,"wires":[["52bb6eae.9d216"]]},{"id":"a202ff76.ab78d","type":"file","z":"eaca6ff9.364af","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1010,"y":520,"wires":[["e85fda20.000ee8"]]},{"id":"d5d3dfe2.5a361","type":"file in","z":"eaca6ff9.364af","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":650,"y":520,"wires":[["7ceeab03.3b2b14"]]},{"id":"7ceeab03.3b2b14","type":"function","z":"eaca6ff9.364af","name":"change filename","func":"msg.filename = \"/tmp/\" + msg.filename\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":520,"wires":[["a202ff76.ab78d"]]},{"id":"405607c8.50efe8","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.filename = \"storage/\" + msg.payload.data.name\nmsg.name = msg.payload.data.name\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":720,"wires":[["cb0c7b6b.cbdd48"]]},{"id":"3dcd8941.b13066","type":"function","z":"eaca6ff9.364af","name":"send request to fsm editor","func":"msg.payload = \"{\\\"action\\\":\\\"loadTests\\\",\\\"data\\\":{\\\"urlFrom\\\":\\\"http://localhost:1880/storage?file=\"+msg.name+\"\\\"}}\"\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":720,"wires":[["90cef6a6.734788"]]},{"id":"55c9f44b.bb4b2c","type":"file","z":"eaca6ff9.364af","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":990,"y":720,"wires":[["3dcd8941.b13066"]]},{"id":"cb0c7b6b.cbdd48","type":"file in","z":"eaca6ff9.364af","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":650,"y":720,"wires":[["2f787fd4.01af6"]]},{"id":"2f787fd4.01af6","type":"function","z":"eaca6ff9.364af","name":"change filename","func":"msg.filename = \"/tmp/\" + msg.filename\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":720,"wires":[["55c9f44b.bb4b2c"]]},{"id":"1f714ca2.65e593","type":"function","z":"eaca6ff9.364af","name":"change filename","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":420,"wires":[[]]},{"id":"683d19b1.319318","type":"http request","z":"eaca6ff9.364af","name":"","method":"GET","ret":"txt","url":"","tls":"","x":670,"y":920,"wires":[["4219813b.5a1b1"]]},{"id":"9094cdd4.3d702","type":"function","z":"eaca6ff9.364af","name":"create reply","func":"msg.payload = \"{\\\"log\\\":\\\"reply\\\",\\\"data\\\":\\\"tests successfully done and log are saved in file : \"+msg.filename+\"\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":920,"wires":[["90cef6a6.734788"]]},{"id":"f32dfdd9.db5dc","type":"function","z":"eaca6ff9.364af","name":"send request to simulator","func":"msg.payload = \"{\\\"action\\\":\\\"launchCompleteSimulation\\\",\\\"data\\\":{\\\"urlEvents\\\":\\\"http://localhost:1880/storage?file=\"+msg.EventsFile+\"\\\",\\\"urlFSM\\\":\\\"http://localhost:1880/storage?file=\"+msg.fsmFile+\"\\\",\\\"logFile\\\":\\\"\"+msg.logFile+\"\\\"}}\"\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":220,"wires":[["90cef6a6.734788"]]},{"id":"40599356.fc08cc","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.EventsFile = msg.payload.data.EventsFile\nmsg.fsmFile = msg.payload.data.fsmFile\nmsg.logFile =msg.payload.data.logFile\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["f32dfdd9.db5dc"]]},{"id":"a20fafc8.dc22c","type":"subflow","name":"SCXML->JSON","info":"","category":"","in":[{"x":240,"y":240,"wires":[{"id":"9d093e6f.b6006"}]}],"out":[{"x":880,"y":240,"wires":[{"id":"9d093e6f.b6006","port":0}]}]},{"id":"9d093e6f.b6006","type":"function","z":"a20fafc8.dc22c","name":"parse XML to JSON","func":"var scxml = msg.payload.scxml\n\nmsg.payload = JSON.parse(\"{\\\"fsm\\\":[]}\")\nmsg.payload.init = scxml.$.initial\n\nfor (var i = 0; i < scxml.state.length; i++) {\n\n    \n    var state = JSON.parse(\"{\\\"transitions\\\":[]}\")\n    state.stateName = scxml.state[i].$.id\n    \n    if (scxml.state[i].transition != null) {\n        for (var j = 0; j < scxml.state[i].transition.length; j++) {\n            var transition = JSON.parse(\"{}\")\n    \n            transition.event = scxml.state[i].transition[j].$.event\n            transition.destination = scxml.state[i].transition[j].$.target\n            state.transitions.push(transition)\n        \n        }\n    }\n    \n\n \n    msg.payload.fsm.push(state) \n}\n \n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":240,"wires":[[]]},{"id":"33c66668.b47cba","type":"subflow","name":"JSON->SCXML","info":"","category":"","in":[{"x":240,"y":220,"wires":[{"id":"ee87db.46b04828"}]}],"out":[{"x":760,"y":220,"wires":[{"id":"ee87db.46b04828","port":0}]}]},{"id":"ee87db.46b04828","type":"function","z":"33c66668.b47cba","name":"json to scxml","func":"var json = msg.payload\n\nmsg.payload = \"<scxml xmlns=\\\"http://www.w3.org/2005/07/scxml\\\" version=\\\"1.0\\\" initial=\\\"\"+json.init+\"\\\">\\n\"\n\n\nfor (var i = 0; i < json.fsm.length; i++) {\n    msg.payload += \"<state id = \\\"\"+ json.fsm[i].stateName+\"\\\">\\n\"\n    msg.payload += \"<onentry> <log expr=\\\"'Enter state : \"+ json.fsm[i].stateName +\"'\\\" /></onentry>\\n\"\n    msg.payload += \"<onexit> <log expr=\\\"'Exit state : \"+ json.fsm[i].stateName + \"'\\\" /></onexit>\\n\"\n    for (var j = 0; j < json.fsm[i].transitions.length; j++) {\n        msg.payload += \"<transition event=\\\"\"+json.fsm[i].transitions[j].event+\"\\\" target=\\\"\"+json.fsm[i].transitions[j].destination+\"\\\" />\\n\"\n    }\n    msg.payload += \"</state>\\n\"\n}\nmsg.payload += \"</scxml>\\n\"\n    \n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[[]]},{"id":"ad966685.5270b8","type":"subflow","name":"fsm editor","info":"","category":"","in":[{"x":80,"y":340,"wires":[{"id":"35927014.ca54a"}]}],"out":[{"x":2480,"y":460,"wires":[{"id":"aeea272a.760d28","port":1}]},{"x":2480,"y":260,"wires":[{"id":"aeea272a.760d28","port":0}]}]},{"id":"6baf4315.941e3c","type":"file","z":"ad966685.5270b8","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1190,"y":400,"wires":[["d92ce759.a23708"]]},{"id":"35927014.ca54a","type":"switch","z":"ad966685.5270b8","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"createState","vt":"str"},{"t":"eq","v":"createTransition","vt":"str"},{"t":"eq","v":"saveFSM","vt":"str"},{"t":"eq","v":"eraseAll","vt":"str"},{"t":"eq","v":"loadFSM","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":330,"y":340,"wires":[["4b97f69c.5876c8"],["68a8282c.0f5178"],["7909aea8.834b"],["d462e6f7.e04aa8"],["61051569.d3766c"]]},{"id":"7909aea8.834b","type":"function","z":"ad966685.5270b8","name":"get and save data ","func":"var json = flow.get('json') || JSON.parse(\"{\\\"fsm\\\":[]}\");\nmsg.filename = \"/tmp/editor/\" + msg.payload.data.name\nmsg.name = msg.payload.data.name\nmsg.payload = json\n\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":400,"wires":[["96403bcb.f18eb8","6edcefc0.179ec"]]},{"id":"d462e6f7.e04aa8","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":600,"wires":[["12a5cc52.c3f3d4"]]},{"id":"d92ce759.a23708","type":"function","z":"ad966685.5270b8","name":"send url to file","func":"var data = flow.get('data') || null\n\nmsg.payload = \"{\\\"action\\\":\\\"saveFSM\\\",\\\"data\\\" :{\\\"urlFrom\\\":\\\"http://localhost:1880/editor?file=\"+msg.name+\"\\\",\\\"name\\\":\\\"\"+msg.name+\"\\\"}}\"\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":400,"wires":[["cefbe9d3.5c81b8"]]},{"id":"aeea272a.760d28","type":"switch","z":"ad966685.5270b8","name":"","property":"payload.reply","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2170,"y":380,"wires":[[],[]]},{"id":"cefbe9d3.5c81b8","type":"json","z":"ad966685.5270b8","name":"","property":"payload","action":"","pretty":false,"x":2030,"y":380,"wires":[["aeea272a.760d28"]]},{"id":"61051569.d3766c","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.url = msg.payload.data.urlFrom\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":720,"wires":[["4175cae3.69c4d4"]]},{"id":"1f841cc7.e45723","type":"comment","z":"ad966685.5270b8","name":"saveFSM","info":"","x":560,"y":340,"wires":[]},{"id":"e6529637.45b208","type":"comment","z":"ad966685.5270b8","name":"erase","info":"","x":570,"y":560,"wires":[]},{"id":"c26a13d2.ce415","type":"comment","z":"ad966685.5270b8","name":"loadFSM","info":"","x":580,"y":680,"wires":[]},{"id":"92c3141c.797d88","type":"function","z":"ad966685.5270b8","name":"send reply","func":"msg.payload = {\"reply\" : \"log\",\"data\" : \"fsm successfully loaded\"}\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":720,"wires":[["cefbe9d3.5c81b8"]]},{"id":"12a5cc52.c3f3d4","type":"function","z":"ad966685.5270b8","name":"erasing","func":"var json = flow.get('json') || JSON.parse(\"{\\\"fsm\\\":[]}\");\njson = JSON.parse(\"{\\\"fsm\\\":[]}\");\nmsg.payload = json\nflow.set('json',json);\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":600,"wires":[["137a16c2.6f53e9"]]},{"id":"137a16c2.6f53e9","type":"debug","z":"ad966685.5270b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":600,"wires":[]},{"id":"4edbdc60.d5c364","type":"function","z":"ad966685.5270b8","name":"createState","func":"var json = flow.get('json') || JSON.parse(\"{\\\"fsm\\\":[]}\");\nfor (var i = 0; i < json.fsm.length; i++) {\n    if (msg.payload == json.fsm[i].stateName) {\n        msg.payload =  \"{\\\"reply\\\":\\\"error\\\",\\\"data\\\":\\\"State \"+msg.payload +\" already exists\\\"}\";\n        return msg\n    }\n}\n\nvar newjson = JSON.parse(\"{\\\"stateName\\\":\\\"\"+msg.payload+\"\\\",\\\"transitions\\\":[]}\")\njson.fsm.push(newjson)\n\nflow.set('json',json);\nmsg.payload = \"{\\\"reply\\\":\\\"log\\\",\\\"data\\\":\\\"State \"+ msg.payload +\" successfully added\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":120,"wires":[["cefbe9d3.5c81b8"]]},{"id":"4b97f69c.5876c8","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["4edbdc60.d5c364"]]},{"id":"68a8282c.0f5178","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":240,"wires":[["2d37a9d6.718db6"]]},{"id":"2d37a9d6.718db6","type":"function","z":"ad966685.5270b8","name":"create link","func":"var json = flow.get('json') || JSON.parse(\"{\\\"fsm\\\":[]}\");\n\n//destination error handler\nvar destinationExist = false\nfor (var i = 0; i < json.fsm.length; i++) {\n    if (json.fsm[i].stateName == msg.payload.destination) {\n        destinationExist = true\n    }\n}\nif (!destinationExist) {\n    msg.payload =  \"{\\\"reply\\\":\\\"error\\\",\\\"data\\\":\\\"Destination \"+msg.payload.destination +\" don't exist\\\"}\";\n    return msg\n}\n\n//origin error handler while adding transition\nvar originExist = false\nfor (var i = 0; i < json.fsm.length; i++) {\n    if (json.fsm[i].stateName == msg.payload.origin) {\n        var newjson = JSON.parse(\"{\\\"event\\\":\\\"\"+msg.payload.event+\"\\\",\\\"destination\\\":\\\"\"+msg.payload.destination +\"\\\"}\")\n        json.fsm[i].transitions.push(newjson)\n        originExist = true\n    }\n}\n\nif (!originExist) {\n    msg.payload =  \"{\\\"reply\\\":\\\"error\\\",\\\"data\\\":\\\"Origin  \"+msg.payload.origin +\" don't exist\\\"}\";\n    return msg\n}\n\n\nflow.set('json',json);\nmsg.payload = \"{\\\"reply\\\":\\\"log\\\",\\\"data\\\":\\\"State \"+ msg.payload +\" successfully added\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":240,"wires":[["cefbe9d3.5c81b8"]]},{"id":"96403bcb.f18eb8","type":"subflow:33c66668.b47cba","z":"ad966685.5270b8","name":"","x":780,"y":400,"wires":[["e65f0497.c3cfc8"]]},{"id":"29d004b5.36fffc","type":"function","z":"ad966685.5270b8","name":"from variables to XML","func":"var json = flow.get('json') || JSON.parse(\"{\\\"fsm\\\":[]}\");\njson = msg.payload\nflow.set('json',json);\nreturn msg","outputs":1,"noerr":0,"x":1300,"y":720,"wires":[["92c3141c.797d88","61498148.7a85"]]},{"id":"74cd7ab4.d65694","type":"subflow:a20fafc8.dc22c","z":"ad966685.5270b8","name":"","x":1100,"y":720,"wires":[["29d004b5.36fffc"]]},{"id":"61498148.7a85","type":"debug","z":"ad966685.5270b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1530,"y":800,"wires":[]},{"id":"933633be.d19c9","type":"xml","z":"ad966685.5270b8","name":"","property":"payload","attr":"","chr":"","x":910,"y":720,"wires":[["74cd7ab4.d65694"]]},{"id":"23fadd98.451a52","type":"comment","z":"ad966685.5270b8","name":"create transition","info":"","x":640,"y":200,"wires":[]},{"id":"6b22cc82.efa664","type":"comment","z":"ad966685.5270b8","name":"create State","info":"","x":630,"y":80,"wires":[]},{"id":"e65f0497.c3cfc8","type":"function","z":"ad966685.5270b8","name":"add name to msg","func":"var data = flow.get('data') || null\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":400,"wires":[["6baf4315.941e3c"]]},{"id":"4175cae3.69c4d4","type":"http request","z":"ad966685.5270b8","name":"","method":"GET","ret":"txt","url":"","x":710,"y":720,"wires":[["933633be.d19c9"]]},{"id":"6edcefc0.179ec","type":"debug","z":"ad966685.5270b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":480,"wires":[]},{"id":"744a6857.5888a8","type":"http response","z":"ad966685.5270b8","name":"","statusCode":"","headers":{},"x":1750,"y":60,"wires":[]},{"id":"14400076.2e985","type":"http in","z":"ad966685.5270b8","name":"","url":"/editor","method":"get","upload":false,"swaggerDoc":"","x":1180,"y":60,"wires":[["96f039e9.1543c8"]]},{"id":"96f039e9.1543c8","type":"function","z":"ad966685.5270b8","name":"","func":"msg.filename = \"/tmp/editor/\" + msg.req.query.file\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":60,"wires":[["4d167955.bfe5e8"]]},{"id":"4d167955.bfe5e8","type":"file in","z":"ad966685.5270b8","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":1550,"y":60,"wires":[["744a6857.5888a8"]]},{"id":"41c4e244.a43f4c","type":"tab","label":"integration Test","disabled":false,"info":""},{"id":"63a9a3d2.2442ac","type":"inject","z":"41c4e244.a43f4c","name":"","topic":"","payload":"{\"action\":\"createState\",\"data\":\"start\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["bd354024.9bf2e"]]},{"id":"bd354024.9bf2e","type":"subflow:ad966685.5270b8","z":"41c4e244.a43f4c","name":"","x":380,"y":180,"wires":[["e154e07d.f0522","7a031c96.ab6d74"],[]]},{"id":"100b2a89.78cad5","type":"inject","z":"41c4e244.a43f4c","name":"","topic":"","payload":"{\"action\":\"eraseAll\",\"data\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":120,"wires":[["bd354024.9bf2e"]]},{"id":"500f85fb.5af27c","type":"inject","z":"41c4e244.a43f4c","name":"","topic":"","payload":"{\"action\":\"createTransition\",\"data\":{\"origin\": \"start\" ,\"event\" : \"e\",\"destination\" : \"stop\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":300,"wires":[["bd354024.9bf2e"]]},{"id":"ded8e9b8.899108","type":"inject","z":"41c4e244.a43f4c","name":"","topic":"","payload":"{\"action\":\"saveFSM\",\"data\":{\"name\":\"editor\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":360,"wires":[["bd354024.9bf2e"]]},{"id":"4d2dde76.8cba6","type":"inject","z":"41c4e244.a43f4c","name":"","topic":"","payload":"{\"action\":\"createState\",\"data\":\"stop\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["bd354024.9bf2e"]]},{"id":"7a031c96.ab6d74","type":"subflow:eaca6ff9.364af","z":"41c4e244.a43f4c","name":"","x":630,"y":140,"wires":[["23e5688b.5ace38"],[]]},{"id":"7420ffb2.bac18","type":"comment","z":"41c4e244.a43f4c","name":"SaveFSM","info":"","x":180,"y":60,"wires":[]},{"id":"9f1c8ddc.49e18","type":"comment","z":"41c4e244.a43f4c","name":"loadFSM","info":"","x":180,"y":460,"wires":[]},{"id":"4aa9761a.358448","type":"subflow:eaca6ff9.364af","z":"41c4e244.a43f4c","name":"","x":350,"y":520,"wires":[["af5bbc38.36926"],["eb3bb141.be7ec"]]},{"id":"af5bbc38.36926","type":"subflow:ad966685.5270b8","z":"41c4e244.a43f4c","name":"","x":600,"y":480,"wires":[["9c5c49bc.6ec708"],["60d7ca7c.2659f4"]]},{"id":"f4056d1c.7f4f1","type":"inject","z":"41c4e244.a43f4c","name":"","topic":"","payload":"{\"action\":\"loadFSM\",\"data\":{\"name\":\"editor\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":520,"wires":[["4aa9761a.358448"]]},{"id":"40c104cb.a50d6c","type":"comment","z":"41c4e244.a43f4c","name":"launch Simulation(todo)","info":"","x":220,"y":620,"wires":[]},{"id":"4530d5bc.5e857c","type":"comment","z":"41c4e244.a43f4c","name":"saveTest","info":"","x":160,"y":760,"wires":[]},{"id":"577216e6.ebf658","type":"subflow:419fddef.3793c4","z":"41c4e244.a43f4c","name":"","x":620,"y":660,"wires":[["51d7008f.37611","b1b4b724.e334a8"],[]]},{"id":"51d7008f.37611","type":"subflow:eaca6ff9.364af","z":"41c4e244.a43f4c","name":"","x":810,"y":660,"wires":[["b6604f00.99253"],[]]},{"id":"9df9bc7a.f3d64","type":"inject","z":"41c4e244.a43f4c","name":"","topic":"","payload":"{\"action\":\"launchSimulation\",\"data\":{\"EventsFile\":\"events\",\"fsmFile\":\"editor\",\"logFile\":\"simLog\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":660,"wires":[["d010af3f.7127b"]]},{"id":"2a44c5c4.2984ba","type":"inject","z":"41c4e244.a43f4c","name":"","topic":"","payload":"{\"action\":\"launchTests\",\"data\":{\"testFile\":\"test\",\"fsmFile\":\"editor\",\"logFile\":\"modelLog\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1140,"wires":[["43591552.78c85c"]]},{"id":"d010af3f.7127b","type":"subflow:eaca6ff9.364af","z":"41c4e244.a43f4c","name":"","x":430,"y":660,"wires":[["577216e6.ebf658","8eb2fe88.efa65"],[]]},{"id":"43591552.78c85c","type":"subflow:eaca6ff9.364af","z":"41c4e244.a43f4c","name":"","x":370,"y":1140,"wires":[["47ac5669.584548","8ceafef6.f90b6"],[]]},{"id":"908e3371.880d9","type":"subflow:eaca6ff9.364af","z":"41c4e244.a43f4c","name":"","x":790,"y":1140,"wires":[["61023062.9c1ba"],[]]},{"id":"e154e07d.f0522","type":"debug","z":"41c4e244.a43f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":220,"wires":[]},{"id":"9c5c49bc.6ec708","type":"debug","z":"41c4e244.a43f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":440,"wires":[]},{"id":"eb3bb141.be7ec","type":"debug","z":"41c4e244.a43f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":540,"wires":[]},{"id":"23e5688b.5ace38","type":"debug","z":"41c4e244.a43f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":140,"wires":[]},{"id":"60d7ca7c.2659f4","type":"debug","z":"41c4e244.a43f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":500,"wires":[]},{"id":"61023062.9c1ba","type":"debug","z":"41c4e244.a43f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":1140,"wires":[]},{"id":"140cf090.41643f","type":"inject","z":"41c4e244.a43f4c","name":"","topic":"","payload":"{\"action\":\"saveTests\",\"data\":{\"name\":\"test\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":900,"wires":[["12004b6d.3eccc5"]]},{"id":"4743862a.5b83a8","type":"comment","z":"41c4e244.a43f4c","name":"loadTest","info":"","x":160,"y":980,"wires":[]},{"id":"79e4b3c3.37dcdc","type":"comment","z":"41c4e244.a43f4c","name":"launch Tests","info":"","x":170,"y":1100,"wires":[]},{"id":"10224fa5.cc606","type":"inject","z":"41c4e244.a43f4c","name":"","topic":"","payload":"{\"action\":\"addTest\",\"data\":\"SPEC AG (state = cold1-warm2)\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":820,"wires":[["12004b6d.3eccc5"]]},{"id":"46b81012.7f97d","type":"subflow:eaca6ff9.364af","z":"41c4e244.a43f4c","name":"","x":570,"y":860,"wires":[["a0025c8e.e45ed"],[]]},{"id":"a0025c8e.e45ed","type":"debug","z":"41c4e244.a43f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":860,"wires":[]},{"id":"e3b1856a.72b998","type":"inject","z":"41c4e244.a43f4c","name":"","topic":"","payload":"{\"action\":\"loadTests\",\"data\":{\"name\":\"test\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1020,"wires":[["fa5a7390.6720e"]]},{"id":"fa5a7390.6720e","type":"subflow:eaca6ff9.364af","z":"41c4e244.a43f4c","name":"","x":350,"y":1020,"wires":[["26f70e3f.3914d2","b04d3af4.5ae238"],[]]},{"id":"16f59fa6.0b629","type":"debug","z":"41c4e244.a43f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":780,"wires":[]},{"id":"63eb91ec.ebaa9","type":"debug","z":"41c4e244.a43f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1020,"wires":[]},{"id":"26f70e3f.3914d2","type":"debug","z":"41c4e244.a43f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":940,"wires":[]},{"id":"47ac5669.584548","type":"debug","z":"41c4e244.a43f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":1220,"wires":[]},{"id":"df0fd8a6.c4c4f8","type":"debug","z":"41c4e244.a43f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1220,"wires":[]},{"id":"8ceafef6.f90b6","type":"subflow:f3951f17.16e13","z":"41c4e244.a43f4c","name":"","x":580,"y":1140,"wires":[["908e3371.880d9","df0fd8a6.c4c4f8"],[]]},{"id":"12004b6d.3eccc5","type":"subflow:f3951f17.16e13","z":"41c4e244.a43f4c","name":"","x":360,"y":860,"wires":[["16f59fa6.0b629","46b81012.7f97d"],[]]},{"id":"b04d3af4.5ae238","type":"subflow:f3951f17.16e13","z":"41c4e244.a43f4c","name":"","x":580,"y":1020,"wires":[["63eb91ec.ebaa9"],[]]},{"id":"b6604f00.99253","type":"debug","z":"41c4e244.a43f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":660,"wires":[]},{"id":"b1b4b724.e334a8","type":"debug","z":"41c4e244.a43f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":720,"wires":[]},{"id":"8eb2fe88.efa65","type":"debug","z":"41c4e244.a43f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":720,"wires":[]}]
