test/unit_test
[{"id":"a20fafc8.dc22c","type":"subflow","name":"SCXML->JSON","info":"","category":"","in":[{"x":240,"y":240,"wires":[{"id":"9d093e6f.b6006"}]}],"out":[{"x":880,"y":240,"wires":[{"id":"9d093e6f.b6006","port":0}]}]},{"id":"9d093e6f.b6006","type":"function","z":"a20fafc8.dc22c","name":"parse XML to JSON","func":"var scxml = msg.payload.scxml\n\nmsg.payload = JSON.parse(\"{\\\"fsm\\\":[]}\")\nmsg.payload.init = scxml.$.initial\n\nfor (var i = 0; i < scxml.state.length; i++) {\n\n    var state = JSON.parse(\"{\\\"transitions\\\":[]}\")\n    state.stateName = scxml.state[i].$.id\n\n    for (var j = 0; j < scxml.state[i].transition.length; j++) {\n        var transition = JSON.parse(\"{}\")\n\n        transition.event = scxml.state[i].transition[j].$.event\n        transition.destination = scxml.state[i].transition[j].$.target\n        state.transitions.push(transition)\n    \n    }\n \n    msg.payload.fsm.push(state) \n}\n \n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":240,"wires":[[]]},{"id":"b66cc172.70e4d","type":"subflow","name":"loadFile","info":"","category":"","in":[{"x":280,"y":240,"wires":[{"id":"fed3fe4e.207fe"}]}],"out":[{"x":920,"y":200,"wires":[{"id":"fed3fe4e.207fe","port":0}]},{"x":960,"y":260,"wires":[{"id":"fed3fe4e.207fe","port":1}]}]},{"id":"fed3fe4e.207fe","type":"exec","z":"b66cc172.70e4d","command":"python script/loadFile.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":240,"wires":[[],[],[]]},{"id":"8e8b9a08.8e1c58","type":"subflow","name":"saveFile","info":"","category":"","in":[{"x":160,"y":120,"wires":[{"id":"35d0006f.052fa"}]}],"out":[{"x":900,"y":100,"wires":[{"id":"47bbdd69.a17c34","port":0}]},{"x":900,"y":160,"wires":[{"id":"47bbdd69.a17c34","port":1}]}]},{"id":"35d0006f.052fa","type":"function","z":"8e8b9a08.8e1c58","name":"argument to save file exec","func":"msg.payload = msg.payload.path + \" \" + msg.payload.urlData\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["47bbdd69.a17c34"]]},{"id":"47bbdd69.a17c34","type":"exec","z":"8e8b9a08.8e1c58","command":"python script/saveFile.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":120,"wires":[[],[],[]]},{"id":"eaca6ff9.364af","type":"subflow","name":"file storage","info":"","category":"","in":[{"x":80,"y":280,"wires":[{"id":"b8289b55.dbc6a8"}]}],"out":[{"x":1540,"y":280,"wires":[{"id":"19f6678a.add888","port":0}]},{"x":1540,"y":360,"wires":[{"id":"19f6678a.add888","port":1}]}]},{"id":"fe3b3a6a.42d298","type":"http in","z":"eaca6ff9.364af","name":"","url":"/fsm-file","method":"get","upload":false,"swaggerDoc":"","x":170,"y":660,"wires":[["10d8f4cf.38c5ab"]]},{"id":"10d8f4cf.38c5ab","type":"file in","z":"eaca6ff9.364af","name":"","filename":"storage.scxml","format":"","sendError":true,"x":360,"y":660,"wires":[["9bedc0ee.6cfc8"]]},{"id":"9bedc0ee.6cfc8","type":"http response","z":"eaca6ff9.364af","name":"","x":510,"y":660,"wires":[]},{"id":"784ba9dc.e10248","type":"comment","z":"eaca6ff9.364af","name":"Save","info":"","x":250,"y":200,"wires":[]},{"id":"f017d38e.66149","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["3fb98fc3.8e814","773f5ab8.38d974"]]},{"id":"b8289b55.dbc6a8","type":"switch","z":"eaca6ff9.364af","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"saveFSM","vt":"str"},{"t":"eq","v":"launchSimulation","vt":"str"},{"t":"eq","v":"launchTests","vt":"str"},{"t":"eq","v":"saveSimLog","vt":"str"},{"t":"eq","v":"saveModelLog","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":250,"y":280,"wires":[["f017d38e.66149"],["1bc6e077.10545"],["74fa8e13.a1923"],["e7e70228.499d2"],["d9063f67.5c21c"]]},{"id":"1bc6e077.10545","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":280,"wires":[["e5445c44.293c4"]]},{"id":"e5445c44.293c4","type":"function","z":"eaca6ff9.364af","name":"load scxml (todo)","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":280,"wires":[["2daa53c0.bb3edc"]]},{"id":"2daa53c0.bb3edc","type":"function","z":"eaca6ff9.364af","name":"send request to Simulator","func":"msg.payload = {\"action\":\"launchSimulation\",\"data\":\"http://localhost:1880/fsm-file\"}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":280,"wires":[["90cef6a6.734788"]]},{"id":"74fa8e13.a1923","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":340,"wires":[["28947d84.28ec02"]]},{"id":"28947d84.28ec02","type":"function","z":"eaca6ff9.364af","name":"load scxml (todo)","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":340,"wires":[["2b2d44b0.e0a89c"]]},{"id":"2b2d44b0.e0a89c","type":"function","z":"eaca6ff9.364af","name":"send request to model check","func":"msg.payload = {\"action\":\"launchTests\",\"data\":\"http://localhost:1880/fsm-file\"}\nreturn msg;","outputs":1,"noerr":0,"x":959,"y":340,"wires":[["90cef6a6.734788"]]},{"id":"e7e70228.499d2","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":400,"wires":[["87b81432.ebee48"]]},{"id":"87b81432.ebee48","type":"file","z":"eaca6ff9.364af","name":"","filename":"simLog/log","appendNewline":true,"createDir":false,"overwriteFile":"true","x":690,"y":400,"wires":[[]]},{"id":"d9063f67.5c21c","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":460,"wires":[["88d6a867.f18d58","3aadd205.28ceae"]]},{"id":"88d6a867.f18d58","type":"debug","z":"eaca6ff9.364af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":520,"wires":[]},{"id":"19f6678a.add888","type":"switch","z":"eaca6ff9.364af","name":"","property":"payload.reply","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":300,"wires":[[],[]]},{"id":"90cef6a6.734788","type":"json","z":"eaca6ff9.364af","name":"","property":"payload","action":"","pretty":false,"x":1270,"y":300,"wires":[["19f6678a.add888"]]},{"id":"3fb98fc3.8e814","type":"subflow:8e8b9a08.8e1c58","z":"eaca6ff9.364af","name":"","x":900,"y":220,"wires":[[],[]]},{"id":"773f5ab8.38d974","type":"debug","z":"eaca6ff9.364af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":140,"wires":[]},{"id":"3aadd205.28ceae","type":"subflow:b66cc172.70e4d","z":"eaca6ff9.364af","name":"","x":740,"y":460,"wires":[[],[]]},{"id":"e85fda20.000ee8","type":"function","z":"eaca6ff9.364af","name":"send request to fsm editor","func":"msg.payload = {\"action\":\"loadFSM\",\"data\":\"/home/tibo/Documents/polytech_si5/PFE/test/tmp/storage.scxml\"}\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":460,"wires":[[]]},{"id":"f3951f17.16e13","type":"subflow","name":"Model Checker","info":"","category":"","in":[{"x":100,"y":220,"wires":[{"id":"fd559e2a.1a2cf"}]}],"out":[{"x":1700,"y":60,"wires":[{"id":"66b1a3c.b262a5c","port":0}]}]},{"id":"31a8a33f.2ec00c","type":"exec","z":"f3951f17.16e13","command":"./NuSMV modelCheck/state.smv","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1270,"y":80,"wires":[["66b1a3c.b262a5c"],["4e1c55f0.692b0c"],[]]},{"id":"7af59a25.3eead4","type":"comment","z":"f3951f17.16e13","name":"launch tests","info":"","x":550,"y":20,"wires":[]},{"id":"1c5e70f6.38f35f","type":"comment","z":"f3951f17.16e13","name":"add a test","info":"","x":560,"y":160,"wires":[]},{"id":"96c7535f.296d5","type":"http request","z":"f3951f17.16e13","name":"getSMV","method":"GET","ret":"txt","url":"http://localhost:1880/smv-file","tls":"","x":540,"y":80,"wires":[["b38cd2f3.ce68e"]]},{"id":"3a8b6896.7656d8","type":"function","z":"f3951f17.16e13","name":"add test to tab 'tests'","func":"var tests = flow.get('tests') || [];\ntests.push(msg.payload);\nflow.set('tests',tests);\nmsg.payload = tests;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["96796424.c54228"]]},{"id":"96796424.c54228","type":"debug","z":"f3951f17.16e13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":220,"wires":[]},{"id":"b38cd2f3.ce68e","type":"function","z":"f3951f17.16e13","name":"add tests to file","func":"var tests = flow.get('tests') || [];\nfor (var i = 0; i < tests.length; i++) {\n    msg.payload = msg.payload + \"\\n\" +tests[i];\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":80,"wires":[["a81c6559.6b8f68"]]},{"id":"87ac443d.b38368","type":"comment","z":"f3951f17.16e13","name":"reset tests","info":"","x":580,"y":280,"wires":[]},{"id":"b647bb4c.1496c8","type":"function","z":"f3951f17.16e13","name":"clean 'tests' tab","func":"var tests = flow.get('tests') || [];\ntests.pop();\nflow.set('tests',tests);\nmsg.payload = tests;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":340,"wires":[["d2567b98.a0dc68"]]},{"id":"d2567b98.a0dc68","type":"debug","z":"f3951f17.16e13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":340,"wires":[]},{"id":"a81c6559.6b8f68","type":"file","z":"f3951f17.16e13","name":"","filename":"modelCheck/buff.smv","appendNewline":false,"createDir":true,"overwriteFile":"true","x":980,"y":80,"wires":[["31a8a33f.2ec00c"]]},{"id":"53f8b623.1d9aa8","type":"function","z":"f3951f17.16e13","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":80,"wires":[["96c7535f.296d5"]]},{"id":"fd559e2a.1a2cf","type":"switch","z":"f3951f17.16e13","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"launchTests","vt":"str"},{"t":"eq","v":"addTest","vt":"str"},{"t":"eq","v":"resetTests","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":230,"y":220,"wires":[["53f8b623.1d9aa8"],["e7c04183.8036b"],["b647bb4c.1496c8"]]},{"id":"e7c04183.8036b","type":"function","z":"f3951f17.16e13","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["3a8b6896.7656d8"]]},{"id":"66b1a3c.b262a5c","type":"function","z":"f3951f17.16e13","name":"savemodel","func":"msg.payload = \"{\\\"action\\\":\\\"saveModelLog\\\",\\\"data\\\":\\\"\"+msg.payload+\"\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":60,"wires":[[]]},{"id":"4e1c55f0.692b0c","type":"debug","z":"f3951f17.16e13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1550,"y":120,"wires":[]},{"id":"bbe34270.ed0d8","type":"subflow","name":"SCXML->SMV","info":"","category":"","in":[{"x":40,"y":160,"wires":[{"id":"2a99acee.1584d4"}]}],"out":[{"x":1200,"y":160,"wires":[{"id":"1a7bcf50.06bd61","port":0}]}]},{"id":"825ad99b.647828","type":"http request","z":"bbe34270.ed0d8","name":"getSCXML","method":"GET","ret":"txt","url":"http://localhost:1880/fsm-file","tls":"","x":290,"y":160,"wires":[["277320fd.f7f08"]]},{"id":"19c8a6b8.974289","type":"http in","z":"bbe34270.ed0d8","name":"","url":"/smv-file","method":"get","upload":false,"swaggerDoc":"","x":250,"y":300,"wires":[["d5e746b6.bdbb98"]]},{"id":"d5e746b6.bdbb98","type":"file in","z":"bbe34270.ed0d8","name":"","filename":"tmp/state.smv","format":"","sendError":true,"x":440,"y":300,"wires":[["b94f5c04.e3189"]]},{"id":"b94f5c04.e3189","type":"http response","z":"bbe34270.ed0d8","name":"","statusCode":"","headers":{},"x":590,"y":300,"wires":[]},{"id":"ed9b0686.62c928","type":"function","z":"bbe34270.ed0d8","name":"from scxml to smv","func":"var init = msg.payload.scxml.$.initial;\nvar states = [];\nvar transitions = [];\nfor (var i = 0; i < msg.payload.scxml.state.length; i++) {\n    var currentState = msg.payload.scxml.state[i].$.id\n    states.push(currentState);\n    var transitionLength;\n    if (msg.payload.scxml.state[i].transition != null) {\n        transitionLength = msg.payload.scxml.state[i].transition.length\n    }else{\n        transitionLength = 0;\n    }\n    for (var j = 0; j < transitionLength; j++) {\n        var transitionAttribute = msg.payload.scxml.state[i].transition[j].$;\n        var currentTransition = [currentState, transitionAttribute.event,transitionAttribute.target];\n        transitions.push(currentTransition);\n    }\n    \n}\n\nmsg.payload = \"MODULE main \\n\\tVAR\\n\\t\\tstate : {\"\nvar listStates = \"\";\nfor (var i = 0; i < states.length; i++) {\n    if(i !== 0){\n       listStates = listStates + \",\" ;\n    }\n    listStates = listStates + states[i];\n}\n\nmsg.payload = msg.payload + listStates;\n\nmsg.payload = msg.payload + \"};\\n\tASSIGN\\n\\t\\tinit(state) := \";\nmsg.payload = msg.payload + init+\";\";\nmsg.payload = msg.payload + \"\\n\\t\\tnext(state) := \\n\\t\\t\\tcase\\n\";\n\n//for to create all the conditions\nfor (var i = 0; i < transitions.length; i++) {\n    msg.payload = msg.payload + \"\\t\\t\\t\\tstate = \" + transitions[i][0] + \" : \" + transitions[i][2]+\";\\n\";\n}\n\nmsg.payload = msg.payload + \"\\t\\t\\t\\tTRUE : {\" +listStates + \"};\\n\\t\\t\\tesac;\\n\";\n\n\nreturn msg; ","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["95719736.6bc6d8"]]},{"id":"95719736.6bc6d8","type":"file","z":"bbe34270.ed0d8","name":"","filename":"tmp/state.smv","appendNewline":true,"createDir":false,"overwriteFile":"true","x":860,"y":160,"wires":[["1a7bcf50.06bd61"]]},{"id":"277320fd.f7f08","type":"xml","z":"bbe34270.ed0d8","name":"","property":"payload","attr":"","chr":"","x":450,"y":160,"wires":[["ed9b0686.62c928"]]},{"id":"1a7bcf50.06bd61","type":"function","z":"bbe34270.ed0d8","name":"Send URL address","func":"msg.payload = {\"action\":\"launchTests\",\"data\":\"http://localhost:1880/smv-file\"}\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":160,"wires":[[]]},{"id":"2a99acee.1584d4","type":"switch","z":"bbe34270.ed0d8","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"launchTests","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":160,"wires":[["825ad99b.647828"]]},{"id":"419fddef.3793c4","type":"subflow","name":"simulator","info":"","category":"","in":[{"x":180,"y":440,"wires":[{"id":"5a9e8da1.7b2fb4"}]}],"out":[{"x":1760,"y":420,"wires":[{"id":"70c70105.f1f72","port":0}]},{"x":1760,"y":520,"wires":[{"id":"70c70105.f1f72","port":1}]}]},{"id":"cc43375c.850268","type":"comment","z":"419fddef.3793c4","name":"get current state","info":"","x":700,"y":600,"wires":[]},{"id":"5327e139.cba9b","type":"function","z":"419fddef.3793c4","name":"getCurrentSim","func":"//var count=context.get('count') || 0;\nvar file=flow.get('currentState') || null;\nif(file == null){\n    msg.payload=\"no simulation running\";\n}\nelse{\n    msg.payload= file;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":640,"wires":[["bb59e262.22e8d"]]},{"id":"bb59e262.22e8d","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":640,"wires":[]},{"id":"2c054b7f.a3e9c4","type":"comment","z":"419fddef.3793c4","name":"Start","info":"","x":670,"y":280,"wires":[]},{"id":"9236418d.ee9bb","type":"http request","z":"419fddef.3793c4","name":"getScxml","method":"GET","ret":"txt","url":"http://localhost:1880/fsm-file","tls":"","x":860,"y":320,"wires":[["bebec7eb.b46838"]]},{"id":"17984df0.987ed2","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1270,"y":240,"wires":[]},{"id":"475a7886.b5e1f8","type":"function","z":"419fddef.3793c4","name":"Start","func":"var state = flow.get('currentState') || null;\nvar initial = msg.payload.scxml.$.initial\nfor (var i = 0; i < msg.payload.scxml.state.length; i++) {\n    if (msg.payload.scxml.state[i].$.id == initial) {\n        state = msg.payload.scxml.state[i];\n    }\n}\n\nflow.set('currentState',state);\n\nvar fsm = flow.get('FSM') || null;\nfsm = msg.payload\nflow.set('FSM',fsm);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":320,"wires":[["17984df0.987ed2"]]},{"id":"74dfd0fd.88e23","type":"comment","z":"419fddef.3793c4","name":"End Simulation","info":"","x":700,"y":380,"wires":[]},{"id":"67dccf9b.b1a8","type":"function","z":"419fddef.3793c4","name":"End","func":"var fsm=flow.get('FSM') || null;\nfsm = null;\nflow.set('FSM',fsm);\n\nvar state=flow.get('currentState') || null;\nstate = null;\nflow.set('currentState',state);\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":440,"wires":[["936f533d.56823"]]},{"id":"936f533d.56823","type":"debug","z":"419fddef.3793c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":380,"wires":[]},{"id":"82e7d95e.2a9638","type":"comment","z":"419fddef.3793c4","name":"inject event","info":"","x":690,"y":500,"wires":[]},{"id":"c9a090ea.f676d","type":"function","z":"419fddef.3793c4","name":"Inject","func":"var fsm=flow.get('FSM') || null;\nvar state=flow.get('currentState') || null;\nvar destination = null;\n\nfor (var i = 0; i < state.transition.length; i++) {\n    if (state.transition[i].$.event == msg.payload) {\n        destination = state.transition[i].$.target\n    }\n}\n\nif (destination !== null) {\n    for (var i = 0; i < fsm.scxml.state.length; i++) {\n        if (fsm.scxml.state[i].$.id == destination) {\n            state = fsm.scxml.state[i];\n        }\n    }\n}\nmsg.payload = state\nflow.set('currentState',state);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":540,"wires":[[]]},{"id":"bebec7eb.b46838","type":"xml","z":"419fddef.3793c4","name":"","property":"payload","attr":"","chr":"","x":1010,"y":320,"wires":[["475a7886.b5e1f8"]]},{"id":"5a9e8da1.7b2fb4","type":"switch","z":"419fddef.3793c4","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"launchSimulation","vt":"str"},{"t":"eq","v":"endSimulation","vt":"str"},{"t":"eq","v":"injectEvent","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"launchCompleteSimulation","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":290,"y":440,"wires":[["59f4fb0b.ba51e4"],["d4a5c1ad.98887"],["3d8780fa.61cc6"],["c750c495.9f0628"],["1571ef54.ddf421"]]},{"id":"59f4fb0b.ba51e4","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":320,"wires":[["9236418d.ee9bb"]]},{"id":"d4a5c1ad.98887","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":440,"wires":[["67dccf9b.b1a8"]]},{"id":"3d8780fa.61cc6","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":540,"wires":[["c9a090ea.f676d"]]},{"id":"c750c495.9f0628","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":640,"wires":[["5327e139.cba9b"]]},{"id":"70c70105.f1f72","type":"switch","z":"419fddef.3793c4","name":"","property":"payload.reply","propertyType":"msg","rules":[{"t":"eq","v":"log","vt":"str"},{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1590,"y":480,"wires":[[],[]]},{"id":"bc2c8ebc.ec8fa","type":"json","z":"419fddef.3793c4","name":"","property":"payload","action":"","pretty":false,"x":1450,"y":480,"wires":[["70c70105.f1f72"]]},{"id":"249902de.bf452e","type":"exec","z":"419fddef.3793c4","command":"python script/main.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":920,"y":800,"wires":[["3f381098.a66d4","1186c15f.30ea4f"],["c88aacab.d475a"],[]]},{"id":"1571ef54.ddf421","type":"function","z":"419fddef.3793c4","name":"argument to python","func":"msg.payload = msg.payload.data.fsmFile+\" \" + msg.payload.data.eventList\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":800,"wires":[["249902de.bf452e"]]},{"id":"c88aacab.d475a","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":900,"wires":[]},{"id":"3f381098.a66d4","type":"function","z":"419fddef.3793c4","name":"create state","func":"msg.payload = \"{\\\"reply\\\":\\\"log\\\",\\\"data\\\":\\\"log successfully added\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":720,"wires":[["bc2c8ebc.ec8fa"]]},{"id":"1186c15f.30ea4f","type":"file","z":"419fddef.3793c4","name":"","filename":"simLog/log","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1170,"y":780,"wires":[[]]},{"id":"33c66668.b47cba","type":"subflow","name":"JSON->SCXML","info":"","category":"","in":[{"x":240,"y":220,"wires":[{"id":"ee87db.46b04828"}]}],"out":[{"x":760,"y":220,"wires":[{"id":"ee87db.46b04828","port":0}]}]},{"id":"ee87db.46b04828","type":"function","z":"33c66668.b47cba","name":"json to scxml","func":"var json = msg.payload\n\nmsg.payload = \"<scxml xmlns=\\\"http://www.w3.org/2005/07/scxml\\\" version=\\\"1.0\\\" initial=\\\"\"+json.init+\"\\\">\\n\"\n\n\nfor (var i = 0; i < json.fsm.length; i++) {\n    msg.payload += \"<state id = \\\"\"+ json.fsm[i].stateName+\"\\\">\\n\"\n    msg.payload += \"<onentry> <log expr=\\\"'Enter state : \"+ json.fsm[i].stateName +\"'\\\" /></onentry>\\n\"\n    msg.payload += \"<onexit> <log expr=\\\"'Exit state : \"+ json.fsm[i].stateName + \"'\\\" /></onexit>\\n\"\n    for (var j = 0; j < json.fsm[i].transitions.length; j++) {\n        msg.payload += \"<transition event=\\\"\"+json.fsm[i].transitions[j].event+\"\\\" target=\\\"\"+json.fsm[i].transitions[j].destination+\"\\\" />\\n\"\n    }\n    msg.payload += \"</state>\\n\"\n}\nmsg.payload += \"</scxml>\\n\"\n    \n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[[]]},{"id":"ad966685.5270b8","type":"subflow","name":"fsm editor","info":"","category":"","in":[{"x":120,"y":340,"wires":[{"id":"35927014.ca54a"}]}],"out":[{"x":1620,"y":400,"wires":[{"id":"aeea272a.760d28","port":1}]},{"x":1620,"y":300,"wires":[{"id":"aeea272a.760d28","port":0}]}]},{"id":"ec337cd9.dd881","type":"http in","z":"ad966685.5270b8","name":"","url":"/editor-file","method":"get","upload":false,"swaggerDoc":"","x":320,"y":1040,"wires":[["c92a63f8.b11ab"]]},{"id":"c92a63f8.b11ab","type":"file in","z":"ad966685.5270b8","name":"","filename":"tmp/editor.scxml","format":"","sendError":true,"x":520,"y":1040,"wires":[["a92b4590.16eb08"]]},{"id":"a92b4590.16eb08","type":"http response","z":"ad966685.5270b8","name":"","statusCode":"","headers":{},"x":670,"y":1040,"wires":[]},{"id":"6baf4315.941e3c","type":"file","z":"ad966685.5270b8","name":"","filename":"tmp/editor.scxml","appendNewline":true,"createDir":false,"overwriteFile":"true","x":940,"y":400,"wires":[["d92ce759.a23708"]]},{"id":"35927014.ca54a","type":"switch","z":"ad966685.5270b8","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"createState","vt":"str"},{"t":"eq","v":"createTransition","vt":"str"},{"t":"eq","v":"saveFSM","vt":"str"},{"t":"eq","v":"eraseAll","vt":"str"},{"t":"eq","v":"loadFSM","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":230,"y":340,"wires":[["4b97f69c.5876c8"],["68a8282c.0f5178"],["7909aea8.834b"],["d462e6f7.e04aa8"],["61051569.d3766c"]]},{"id":"7909aea8.834b","type":"function","z":"ad966685.5270b8","name":"get and save data ","func":"var json = flow.get('json') || JSON.parse(\"{\\\"fsm\\\":[]}\");\nvar data = flow.get('data') || null\ndata = msg.payload.data\nmsg.payload = json\n\nflow.set('data',data);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["96403bcb.f18eb8"]]},{"id":"d462e6f7.e04aa8","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":600,"wires":[["12a5cc52.c3f3d4"]]},{"id":"d92ce759.a23708","type":"function","z":"ad966685.5270b8","name":"send url to file","func":"var data = flow.get('data') || null\n\nmsg.payload = \"{\\\"action\\\" : \\\"saveFSM\\\",\\\"data\\\" :{\\\"path\\\":\\\"\"+data.path+\"\\\",\\\"urlData\\\":\\\"\"+data.urlData+\"\\\"}}\"\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":400,"wires":[["cefbe9d3.5c81b8"]]},{"id":"aeea272a.760d28","type":"switch","z":"ad966685.5270b8","name":"","property":"payload.reply","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1490,"y":360,"wires":[[],[]]},{"id":"cefbe9d3.5c81b8","type":"json","z":"ad966685.5270b8","name":"","property":"payload","action":"","pretty":false,"x":1350,"y":360,"wires":[["aeea272a.760d28"]]},{"id":"61051569.d3766c","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":720,"wires":[["29d004b5.36fffc"]]},{"id":"1f841cc7.e45723","type":"comment","z":"ad966685.5270b8","name":"saveFSM","info":"","x":460,"y":340,"wires":[]},{"id":"e6529637.45b208","type":"comment","z":"ad966685.5270b8","name":"erase","info":"","x":470,"y":560,"wires":[]},{"id":"c26a13d2.ce415","type":"comment","z":"ad966685.5270b8","name":"loadFSM","info":"","x":440,"y":680,"wires":[]},{"id":"92c3141c.797d88","type":"function","z":"ad966685.5270b8","name":"send path to file","func":"msg.payload = {\"reply\" : \"log\",\"data\" : \"fsm successfully loaded\"}\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":720,"wires":[["cefbe9d3.5c81b8"]]},{"id":"12a5cc52.c3f3d4","type":"function","z":"ad966685.5270b8","name":"erasing","func":"var json = flow.get('json') || JSON.parse(\"{\\\"fsm\\\":[]}\");\njson = JSON.parse(\"{\\\"fsm\\\":[]}\");\nmsg.payload = json\nflow.set('json',json);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":600,"wires":[["137a16c2.6f53e9"]]},{"id":"137a16c2.6f53e9","type":"debug","z":"ad966685.5270b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":600,"wires":[]},{"id":"4edbdc60.d5c364","type":"function","z":"ad966685.5270b8","name":"createState","func":"var json = flow.get('json') || JSON.parse(\"{\\\"fsm\\\":[]}\");\nfor (var i = 0; i < json.fsm.length; i++) {\n    if (msg.payload == json.fsm[i].stateName) {\n        msg.payload =  \"{\\\"reply\\\":\\\"error\\\",\\\"data\\\":\\\"State \"+msg.payload +\" already exists\\\"}\";\n        return msg\n    }\n}\n\nvar newjson = JSON.parse(\"{\\\"stateName\\\":\\\"\"+msg.payload+\"\\\",\\\"transitions\\\":[]}\")\njson.fsm.push(newjson)\n\nflow.set('json',json);\nmsg.payload = \"{\\\"reply\\\":\\\"log\\\",\\\"data\\\":\\\"State \"+ msg.payload +\" successfully added\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":120,"wires":[["cefbe9d3.5c81b8"]]},{"id":"4b97f69c.5876c8","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":120,"wires":[["4edbdc60.d5c364"]]},{"id":"68a8282c.0f5178","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":240,"wires":[["2d37a9d6.718db6"]]},{"id":"2d37a9d6.718db6","type":"function","z":"ad966685.5270b8","name":"create link","func":"var json = flow.get('json') || JSON.parse(\"{\\\"fsm\\\":[]}\");\n\n//destination error handler\nvar destinationExist = false\nfor (var i = 0; i < json.fsm.length; i++) {\n    if (json.fsm[i].stateName == msg.payload.destination) {\n        destinationExist = true\n    }\n}\nif (!destinationExist) {\n    msg.payload =  \"{\\\"reply\\\":\\\"error\\\",\\\"data\\\":\\\"Destination \"+msg.payload.destination +\" don't exist\\\"}\";\n    return msg\n}\n\n//origin error handler while adding transition\nvar originExist = false\nfor (var i = 0; i < json.fsm.length; i++) {\n    if (json.fsm[i].stateName == msg.payload.origin) {\n        var newjson = JSON.parse(\"{\\\"event\\\":\\\"\"+msg.payload.event+\"\\\",\\\"destination\\\":\\\"\"+msg.payload.destination +\"\\\"}\")\n        json.fsm[i].transitions.push(newjson)\n        originExist = true\n    }\n}\n\nif (!originExist) {\n    msg.payload =  \"{\\\"reply\\\":\\\"error\\\",\\\"data\\\":\\\"Origin  \"+msg.payload.origin +\" don't exist\\\"}\";\n    return msg\n}\n\n\nflow.set('json',json);\nmsg.payload = \"{\\\"reply\\\":\\\"log\\\",\\\"data\\\":\\\"State \"+ msg.payload +\" successfully added\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":240,"wires":[["cefbe9d3.5c81b8"]]},{"id":"96403bcb.f18eb8","type":"subflow:33c66668.b47cba","z":"ad966685.5270b8","name":"","x":700,"y":400,"wires":[["6baf4315.941e3c"]]},{"id":"29d004b5.36fffc","type":"function","z":"ad966685.5270b8","name":"from variables to XML","func":"var json = flow.get('json') || JSON.parse(\"{\\\"fsm\\\":[]}\");\njson = msg.payload\nflow.set('json',json);\nreturn msg","outputs":1,"noerr":0,"x":660,"y":720,"wires":[["92c3141c.797d88"]]},{"id":"71dda835.d0dcf8","type":"tab","label":"Unit Test","disabled":false,"info":""},{"id":"c739b45a.75d2c8","type":"inject","z":"71dda835.d0dcf8","name":"","topic":"","payload":"{\"action\":\"createState\",\"data\":\"start\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":140,"wires":[["7e090854.45d4f8"]]},{"id":"7e090854.45d4f8","type":"subflow:ad966685.5270b8","z":"71dda835.d0dcf8","name":"","x":460,"y":140,"wires":[["1755074b.7a2479"],["2ddc5887.26f258"]]},{"id":"cbb0f545.f7b188","type":"subflow:419fddef.3793c4","z":"71dda835.d0dcf8","name":"","x":440,"y":660,"wires":[["1b41021c.77528e"],[]]},{"id":"1755074b.7a2479","type":"debug","z":"71dda835.d0dcf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":720,"y":80,"wires":[]},{"id":"2ddc5887.26f258","type":"debug","z":"71dda835.d0dcf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":200,"wires":[]},{"id":"e830bdd5.cedd","type":"inject","z":"71dda835.d0dcf8","name":"","topic":"","payload":"{\"action\":\"eraseAll\",\"data\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":80,"wires":[["7e090854.45d4f8"]]},{"id":"9245ef40.209a3","type":"inject","z":"71dda835.d0dcf8","name":"","topic":"","payload":"{\"action\":\"createTransition\",\"data\":{\"origin\": \"start\" ,\"event\" : \"e\",\"destination\" : \"stop\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":260,"wires":[["7e090854.45d4f8"]]},{"id":"dc80d249.35dd1","type":"inject","z":"71dda835.d0dcf8","name":"","topic":"","payload":"{\"action\":\"launchCompleteSimulation\",\"data\":{\"fsmFile\":\"state.scxml\",\"eventList\":[\"doCold1\",\"doWarm1\",\"doWarm2\"]}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":600,"wires":[["cbb0f545.f7b188"]]},{"id":"a5b11051.e6c","type":"inject","z":"71dda835.d0dcf8","name":"","topic":"","payload":"{\"action\":\"saveFSM\",\"data\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":320,"wires":[["7e090854.45d4f8"]]},{"id":"af105f75.f1a8e","type":"inject","z":"71dda835.d0dcf8","name":"","topic":"","payload":"{\"action\":\"createState\",\"data\":\"stop\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":200,"wires":[["7e090854.45d4f8"]]},{"id":"1b41021c.77528e","type":"debug","z":"71dda835.d0dcf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":660,"wires":[]},{"id":"23a881ed.1139ae","type":"subflow:bbe34270.ed0d8","z":"71dda835.d0dcf8","name":"","x":460,"y":740,"wires":[["8a0c66df.715cb8"]]},{"id":"ded2d257.26715","type":"inject","z":"71dda835.d0dcf8","name":"","topic":"","payload":"{\"action\":\"launchTests\",\"data\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":740,"wires":[["23a881ed.1139ae"]]},{"id":"8a0c66df.715cb8","type":"debug","z":"71dda835.d0dcf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":740,"wires":[]},{"id":"56a5b2b0.bf2c0c","type":"subflow:f3951f17.16e13","z":"71dda835.d0dcf8","name":"","x":460,"y":840,"wires":[["10217a48.7149a6","3c720c0a.ad03f4"]]},{"id":"818e95fb.0a0388","type":"inject","z":"71dda835.d0dcf8","name":"","topic":"","payload":"{\"action\":\"addTest\",\"data\":\"SPEC AG (state = cold1-warm2)\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":840,"wires":[["56a5b2b0.bf2c0c"]]},{"id":"10217a48.7149a6","type":"debug","z":"71dda835.d0dcf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":800,"wires":[]},{"id":"da12cf91.48843","type":"inject","z":"71dda835.d0dcf8","name":"","topic":"","payload":"{\"action\":\"launchTests\",\"data\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":900,"wires":[["56a5b2b0.bf2c0c"]]},{"id":"3c720c0a.ad03f4","type":"subflow:eaca6ff9.364af","z":"71dda835.d0dcf8","name":"","x":730,"y":840,"wires":[[],[]]},{"id":"8fd5dd0b.55648","type":"subflow:eaca6ff9.364af","z":"71dda835.d0dcf8","name":"","x":470,"y":460,"wires":[["64b04ac2.d25ba4"],["7b5a2b16.b7cba4"]]},{"id":"c98c7894.3df8c8","type":"inject","z":"71dda835.d0dcf8","name":"","topic":"","payload":"{\"action\":\"saveFile\",\"data\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":460,"wires":[["8fd5dd0b.55648"]]},{"id":"64b04ac2.d25ba4","type":"debug","z":"71dda835.d0dcf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":400,"wires":[]},{"id":"93a79a87.dc40e8","type":"comment","z":"71dda835.d0dcf8","name":"turbine","info":"","x":210,"y":560,"wires":[]},{"id":"ff60dbfb.560278","type":"inject","z":"71dda835.d0dcf8","name":"","topic":"","payload":"{\"action\":\"launchCompleteSimulation\",\"data\":{\"fsmFile\":\"storage.scxml\",\"eventList\":[\"e\"]}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":680,"wires":[["cbb0f545.f7b188"]]},{"id":"6f1f1803.ac0bc8","type":"comment","z":"71dda835.d0dcf8","name":"exemple","info":"","x":220,"y":640,"wires":[]},{"id":"7b5a2b16.b7cba4","type":"debug","z":"71dda835.d0dcf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":500,"wires":[]},{"id":"3f07fc65.af11a4","type":"inject","z":"71dda835.d0dcf8","name":"","topic":"","payload":"{\"action\":\"saveFile\",\"data\":{\"path\":\"/home/tibo/Documents/polytech_si5/PFE/test/tmp/name\",\"urlData\":\"/home/tibo/Documents/polytech_si5/PFE/test/storage/storage.scxml\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1140,"wires":[["9c81b8d3.af45d8"]]},{"id":"9c81b8d3.af45d8","type":"function","z":"71dda835.d0dcf8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1140,"wires":[["bd2f2e82.e4e54"]]},{"id":"88fe4373.967e1","type":"debug","z":"71dda835.d0dcf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":1120,"wires":[]},{"id":"616e9723.fa5968","type":"debug","z":"71dda835.d0dcf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":1160,"wires":[]},{"id":"96da9539.a182d8","type":"inject","z":"71dda835.d0dcf8","name":"","topic":"","payload":"{\"action\":\"loadFile\",\"data\":\"/home/tibo/Documents/polytech_si5/PFE/test/name\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1240,"wires":[["10f4a7b0.3a0dc8"]]},{"id":"10f4a7b0.3a0dc8","type":"function","z":"71dda835.d0dcf8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1240,"wires":[["69f9810e.805e3"]]},{"id":"fd1f3b7c.f5cac8","type":"debug","z":"71dda835.d0dcf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":1240,"wires":[]},{"id":"69f9810e.805e3","type":"exec","z":"71dda835.d0dcf8","command":"python script/loadFile.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":590,"y":1240,"wires":[["fd1f3b7c.f5cac8"],[],[]]},{"id":"1d67aa72.75b076","type":"subflow:a20fafc8.dc22c","z":"71dda835.d0dcf8","name":"","x":580,"y":1020,"wires":[["d22200e9.1560b"]]},{"id":"42858053.428bf","type":"file in","z":"71dda835.d0dcf8","name":"","filename":"storage.scxml","format":"utf8","chunk":false,"sendError":false,"x":380,"y":1020,"wires":[["1d67aa72.75b076"]]},{"id":"a6196ce2.f7f8e","type":"inject","z":"71dda835.d0dcf8","name":"","topic":"","payload":"{\"action\":\"saveFile\",\"data\":{\"path\":\"/home/tibo/Documents/polytech_si5/PFE/test/name\",\"urlData\":\"/home/tibo/Documents/polytech_si5/PFE/test/storage.scxml\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1020,"wires":[["42858053.428bf"]]},{"id":"d22200e9.1560b","type":"debug","z":"71dda835.d0dcf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":1020,"wires":[]},{"id":"d5522ff2.cbbfd","type":"comment","z":"71dda835.d0dcf8","name":"path issue ","info":"","x":260,"y":360,"wires":[]},{"id":"bd2f2e82.e4e54","type":"subflow:8e8b9a08.8e1c58","z":"71dda835.d0dcf8","name":"","x":660,"y":1140,"wires":[["88fe4373.967e1"],["616e9723.fa5968"]]}]
