dashboard
[{"id":"bbe34270.ed0d8","type":"subflow","name":"SCXML->SMV","info":"","category":"","in":[{"x":40,"y":160,"wires":[{"id":"2a99acee.1584d4"}]}],"out":[{"x":1180,"y":160,"wires":[{"id":"1a7bcf50.06bd61","port":0}]}]},{"id":"825ad99b.647828","type":"http request","z":"bbe34270.ed0d8","name":"getSCXML","method":"GET","ret":"txt","url":"http://localhost:1880/fsm-file","tls":"","x":290,"y":160,"wires":[["277320fd.f7f08"]]},{"id":"19c8a6b8.974289","type":"http in","z":"bbe34270.ed0d8","name":"","url":"/smv-file","method":"get","upload":false,"swaggerDoc":"","x":250,"y":300,"wires":[["d5e746b6.bdbb98"]]},{"id":"d5e746b6.bdbb98","type":"file in","z":"bbe34270.ed0d8","name":"","filename":"state.smv","format":"","sendError":true,"x":420,"y":300,"wires":[["b94f5c04.e3189"]]},{"id":"b94f5c04.e3189","type":"http response","z":"bbe34270.ed0d8","name":"","statusCode":"","headers":{},"x":590,"y":300,"wires":[]},{"id":"ed9b0686.62c928","type":"function","z":"bbe34270.ed0d8","name":"from scxml to smv","func":"var init = msg.payload.scxml.$.initial;\nvar states = [];\nvar transitions = [];\nfor (var i = 0; i < msg.payload.scxml.state.length; i++) {\n    var currentState = msg.payload.scxml.state[i].$.id\n    states.push(currentState);\n    var transitionLength;\n    if (msg.payload.scxml.state[i].transition != null) {\n        transitionLength = msg.payload.scxml.state[i].transition.length\n    }else{\n        transitionLength = 0;\n    }\n    for (var j = 0; j < transitionLength; j++) {\n        var transitionAttribute = msg.payload.scxml.state[i].transition[j].$;\n        var currentTransition = [currentState, transitionAttribute.event,transitionAttribute.target];\n        transitions.push(currentTransition);\n    }\n    \n}\n\nmsg.payload = \"MODULE main \\n\\tVAR\\n\\t\\tstate : {\"\nvar listStates = \"\";\nfor (var i = 0; i < states.length; i++) {\n    if(i !== 0){\n       listStates = listStates + \",\" ;\n    }\n    listStates = listStates + states[i];\n}\n\nmsg.payload = msg.payload + listStates;\n\nmsg.payload = msg.payload + \"};\\n\tASSIGN\\n\\t\\tinit(state) := \";\nmsg.payload = msg.payload + init+\";\";\nmsg.payload = msg.payload + \"\\n\\t\\tnext(state) := \\n\\t\\t\\tcase\\n\";\n\n//for to create all the conditions\nfor (var i = 0; i < transitions.length; i++) {\n    msg.payload = msg.payload + \"\\t\\t\\t\\tstate = \" + transitions[i][0] + \" : \" + transitions[i][2]+\";\\n\";\n}\n\nmsg.payload = msg.payload + \"\\t\\t\\t\\tTRUE : {\" +listStates + \"};\\n\\t\\t\\tesac;\\n\";\n\n\nreturn msg; ","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["95719736.6bc6d8"]]},{"id":"95719736.6bc6d8","type":"file","z":"bbe34270.ed0d8","name":"","filename":"state.smv","appendNewline":true,"createDir":false,"overwriteFile":"true","x":840,"y":160,"wires":[["1a7bcf50.06bd61"]]},{"id":"277320fd.f7f08","type":"xml","z":"bbe34270.ed0d8","name":"","property":"payload","attr":"","chr":"","x":450,"y":160,"wires":[["ed9b0686.62c928"]]},{"id":"1a7bcf50.06bd61","type":"function","z":"bbe34270.ed0d8","name":"Send URL address","func":"msg.payload = {\"action\":\"launchTests\",\"data\":\"http://localhost:1880/smv-file\"}\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":160,"wires":[[]]},{"id":"2a99acee.1584d4","type":"switch","z":"bbe34270.ed0d8","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"launchTests","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":160,"wires":[["825ad99b.647828"]]},{"id":"eaca6ff9.364af","type":"subflow","name":"fsm storage","info":"","category":"","in":[{"x":80,"y":280,"wires":[{"id":"b8289b55.dbc6a8"}]}],"out":[{"x":1200,"y":320,"wires":[{"id":"2b2d44b0.e0a89c","port":0},{"id":"2daa53c0.bb3edc","port":0}]}]},{"id":"fe3b3a6a.42d298","type":"http in","z":"eaca6ff9.364af","name":"","url":"/fsm-file","method":"get","upload":false,"swaggerDoc":"","x":190,"y":480,"wires":[["10d8f4cf.38c5ab"]]},{"id":"10d8f4cf.38c5ab","type":"file in","z":"eaca6ff9.364af","name":"","filename":"storage.scxml","format":"","sendError":true,"x":380,"y":480,"wires":[["9bedc0ee.6cfc8"]]},{"id":"9bedc0ee.6cfc8","type":"http response","z":"eaca6ff9.364af","name":"","x":530,"y":480,"wires":[]},{"id":"784ba9dc.e10248","type":"comment","z":"eaca6ff9.364af","name":"Save","info":"","x":190,"y":240,"wires":[]},{"id":"8580744.bc70c88","type":"http request","z":"eaca6ff9.364af","name":"getScxml","method":"GET","ret":"txt","url":"http://localhost:1880/editor-file","tls":"","x":740,"y":220,"wires":[["435c1851.666638"]]},{"id":"2822a209.dbc09e","type":"debug","z":"eaca6ff9.364af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1150,"y":220,"wires":[]},{"id":"435c1851.666638","type":"file","z":"eaca6ff9.364af","name":"","filename":"storage.scxml","appendNewline":true,"createDir":false,"overwriteFile":"true","x":940,"y":220,"wires":[["2822a209.dbc09e"]]},{"id":"f017d38e.66149","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["8580744.bc70c88","27b6677f.e8e758"]]},{"id":"27b6677f.e8e758","type":"debug","z":"eaca6ff9.364af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":140,"wires":[]},{"id":"b8289b55.dbc6a8","type":"switch","z":"eaca6ff9.364af","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"saveFile","vt":"str"},{"t":"eq","v":"launchSimulation","vt":"str"},{"t":"eq","v":"launchTests","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":280,"wires":[["f017d38e.66149"],["1bc6e077.10545"],["74fa8e13.a1923"]]},{"id":"1bc6e077.10545","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":280,"wires":[["e5445c44.293c4"]]},{"id":"e5445c44.293c4","type":"function","z":"eaca6ff9.364af","name":"load scxml (todo)","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":280,"wires":[["2daa53c0.bb3edc"]]},{"id":"2daa53c0.bb3edc","type":"function","z":"eaca6ff9.364af","name":"send request to Simulator","func":"msg.payload = {\"action\":\"launchSimulation\",\"data\":\"http://localhost:1880/fsm-file\"}\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":280,"wires":[[]]},{"id":"74fa8e13.a1923","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":340,"wires":[["28947d84.28ec02"]]},{"id":"28947d84.28ec02","type":"function","z":"eaca6ff9.364af","name":"load scxml (todo)","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":340,"wires":[["2b2d44b0.e0a89c"]]},{"id":"2b2d44b0.e0a89c","type":"function","z":"eaca6ff9.364af","name":"send request to Simulator","func":"msg.payload = {\"action\":\"launchTests\",\"data\":\"http://localhost:1880/fsm-file\"}\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":340,"wires":[[]]},{"id":"419fddef.3793c4","type":"subflow","name":"simulator","info":"","category":"","in":[{"x":40,"y":220,"wires":[{"id":"5a9e8da1.7b2fb4"}]}],"out":[{"x":1060,"y":240,"wires":[{"id":"5327e139.cba9b","port":0},{"id":"c9a090ea.f676d","port":0},{"id":"67dccf9b.b1a8","port":0},{"id":"475a7886.b5e1f8","port":0}]}]},{"id":"cc43375c.850268","type":"comment","z":"419fddef.3793c4","name":"get current state","info":"","x":340,"y":400,"wires":[]},{"id":"5327e139.cba9b","type":"function","z":"419fddef.3793c4","name":"getCurrentSim","func":"//var count=context.get('count') || 0;\nvar file=flow.get('currentState') || null;\nif(file == null){\n    msg.payload=\"no simulation running\";\n}\nelse{\n    msg.payload= file;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":440,"wires":[["bb59e262.22e8d"]]},{"id":"bb59e262.22e8d","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":480,"wires":[]},{"id":"2c054b7f.a3e9c4","type":"comment","z":"419fddef.3793c4","name":"Start","info":"","x":310,"y":80,"wires":[]},{"id":"9236418d.ee9bb","type":"http request","z":"419fddef.3793c4","name":"getScxml","method":"GET","ret":"txt","url":"http://localhost:1880/fsm-file","tls":"","x":500,"y":120,"wires":[["bebec7eb.b46838"]]},{"id":"17984df0.987ed2","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":40,"wires":[]},{"id":"475a7886.b5e1f8","type":"function","z":"419fddef.3793c4","name":"Start","func":"var state = flow.get('currentState') || null;\nvar initial = msg.payload.scxml.$.initial\nfor (var i = 0; i < msg.payload.scxml.state.length; i++) {\n    if (msg.payload.scxml.state[i].$.id == initial) {\n        state = msg.payload.scxml.state[i];\n    }\n}\n\nflow.set('currentState',state);\n\nvar fsm = flow.get('FSM') || null;\nfsm = msg.payload\nflow.set('FSM',fsm);\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":120,"wires":[["17984df0.987ed2"]]},{"id":"74dfd0fd.88e23","type":"comment","z":"419fddef.3793c4","name":"End Simulation","info":"","x":340,"y":180,"wires":[]},{"id":"67dccf9b.b1a8","type":"function","z":"419fddef.3793c4","name":"End","func":"var fsm=flow.get('FSM') || null;\nfsm = null;\nflow.set('FSM',fsm);\n\nvar state=flow.get('currentState') || null;\nstate = null;\nflow.set('currentState',state);\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["936f533d.56823"]]},{"id":"936f533d.56823","type":"debug","z":"419fddef.3793c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":180,"wires":[]},{"id":"82e7d95e.2a9638","type":"comment","z":"419fddef.3793c4","name":"inject event","info":"","x":330,"y":300,"wires":[]},{"id":"c9a090ea.f676d","type":"function","z":"419fddef.3793c4","name":"Inject","func":"var fsm=flow.get('FSM') || null;\nvar state=flow.get('currentState') || null;\nvar destination = null;\n\nfor (var i = 0; i < state.transition.length; i++) {\n    if (state.transition[i].$.event == msg.payload) {\n        destination = state.transition[i].$.target\n    }\n}\n\nif (destination !== null) {\n    for (var i = 0; i < fsm.scxml.state.length; i++) {\n        if (fsm.scxml.state[i].$.id == destination) {\n            state = fsm.scxml.state[i];\n        }\n    }\n}\nmsg.payload = state\nflow.set('currentState',state);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":340,"wires":[[]]},{"id":"bebec7eb.b46838","type":"xml","z":"419fddef.3793c4","name":"","property":"payload","attr":"","chr":"","x":650,"y":120,"wires":[["475a7886.b5e1f8"]]},{"id":"5a9e8da1.7b2fb4","type":"switch","z":"419fddef.3793c4","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"launchSimulation","vt":"str"},{"t":"eq","v":"endSimulation","vt":"str"},{"t":"eq","v":"injectEvent","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":150,"y":220,"wires":[["59f4fb0b.ba51e4"],["d4a5c1ad.98887"],["3d8780fa.61cc6"],["c750c495.9f0628"]]},{"id":"59f4fb0b.ba51e4","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["9236418d.ee9bb"]]},{"id":"d4a5c1ad.98887","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":240,"wires":[["67dccf9b.b1a8"]]},{"id":"3d8780fa.61cc6","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":340,"wires":[["c9a090ea.f676d"]]},{"id":"c750c495.9f0628","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":440,"wires":[["5327e139.cba9b"]]},{"id":"ad966685.5270b8","type":"subflow","name":"fsm editor","info":"","category":"","in":[{"x":80,"y":240,"wires":[{"id":"35927014.ca54a"}]}],"out":[{"x":1200,"y":400,"wires":[{"id":"d92ce759.a23708","port":0}]}]},{"id":"61823274.fcf8ec","type":"function","z":"ad966685.5270b8","name":"create state","func":"var states = flow.get('states') || [];\n\nstates.push([msg.payload,[]]);\n\nflow.set('states',states);\nmsg.payload = states;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":80,"wires":[["1c720034.38c2b"]]},{"id":"6770b603.dcfac8","type":"function","z":"ad966685.5270b8","name":"create link","func":"var states = flow.get('states') || [];\n\n\nfor (var i = 0; i < states.length; i++) {\n    if (states[i][0] == msg.payload.origin) {\n        states[i][1].push([msg.payload.event,msg.payload.destination]);\n        break;\n    } \n}\nmsg.payload = states\nflow.set('states',states);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["88331066.a4adc"]]},{"id":"2d7a1a4b.3c9ab6","type":"function","z":"ad966685.5270b8","name":"from variables to XML","func":"var states = flow.get('states') || [];\n \nmsg.payload = \"<scxml xmlns=\\\"http://www.w3.org/2005/07/scxml\\\" version=\\\"1.0\\\" initial=\\\"\"+states[0][0]+\"\\\">\\n\"\n\n\nfor (var i = 0; i < states.length; i++) {\n    msg.payload += \"<state id = \\\"\"+ states[i][0]+\"\\\">\\n\"\n    for (var j = 0; j < states[i][1].length; j++) {\n        msg.payload += \"<transition event=\\\"\"+states[i][1][j][0]+\"\\\" target=\\\"\"+states[i][1][j][1]+\"\\\" />\\n\"\n    }\n    msg.payload += \"</state>\\n\"\n}\nmsg.payload += \"</scxml>\\n\"\n    \n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":400,"wires":[["6baf4315.941e3c"]]},{"id":"ec337cd9.dd881","type":"http in","z":"ad966685.5270b8","name":"","url":"/editor-file","method":"get","upload":false,"swaggerDoc":"","x":1140,"y":60,"wires":[["c92a63f8.b11ab"]]},{"id":"c92a63f8.b11ab","type":"file in","z":"ad966685.5270b8","name":"","filename":"editor.scxml","format":"","sendError":true,"x":1330,"y":60,"wires":[["a92b4590.16eb08"]]},{"id":"a92b4590.16eb08","type":"http response","z":"ad966685.5270b8","name":"","statusCode":"","headers":{},"x":1470,"y":60,"wires":[]},{"id":"6baf4315.941e3c","type":"file","z":"ad966685.5270b8","name":"","filename":"editor.scxml","appendNewline":true,"createDir":false,"overwriteFile":"true","x":810,"y":400,"wires":[["d92ce759.a23708"]]},{"id":"5ccb69a.183cb98","type":"function","z":"ad966685.5270b8","name":"erase","func":"var states = flow.get('states') || [];\n\nstates = [];\nmsg.payload = states\nflow.set('states',states);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":500,"wires":[["b3952d6f.cad2d"]]},{"id":"35927014.ca54a","type":"switch","z":"ad966685.5270b8","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"createState","vt":"str"},{"t":"eq","v":"createTransition","vt":"str"},{"t":"eq","v":"saveFSM","vt":"str"},{"t":"eq","v":"eraseAll","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":190,"y":240,"wires":[["bd3256ed.600708"],["98f265e4.34cbe8"],["7909aea8.834b"],["d462e6f7.e04aa8"]]},{"id":"bd3256ed.600708","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":80,"wires":[["61823274.fcf8ec"]]},{"id":"98f265e4.34cbe8","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["6770b603.dcfac8"]]},{"id":"7909aea8.834b","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":400,"wires":[["2d7a1a4b.3c9ab6"]]},{"id":"d462e6f7.e04aa8","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":500,"wires":[["5ccb69a.183cb98"]]},{"id":"d92ce759.a23708","type":"function","z":"ad966685.5270b8","name":"send url to file","func":"msg.payload = {\"action\" : \"saveFile\",\"data\" : \"http://localhost:1880/editor-file\"}\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":400,"wires":[[]]},{"id":"b3952d6f.cad2d","type":"debug","z":"ad966685.5270b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":460,"wires":[]},{"id":"88331066.a4adc","type":"debug","z":"ad966685.5270b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":160,"wires":[]},{"id":"1c720034.38c2b","type":"debug","z":"ad966685.5270b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":20,"wires":[]},{"id":"f3951f17.16e13","type":"subflow","name":"Model Checker","info":"","category":"","in":[{"x":100,"y":220,"wires":[{"id":"fd559e2a.1a2cf"}]}],"out":[{"x":1420,"y":80,"wires":[{"id":"31a8a33f.2ec00c","port":0}]}]},{"id":"31a8a33f.2ec00c","type":"exec","z":"f3951f17.16e13","command":"./NuSMV buff.smv","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1150,"y":80,"wires":[[],[],[]]},{"id":"7af59a25.3eead4","type":"comment","z":"f3951f17.16e13","name":"launch tests","info":"","x":550,"y":20,"wires":[]},{"id":"1c5e70f6.38f35f","type":"comment","z":"f3951f17.16e13","name":"add a test","info":"","x":560,"y":160,"wires":[]},{"id":"96c7535f.296d5","type":"http request","z":"f3951f17.16e13","name":"getSMV","method":"GET","ret":"txt","url":"http://localhost:1880/smv-file","tls":"","x":540,"y":80,"wires":[["b38cd2f3.ce68e"]]},{"id":"3a8b6896.7656d8","type":"function","z":"f3951f17.16e13","name":"add test to tab 'tests'","func":"var tests = flow.get('tests') || [];\ntests.push(msg.payload);\nflow.set('tests',tests);\nmsg.payload = tests;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["96796424.c54228"]]},{"id":"96796424.c54228","type":"debug","z":"f3951f17.16e13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":220,"wires":[]},{"id":"b38cd2f3.ce68e","type":"function","z":"f3951f17.16e13","name":"add tests to file","func":"var tests = flow.get('tests') || [];\nfor (var i = 0; i < tests.length; i++) {\n    msg.payload = msg.payload + \"\\n\" +tests[i];\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":80,"wires":[["a81c6559.6b8f68"]]},{"id":"87ac443d.b38368","type":"comment","z":"f3951f17.16e13","name":"reset tests","info":"","x":580,"y":280,"wires":[]},{"id":"b647bb4c.1496c8","type":"function","z":"f3951f17.16e13","name":"clean 'tests' tab","func":"var tests = flow.get('tests') || [];\ntests.pop();\nflow.set('tests',tests);\nmsg.payload = tests;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":340,"wires":[["d2567b98.a0dc68"]]},{"id":"d2567b98.a0dc68","type":"debug","z":"f3951f17.16e13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":340,"wires":[]},{"id":"a81c6559.6b8f68","type":"file","z":"f3951f17.16e13","name":"","filename":"buff.smv","appendNewline":false,"createDir":true,"overwriteFile":"true","x":940,"y":80,"wires":[["3c760afe.7f6d96","31a8a33f.2ec00c"]]},{"id":"53f8b623.1d9aa8","type":"function","z":"f3951f17.16e13","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":80,"wires":[["96c7535f.296d5"]]},{"id":"fd559e2a.1a2cf","type":"switch","z":"f3951f17.16e13","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"launchTests","vt":"str"},{"t":"eq","v":"addTest","vt":"str"},{"t":"eq","v":"resetTests","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":230,"y":220,"wires":[["53f8b623.1d9aa8"],["e7c04183.8036b"],["b647bb4c.1496c8"]]},{"id":"e7c04183.8036b","type":"function","z":"f3951f17.16e13","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["3a8b6896.7656d8"]]},{"id":"3c760afe.7f6d96","type":"debug","z":"f3951f17.16e13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":20,"wires":[]},{"id":"8aaa9603.bab1a8","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"93b84854.ed3748","type":"comment","z":"8aaa9603.bab1a8","name":"create State","info":"","x":250,"y":620,"wires":[]},{"id":"cda0d61.33fcb28","type":"comment","z":"8aaa9603.bab1a8","name":"create transition","info":"","x":240,"y":920,"wires":[]},{"id":"e6b01f47.e1506","type":"comment","z":"8aaa9603.bab1a8","name":"save fsm to storage","info":"","x":250,"y":1100,"wires":[]},{"id":"90f897e5.b2d6e8","type":"comment","z":"8aaa9603.bab1a8","name":"start simulation","info":"","x":240,"y":1360,"wires":[]},{"id":"ee17ed7d.874a2","type":"comment","z":"8aaa9603.bab1a8","name":"end simulation","info":"","x":230,"y":1680,"wires":[]},{"id":"e051a07e.57cb8","type":"comment","z":"8aaa9603.bab1a8","name":"inject event to simulation","info":"","x":250,"y":1500,"wires":[]},{"id":"42c7ed73.cf5ca4","type":"comment","z":"8aaa9603.bab1a8","name":"launch model check","info":"","x":190,"y":1860,"wires":[]},{"id":"e4c4826c.08c6d","type":"comment","z":"8aaa9603.bab1a8","name":"add a test to model checking","info":"","x":260,"y":2060,"wires":[]},{"id":"47a257db.e8b778","type":"subflow:f3951f17.16e13","z":"8aaa9603.bab1a8","name":"","x":1060,"y":1440,"wires":[["5d0edcb4.32e6c4","d27360a.7fd73a"]]},{"id":"be86544e.346aa8","type":"subflow:ad966685.5270b8","z":"8aaa9603.bab1a8","name":"","x":520,"y":660,"wires":[["79bb2cb4.03b094","1427bce4.5bc3b3","d27360a.7fd73a"]]},{"id":"924d5f8d.52483","type":"comment","z":"8aaa9603.bab1a8","name":"eraseCurrentFSM","info":"","x":250,"y":1180,"wires":[]},{"id":"79bb2cb4.03b094","type":"debug","z":"8aaa9603.bab1a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":540,"wires":[]},{"id":"806d12ab.a4503","type":"subflow:419fddef.3793c4","z":"8aaa9603.bab1a8","name":"","x":1020,"y":1200,"wires":[["2f0a7123.69164e","d27360a.7fd73a"]]},{"id":"2f0a7123.69164e","type":"debug","z":"8aaa9603.bab1a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":1260,"wires":[]},{"id":"1427bce4.5bc3b3","type":"subflow:eaca6ff9.364af","z":"8aaa9603.bab1a8","name":"","x":890,"y":1020,"wires":[["806d12ab.a4503","34c46503.13f6ea","99b9d2b7.e5a95","d27360a.7fd73a"]]},{"id":"34c46503.13f6ea","type":"debug","z":"8aaa9603.bab1a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":960,"wires":[]},{"id":"99b9d2b7.e5a95","type":"subflow:bbe34270.ed0d8","z":"8aaa9603.bab1a8","name":"","x":1080,"y":1340,"wires":[["47a257db.e8b778"]]},{"id":"5d0edcb4.32e6c4","type":"debug","z":"8aaa9603.bab1a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":1540,"wires":[]},{"id":"444dc13f.224e1","type":"inject","z":"8aaa9603.bab1a8","name":"","topic":"","payload":"{\"action\":\"resetTests\",\"data\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":2160,"wires":[["47a257db.e8b778"]]},{"id":"d3ea54c8.d98b18","type":"ui_button","z":"8aaa9603.bab1a8","name":"","group":"e691a59c.6c68b8","order":0,"width":0,"height":0,"passthru":false,"label":"launch model check","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":1820,"wires":[["76557ae0.371224"]]},{"id":"8706788d.3b4028","type":"ui_text_input","z":"8aaa9603.bab1a8","name":"test to add","label":"test to add","group":"e691a59c.6c68b8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1630,"y":180,"wires":[["d51568bf.3bd0d8"]]},{"id":"1b0f0d92.b89582","type":"ui_button","z":"8aaa9603.bab1a8","name":"","group":"e691a59c.6c68b8","order":0,"width":0,"height":0,"passthru":false,"label":"add test","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":2000,"wires":[["207c9d5b.b7ec52"]]},{"id":"49d32c87.14e324","type":"ui_button","z":"8aaa9603.bab1a8","name":"","group":"11011a36.1eb656","order":0,"width":0,"height":0,"passthru":false,"label":"stop simulation","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":1640,"wires":[["f845b2f6.b617c"]]},{"id":"1a5351df.35fcee","type":"ui_button","z":"8aaa9603.bab1a8","name":"","group":"11011a36.1eb656","order":0,"width":0,"height":0,"passthru":false,"label":"send event to simulation","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":1460,"wires":[["10e9054e.75276b"]]},{"id":"8c47d27b.d6e8b","type":"ui_text_input","z":"8aaa9603.bab1a8","name":"event","label":"event","group":"11011a36.1eb656","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1170,"y":180,"wires":[["6b181ea7.5b521"]]},{"id":"6a85590e.259f58","type":"ui_button","z":"8aaa9603.bab1a8","name":"","group":"11011a36.1eb656","order":0,"width":0,"height":0,"passthru":false,"label":"start Simulation","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":1320,"wires":[["367ee374.29593c"]]},{"id":"be12b79e.88ea68","type":"ui_button","z":"8aaa9603.bab1a8","name":"","group":"15129f02.0bd0e1","order":0,"width":0,"height":0,"passthru":false,"label":"save FSM","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":240,"y":1060,"wires":[["f4ebaebe.8830a"]]},{"id":"ca5b96.e5512468","type":"ui_text_input","z":"8aaa9603.bab1a8","name":"event","label":"event","group":"15129f02.0bd0e1","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":730,"y":260,"wires":[["87f03731.f866b8"]]},{"id":"be62bd05.1bf5f","type":"ui_text_input","z":"8aaa9603.bab1a8","name":"destination","label":"destination","group":"15129f02.0bd0e1","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":710,"y":220,"wires":[["7646a9fc.af8758"]]},{"id":"5a39dad0.b00da4","type":"ui_text_input","z":"8aaa9603.bab1a8","name":"origin","label":"origin","group":"15129f02.0bd0e1","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":730,"y":180,"wires":[["85177904.e47d78"]]},{"id":"96e6ede.7017c1","type":"ui_button","z":"8aaa9603.bab1a8","name":"","group":"15129f02.0bd0e1","order":0,"width":0,"height":0,"passthru":false,"label":"Create Transition","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":880,"wires":[["bffc692c.12aac8"]]},{"id":"3bc954df.a9030c","type":"ui_text_input","z":"8aaa9603.bab1a8","name":"","label":"new state name","group":"15129f02.0bd0e1","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":240,"y":180,"wires":[["ca86067c.364738"]]},{"id":"b1f1a893.5c4da8","type":"ui_button","z":"8aaa9603.bab1a8","name":"","group":"15129f02.0bd0e1","order":0,"width":0,"height":0,"passthru":false,"label":"CreateState","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":480,"wires":[["3cbfdfc6.20c39"]]},{"id":"ca86067c.364738","type":"function","z":"8aaa9603.bab1a8","name":"state name","func":"var state = flow.get('newState') || null;\nstate = msg.payload;\nflow.set('newState',state);\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[[]]},{"id":"85177904.e47d78","type":"function","z":"8aaa9603.bab1a8","name":"origin name","func":"var state = flow.get('origin') || null;\nstate = msg.payload;\nflow.set('origin',state);\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":180,"wires":[[]]},{"id":"7646a9fc.af8758","type":"function","z":"8aaa9603.bab1a8","name":"destination name","func":"var state = flow.get('destination') || null;\nstate = msg.payload;\nflow.set('destination',state);\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":220,"wires":[[]]},{"id":"87f03731.f866b8","type":"function","z":"8aaa9603.bab1a8","name":"event name","func":"var state = flow.get('event') || null;\nstate = msg.payload;\nflow.set('event',state);\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":260,"wires":[[]]},{"id":"6b181ea7.5b521","type":"function","z":"8aaa9603.bab1a8","name":"send event name","func":"var state = flow.get('sendEvent') || null;\nstate = msg.payload;\nflow.set('sendEvent',state);\n\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":180,"wires":[[]]},{"id":"d51568bf.3bd0d8","type":"function","z":"8aaa9603.bab1a8","name":"test name","func":"var state = flow.get('test') || null;\nstate = msg.payload;\nflow.set('test',state);\n\nreturn msg;","outputs":1,"noerr":0,"x":1880,"y":180,"wires":[[]]},{"id":"3cbfdfc6.20c39","type":"function","z":"8aaa9603.bab1a8","name":"createState request","func":"var state = flow.get('newState') || null;\nmsg.payload = \"{\\\"action\\\":\\\"createState\\\",\\\"data\\\":\\\"\"+state+\"\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":480,"wires":[["28052aac.48da46"]]},{"id":"bffc692c.12aac8","type":"function","z":"8aaa9603.bab1a8","name":"createTransition request","func":"var origin = flow.get('origin') || null;\nvar destination = flow.get('destination') || null;\nvar event = flow.get('event') || null;\n\n\nmsg.payload = \"{\\\"action\\\":\\\"createTransition\\\",\\\"data\\\":{\\\"origin\\\" : \\\"\"+origin+\"\\\",\\\"event\\\" : \\\"\"+event+\"\\\",\\\"destination\\\" : \\\"\"+destination+\"\\\"}}\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":880,"wires":[["48343fae.fc92c"]]},{"id":"f4ebaebe.8830a","type":"function","z":"8aaa9603.bab1a8","name":"save request","func":"msg.payload = \"{\\\"action\\\":\\\"saveFSM\\\",\\\"data\\\":\\\"\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1060,"wires":[["5a96715b.db1a2"]]},{"id":"367ee374.29593c","type":"function","z":"8aaa9603.bab1a8","name":"start sim request","func":"var state = flow.get('newState') || null;\nmsg.payload = \"{\\\"action\\\":\\\"launchSimulation\\\",\\\"data\\\":\\\"path_to_repository\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1320,"wires":[["aaa1131b.59a96"]]},{"id":"10e9054e.75276b","type":"function","z":"8aaa9603.bab1a8","name":"send event request","func":"var sendEvent = flow.get('sendEvent') || null;\nmsg.payload = \"{\\\"action\\\":\\\"injectEvent\\\",\\\"data\\\":\\\"\"+sendEvent+\"\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1460,"wires":[["1f6b864f.c7c56a"]]},{"id":"f845b2f6.b617c","type":"function","z":"8aaa9603.bab1a8","name":"stop sim request","func":"msg.payload = \"{\\\"action\\\":\\\"endSimulation\\\",\\\"data\\\":\\\"\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1640,"wires":[["323369bb.36d4e6"]]},{"id":"76557ae0.371224","type":"function","z":"8aaa9603.bab1a8","name":"launch tests request","func":"var state = flow.get('newState') || null;\nmsg.payload = \"{\\\"action\\\":\\\"launchTests\\\",\\\"data\\\":\\\"\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1820,"wires":[["64e3323c.897a8c"]]},{"id":"207c9d5b.b7ec52","type":"function","z":"8aaa9603.bab1a8","name":"createState request","func":"var test = flow.get('test') || null;\nmsg.payload = \"{\\\"action\\\":\\\"addTest\\\",\\\"data\\\":\\\"\"+test+\"\\\"}\"\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":2000,"wires":[["19eb5718.b63a49"]]},{"id":"64e3323c.897a8c","type":"json","z":"8aaa9603.bab1a8","name":"","property":"payload","action":"","pretty":false,"x":540,"y":1760,"wires":[["1427bce4.5bc3b3"]]},{"id":"19eb5718.b63a49","type":"json","z":"8aaa9603.bab1a8","name":"","property":"payload","action":"","pretty":false,"x":620,"y":1960,"wires":[["47a257db.e8b778"]]},{"id":"323369bb.36d4e6","type":"json","z":"8aaa9603.bab1a8","name":"","property":"payload","action":"","pretty":false,"x":690,"y":1600,"wires":[["806d12ab.a4503"]]},{"id":"1f6b864f.c7c56a","type":"json","z":"8aaa9603.bab1a8","name":"","property":"payload","action":"","pretty":false,"x":710,"y":1460,"wires":[["806d12ab.a4503"]]},{"id":"aaa1131b.59a96","type":"json","z":"8aaa9603.bab1a8","name":"","property":"payload","action":"","pretty":false,"x":630,"y":1240,"wires":[["1427bce4.5bc3b3"]]},{"id":"5a96715b.db1a2","type":"json","z":"8aaa9603.bab1a8","name":"","property":"payload","action":"","pretty":false,"x":520,"y":1000,"wires":[["be86544e.346aa8"]]},{"id":"48343fae.fc92c","type":"json","z":"8aaa9603.bab1a8","name":"","property":"payload","action":"","pretty":false,"x":570,"y":780,"wires":[["be86544e.346aa8"]]},{"id":"28052aac.48da46","type":"json","z":"8aaa9603.bab1a8","name":"","property":"payload","action":"","pretty":false,"x":390,"y":580,"wires":[["be86544e.346aa8"]]},{"id":"c54f5e97.903cf","type":"inject","z":"8aaa9603.bab1a8","name":"","topic":"","payload":"{\"action\":\"eraseAll\",\"data\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1220,"wires":[["be86544e.346aa8"]]},{"id":"d27360a.7fd73a","type":"ui_text","z":"8aaa9603.bab1a8","group":"9ad54f7c.53cb6","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1810,"y":1140,"wires":[]},{"id":"794719b0.15a6d8","type":"inject","z":"8aaa9603.bab1a8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1710,"y":1000,"wires":[["d27360a.7fd73a"]]},{"id":"e691a59c.6c68b8","type":"ui_group","z":"","name":"model check","tab":"cfcc9f6f.611d7","disp":true,"width":"6","collapse":false},{"id":"11011a36.1eb656","type":"ui_group","z":"","name":"simulation","tab":"cfcc9f6f.611d7","disp":true,"width":"6","collapse":false},{"id":"15129f02.0bd0e1","type":"ui_group","z":"","name":"editor","tab":"cfcc9f6f.611d7","order":1,"disp":true,"width":"8","collapse":false},{"id":"9ad54f7c.53cb6","type":"ui_group","z":"","name":"Response","tab":"cfcc9f6f.611d7","disp":true,"width":"6","collapse":false},{"id":"cfcc9f6f.611d7","type":"ui_tab","z":"","name":"Ecran Principal","icon":"home","order":2}]