fsm_storage
[{"id":"eaca6ff9.364af","type":"subflow","name":"fsm storage","info":"","category":"","in":[{"x":80,"y":280,"wires":[{"id":"b8289b55.dbc6a8"}]}],"out":[{"x":1200,"y":320,"wires":[{"id":"2daa53c0.bb3edc","port":0},{"id":"2b2d44b0.e0a89c","port":0}]}]},{"id":"fe3b3a6a.42d298","type":"http in","z":"eaca6ff9.364af","name":"","url":"/fsm-file","method":"get","upload":false,"swaggerDoc":"","x":190,"y":480,"wires":[["10d8f4cf.38c5ab"]]},{"id":"10d8f4cf.38c5ab","type":"file in","z":"eaca6ff9.364af","name":"","filename":"storage.scxml","format":"","sendError":true,"x":380,"y":480,"wires":[["9bedc0ee.6cfc8"]]},{"id":"9bedc0ee.6cfc8","type":"http response","z":"eaca6ff9.364af","name":"","x":530,"y":480,"wires":[]},{"id":"784ba9dc.e10248","type":"comment","z":"eaca6ff9.364af","name":"Save","info":"","x":190,"y":240,"wires":[]},{"id":"8580744.bc70c88","type":"http request","z":"eaca6ff9.364af","name":"getScxml","method":"GET","ret":"txt","url":"http://localhost:1880/editor-file","tls":"","x":740,"y":220,"wires":[["435c1851.666638"]]},{"id":"2822a209.dbc09e","type":"debug","z":"eaca6ff9.364af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1150,"y":220,"wires":[]},{"id":"435c1851.666638","type":"file","z":"eaca6ff9.364af","name":"","filename":"storage.scxml","appendNewline":true,"createDir":false,"overwriteFile":"true","x":940,"y":220,"wires":[["2822a209.dbc09e"]]},{"id":"f017d38e.66149","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["8580744.bc70c88","27b6677f.e8e758"]]},{"id":"27b6677f.e8e758","type":"debug","z":"eaca6ff9.364af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":140,"wires":[]},{"id":"b8289b55.dbc6a8","type":"switch","z":"eaca6ff9.364af","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"saveFile","vt":"str"},{"t":"eq","v":"launchSimulation","vt":"str"},{"t":"eq","v":"launchTests","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":280,"wires":[["f017d38e.66149"],["1bc6e077.10545"],["74fa8e13.a1923"]]},{"id":"1bc6e077.10545","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":280,"wires":[["e5445c44.293c4"]]},{"id":"e5445c44.293c4","type":"function","z":"eaca6ff9.364af","name":"load scxml (todo)","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":280,"wires":[["2daa53c0.bb3edc"]]},{"id":"2daa53c0.bb3edc","type":"function","z":"eaca6ff9.364af","name":"send request to Simulator","func":"msg.payload = {\"action\":\"launchSimulation\",\"data\":\"http://localhost:1880/fsm-file\"}\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":280,"wires":[[]]},{"id":"74fa8e13.a1923","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":340,"wires":[["28947d84.28ec02"]]},{"id":"28947d84.28ec02","type":"function","z":"eaca6ff9.364af","name":"load scxml (todo)","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":340,"wires":[["2b2d44b0.e0a89c"]]},{"id":"2b2d44b0.e0a89c","type":"function","z":"eaca6ff9.364af","name":"send request to Simulator","func":"msg.payload = {\"action\":\"launchTests\",\"data\":\"http://localhost:1880/fsm-file\"}\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":340,"wires":[[]]}]
