fsm_editor
[{"id":"ad966685.5270b8","type":"subflow","name":"fsm editor","info":"","category":"","in":[{"x":80,"y":240,"wires":[{"id":"35927014.ca54a"}]}],"out":[{"x":1200,"y":400,"wires":[{"id":"d92ce759.a23708","port":0}]}]},{"id":"61823274.fcf8ec","type":"function","z":"ad966685.5270b8","name":"create state","func":"var states = flow.get('states') || [];\n\nstates.push([msg.payload,[]]);\n\nflow.set('states',states);\nmsg.payload = states;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":80,"wires":[["1c720034.38c2b"]]},{"id":"6770b603.dcfac8","type":"function","z":"ad966685.5270b8","name":"create link","func":"var states = flow.get('states') || [];\n\n\nfor (var i = 0; i < states.length; i++) {\n    if (states[i][0] == msg.payload.origin) {\n        states[i][1].push([msg.payload.event,msg.payload.destination]);\n        break;\n    } \n}\nmsg.payload = states\nflow.set('states',states);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["88331066.a4adc"]]},{"id":"2d7a1a4b.3c9ab6","type":"function","z":"ad966685.5270b8","name":"from variables to XML","func":"var states = flow.get('states') || [];\n \nmsg.payload = \"<scxml xmlns=\\\"http://www.w3.org/2005/07/scxml\\\" version=\\\"1.0\\\" initial=\\\"\"+states[0][0]+\"\\\">\\n\"\n\n\nfor (var i = 0; i < states.length; i++) {\n    msg.payload += \"<state id = \\\"\"+ states[i][0]+\"\\\">\\n\"\n    for (var j = 0; j < states[i][1].length; j++) {\n        msg.payload += \"<transition event=\\\"\"+states[i][1][j][0]+\"\\\" target=\\\"\"+states[i][1][j][1]+\"\\\" />\\n\"\n    }\n    msg.payload += \"</state>\\n\"\n}\nmsg.payload += \"</scxml>\\n\"\n    \n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":400,"wires":[["6baf4315.941e3c"]]},{"id":"ec337cd9.dd881","type":"http in","z":"ad966685.5270b8","name":"","url":"/editor-file","method":"get","upload":false,"swaggerDoc":"","x":1140,"y":60,"wires":[["c92a63f8.b11ab"]]},{"id":"c92a63f8.b11ab","type":"file in","z":"ad966685.5270b8","name":"","filename":"editor.scxml","format":"","sendError":true,"x":1330,"y":60,"wires":[["a92b4590.16eb08"]]},{"id":"a92b4590.16eb08","type":"http response","z":"ad966685.5270b8","name":"","statusCode":"","headers":{},"x":1470,"y":60,"wires":[]},{"id":"6baf4315.941e3c","type":"file","z":"ad966685.5270b8","name":"","filename":"editor.scxml","appendNewline":true,"createDir":false,"overwriteFile":"true","x":810,"y":400,"wires":[["d92ce759.a23708"]]},{"id":"5ccb69a.183cb98","type":"function","z":"ad966685.5270b8","name":"erase","func":"var states = flow.get('states') || [];\n\nstates = [];\nmsg.payload = states\nflow.set('states',states);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":500,"wires":[["b3952d6f.cad2d"]]},{"id":"35927014.ca54a","type":"switch","z":"ad966685.5270b8","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"createState","vt":"str"},{"t":"eq","v":"createTransition","vt":"str"},{"t":"eq","v":"saveFSM","vt":"str"},{"t":"eq","v":"eraseAll","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":190,"y":240,"wires":[["bd3256ed.600708"],["98f265e4.34cbe8"],["7909aea8.834b"],["d462e6f7.e04aa8"]]},{"id":"bd3256ed.600708","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":80,"wires":[["61823274.fcf8ec"]]},{"id":"98f265e4.34cbe8","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["6770b603.dcfac8"]]},{"id":"7909aea8.834b","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":400,"wires":[["2d7a1a4b.3c9ab6"]]},{"id":"d462e6f7.e04aa8","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":500,"wires":[["5ccb69a.183cb98"]]},{"id":"d92ce759.a23708","type":"function","z":"ad966685.5270b8","name":"send url to file","func":"msg.payload = {\"action\" : \"saveFile\",\"data\" : \"http://localhost:1880/editor-file\"}\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":400,"wires":[[]]},{"id":"b3952d6f.cad2d","type":"debug","z":"ad966685.5270b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":460,"wires":[]},{"id":"88331066.a4adc","type":"debug","z":"ad966685.5270b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":160,"wires":[]},{"id":"1c720034.38c2b","type":"debug","z":"ad966685.5270b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":20,"wires":[]}]
