fsm_editor
[{"id":"5c5074d9.94ef1c","type":"tab","label":"Editeur FSM","disabled":false,"info":""},{"id":"981e0310.f9e6d","type":"comment","z":"5c5074d9.94ef1c","name":"Create State","info":"","x":170,"y":60,"wires":[]},{"id":"14d4088a.edde77","type":"inject","z":"5c5074d9.94ef1c","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["55c4bca6.f91c54"]]},{"id":"de025461.bad148","type":"comment","z":"5c5074d9.94ef1c","name":"Create Link","info":"","x":170,"y":220,"wires":[]},{"id":"83141bf4.7cae38","type":"inject","z":"5c5074d9.94ef1c","name":"","topic":"","payload":"{\"origin\" : \"start\",\"event\" : \"e\",\"destination\" : \"stop\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["25567bc9.677ab4"]]},{"id":"55c4bca6.f91c54","type":"function","z":"5c5074d9.94ef1c","name":"create state","func":"var states = flow.get('states') || [];\n\nstates.push([msg.payload,[]]);\n\nflow.set('states',states);\nmsg.payload = states;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["64342f90.2baf6"]]},{"id":"25567bc9.677ab4","type":"function","z":"5c5074d9.94ef1c","name":"create link","func":"var states = flow.get('states') || [];\n\n\nfor (var i = 0; i < states.length; i++) {\n    if (states[i][0] == msg.payload.origin) {\n        states[i][1].push([msg.payload.event,msg.payload.destination]);\n        break;\n    } \n}\nmsg.payload = states\nflow.set('states',states);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["946e10cb.e4d97"]]},{"id":"64342f90.2baf6","type":"debug","z":"5c5074d9.94ef1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":100,"wires":[]},{"id":"946e10cb.e4d97","type":"debug","z":"5c5074d9.94ef1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":260,"wires":[]},{"id":"ed07e476.ea58f8","type":"function","z":"5c5074d9.94ef1c","name":"from variables to XML","func":"var states = flow.get('states') || [];\n \nmsg.payload = \"<scxml xmlns=\\\"http://www.w3.org/2005/07/scxml\\\" version=\\\"1.0\\\" initial=\\\"\"+states[0][0]+\"\\\">\\n\"\n\n\nfor (var i = 0; i < states.length; i++) {\n    msg.payload += \"<state id = \\\"\"+ states[i][0]+\"\\\">\\n\"\n    for (var j = 0; j < states[i][1].length; j++) {\n        msg.payload += \"<transition event=\\\"\"+states[i][1][j][0]+\"\\\" target=\\\"\"+states[i][1][j][1]+\"\\\" />\\n\"\n    }\n    msg.payload += \"</state>\\n\"\n}\nmsg.payload += \"</scxml>\\n\"\n    \n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":420,"wires":[["46d7b003.decfa"]]},{"id":"d172b702.74c6e8","type":"comment","z":"5c5074d9.94ef1c","name":"Save FSM","info":"","x":140,"y":380,"wires":[]},{"id":"e7839951.dca328","type":"inject","z":"5c5074d9.94ef1c","name":"","topic":"","payload":"http://localhost:1880/fsm-file","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":420,"wires":[["ed07e476.ea58f8"]]},{"id":"e8b4cd07.e4554","type":"http in","z":"5c5074d9.94ef1c","name":"","url":"/editor-file","method":"get","upload":false,"swaggerDoc":"","x":180,"y":620,"wires":[["bd2c51ab.fa4b7"]]},{"id":"bd2c51ab.fa4b7","type":"file in","z":"5c5074d9.94ef1c","name":"","filename":"editor.scxml","format":"","sendError":true,"x":370,"y":620,"wires":[["745f99ce.afa928"]]},{"id":"745f99ce.afa928","type":"http response","z":"5c5074d9.94ef1c","name":"","statusCode":"","headers":{},"x":510,"y":620,"wires":[]},{"id":"46d7b003.decfa","type":"file","z":"5c5074d9.94ef1c","name":"","filename":"editor.scxml","appendNewline":true,"createDir":false,"overwriteFile":"true","x":610,"y":420,"wires":[["bbd4946e.d71bf8"]]},{"id":"bbd4946e.d71bf8","type":"debug","z":"5c5074d9.94ef1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":420,"wires":[]},{"id":"80bdb5d8.32ac18","type":"inject","z":"5c5074d9.94ef1c","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["55c4bca6.f91c54"]]},{"id":"880db1c5.efb16","type":"inject","z":"5c5074d9.94ef1c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":520,"wires":[["f3e875ad.90dcd8"]]},{"id":"f3e875ad.90dcd8","type":"function","z":"5c5074d9.94ef1c","name":"erase","func":"var states = flow.get('states') || [];\n\nstates = [];\nmsg.payload = states\nflow.set('states',states);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":520,"wires":[["2222cebd.f166c2"]]},{"id":"2222cebd.f166c2","type":"debug","z":"5c5074d9.94ef1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":520,"wires":[]},{"id":"cb46550d.2cf478","type":"comment","z":"5c5074d9.94ef1c","name":"erase all","info":"","x":140,"y":480,"wires":[]},{"id":"da9c96f8.a0d108","type":"inject","z":"5c5074d9.94ef1c","name":"","topic":"","payload":"{\"origin\" : \"stop\",\"event\" : \"e\",\"destination\" : \"start\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["25567bc9.677ab4"]]}]
