fsm_storage
[{"id":"b9c2fb6e.e017f8","type":"tab","label":"Storage","disabled":false,"info":""},{"id":"c7e11fba.90cbe","type":"http in","z":"b9c2fb6e.e017f8","name":"","url":"/fsm-file","method":"get","upload":false,"swaggerDoc":"","x":250,"y":380,"wires":[["2aa63645.7b634a"]]},{"id":"2aa63645.7b634a","type":"file in","z":"b9c2fb6e.e017f8","name":"","filename":"storage.scxml","format":"","sendError":true,"x":440,"y":380,"wires":[["608f0815.d85418"]]},{"id":"608f0815.d85418","type":"http response","z":"b9c2fb6e.e017f8","name":"","x":590,"y":380,"wires":[]},{"id":"dae1ac2a.fd1ff","type":"comment","z":"b9c2fb6e.e017f8","name":"Save","info":"","x":250,"y":220,"wires":[]},{"id":"35c97e91.e7c742","type":"inject","z":"b9c2fb6e.e017f8","name":"","topic":"","payload":"http://localhost:1880/fsm-file","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":260,"wires":[["17f7aa71.7ba176"]]},{"id":"17f7aa71.7ba176","type":"http request","z":"b9c2fb6e.e017f8","name":"getScxml","method":"GET","ret":"txt","url":"http://localhost:1880/editor-file","tls":"","x":420,"y":260,"wires":[["51238d13.79fbd4"]]},{"id":"9a91e03.9ca1d2","type":"debug","z":"b9c2fb6e.e017f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":260,"wires":[]},{"id":"51238d13.79fbd4","type":"file","z":"b9c2fb6e.e017f8","name":"","filename":"storage.scxml","appendNewline":true,"createDir":false,"overwriteFile":"true","x":640,"y":260,"wires":[["9a91e03.9ca1d2"]]}]
