modelChecker
[{"id":"8249f8b7.0e44b8","type":"tab","label":"Model Checker","disabled":false,"info":""},{"id":"896a1502.d48f98","type":"exec","z":"8249f8b7.0e44b8","command":"./NuSMV buff.smv","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":830,"y":180,"wires":[["1272c010.c2e9b"],[],[]]},{"id":"9c9995b3.427a98","type":"inject","z":"8249f8b7.0e44b8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["16609c63.eace94"]]},{"id":"597bbe18.84812","type":"comment","z":"8249f8b7.0e44b8","name":"launch tests","info":"","x":130,"y":120,"wires":[]},{"id":"e5392777.902f18","type":"inject","z":"8249f8b7.0e44b8","name":"","topic":"","payload":"SPEC AG (state = start -> AF state = stop)","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["9d462f27.eb8a7"]]},{"id":"7ebc3530.e834ec","type":"comment","z":"8249f8b7.0e44b8","name":"add a test","info":"","x":120,"y":260,"wires":[]},{"id":"16609c63.eace94","type":"http request","z":"8249f8b7.0e44b8","name":"getSMV","method":"GET","ret":"txt","url":"http://localhost:1880/smv-file","tls":"","x":280,"y":180,"wires":[["92cf9b72.1043d8"]]},{"id":"9d462f27.eb8a7","type":"function","z":"8249f8b7.0e44b8","name":"add test to tab 'tests'","func":"var tests = flow.get('tests') || [];\ntests.push(msg.payload);\nflow.set('tests',tests);\nmsg.payload = tests;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":320,"wires":[["48b95eb1.8a4d7"]]},{"id":"48b95eb1.8a4d7","type":"debug","z":"8249f8b7.0e44b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":320,"wires":[]},{"id":"92cf9b72.1043d8","type":"function","z":"8249f8b7.0e44b8","name":"add tests to file","func":"var tests = flow.get('tests') || [];\nfor (var i = 0; i < tests.length; i++) {\n    msg.payload = msg.payload + \"\\n\" +tests[i];\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":180,"wires":[["7a0b52e1.f6077c"]]},{"id":"2a9c7ab7.9dfff6","type":"inject","z":"8249f8b7.0e44b8","name":"","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":440,"wires":[["787f2189.ddeb3"]]},{"id":"766afe74.b56bf","type":"comment","z":"8249f8b7.0e44b8","name":"reset tests","info":"","x":120,"y":380,"wires":[]},{"id":"787f2189.ddeb3","type":"function","z":"8249f8b7.0e44b8","name":"clean 'tests' tab","func":"var tests = flow.get('tests') || [];\ntests.pop();\nflow.set('tests',tests);\nmsg.payload = tests;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":440,"wires":[["d165e85c.251978"]]},{"id":"d165e85c.251978","type":"debug","z":"8249f8b7.0e44b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":440,"wires":[]},{"id":"7a0b52e1.f6077c","type":"file","z":"8249f8b7.0e44b8","name":"","filename":"buff.smv","appendNewline":false,"createDir":true,"overwriteFile":"true","x":660,"y":180,"wires":[["896a1502.d48f98"]]},{"id":"1272c010.c2e9b","type":"debug","z":"8249f8b7.0e44b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":160,"wires":[]}]

