SCXML_to_SMV
[{"id":"1aa7de27.8ffbe2","type":"tab","label":"SCXML->SMV","disabled":false,"info":""},{"id":"58b52d15.367624","type":"inject","z":"1aa7de27.8ffbe2","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["57461346.18df2c"]]},{"id":"57461346.18df2c","type":"http request","z":"1aa7de27.8ffbe2","name":"getSCXML","method":"GET","ret":"txt","url":"http://localhost:1880/fsm-file","tls":"","x":270,"y":180,"wires":[["60e5f812.32ec18"]]},{"id":"6dcfd923.1a60d8","type":"http in","z":"1aa7de27.8ffbe2","name":"","url":"/smv-file","method":"get","upload":false,"swaggerDoc":"","x":230,"y":320,"wires":[["be1e2ef3.f5e77"]]},{"id":"be1e2ef3.f5e77","type":"file in","z":"1aa7de27.8ffbe2","name":"","filename":"state.smv","format":"","sendError":true,"x":400,"y":320,"wires":[["3b92892.4360676"]]},{"id":"3b92892.4360676","type":"http response","z":"1aa7de27.8ffbe2","name":"","statusCode":"","headers":{},"x":570,"y":320,"wires":[]},{"id":"ff06f122.207f7","type":"function","z":"1aa7de27.8ffbe2","name":"from scxml to smv","func":"var init = msg.payload.scxml.$.initial;\nvar states = [];\nvar transitions = [];\nfor (var i = 0; i < msg.payload.scxml.state.length; i++) {\n    var currentState = msg.payload.scxml.state[i].$.id\n    states.push(currentState);\n    for (var j = 0; j < msg.payload.scxml.state[i].transition.length; j++) {\n        var transitionAttribute = msg.payload.scxml.state[i].transition[j].$;\n        var currentTransition = [currentState, transitionAttribute.event,transitionAttribute.target];\n        transitions.push(currentTransition);\n    }\n    \n}\n\nmsg.payload = \"MODULE main \\n\\tVAR\\n\\t\\tstate : {\"\nvar listStates = \"\";\nfor (var i = 0; i < states.length; i++) {\n    if(i != 0){\n       listStates = listStates + \",\" ;\n    }\n    listStates = listStates + states[i];\n}\n\nmsg.payload = msg.payload + listStates;\n\nmsg.payload = msg.payload + \"};\\n\tASSIGN\\n\\t\\tinit(state) := \";\nmsg.payload = msg.payload + init+\";\";\nmsg.payload = msg.payload + \"\\n\\t\\tnext(state) := \\n\\t\\t\\tcase\\n\";\n\n//for to create all the conditions\nfor (var i = 0; i < transitions.length; i++) {\n    msg.payload = msg.payload + \"\\t\\t\\t\\tstate = \" + transitions[i][0] + \" : \" + transitions[i][2]+\";\\n\";\n}\n\nmsg.payload = msg.payload + \"\\t\\t\\t\\tTRUE : {\" +listStates + \"};\\n\\t\\t\\tesac;\\n\";\n\nreturn msg; ","outputs":1,"noerr":0,"x":610,"y":180,"wires":[["7f3184d.a31ba7c"]]},{"id":"7f3184d.a31ba7c","type":"file","z":"1aa7de27.8ffbe2","name":"","filename":"state.smv","appendNewline":true,"createDir":false,"overwriteFile":"true","x":780,"y":180,"wires":[[]]},{"id":"60e5f812.32ec18","type":"xml","z":"1aa7de27.8ffbe2","name":"","property":"payload","attr":"","chr":"","x":430,"y":180,"wires":[["ff06f122.207f7"]]}]
