simulator
[{"id":"419fddef.3793c4","type":"subflow","name":"simulator","info":"","category":"","in":[{"x":40,"y":220,"wires":[{"id":"5a9e8da1.7b2fb4"}]}],"out":[{"x":1060,"y":240,"wires":[{"id":"5327e139.cba9b","port":0},{"id":"c9a090ea.f676d","port":0},{"id":"67dccf9b.b1a8","port":0},{"id":"475a7886.b5e1f8","port":0}]}]},{"id":"cc43375c.850268","type":"comment","z":"419fddef.3793c4","name":"get current state","info":"","x":340,"y":400,"wires":[]},{"id":"5327e139.cba9b","type":"function","z":"419fddef.3793c4","name":"getCurrentSim","func":"//var count=context.get('count') || 0;\nvar file=flow.get('currentState') || null;\nif(file == null){\n    msg.payload=\"no simulation running\";\n}\nelse{\n    msg.payload= file;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":440,"wires":[["bb59e262.22e8d"]]},{"id":"bb59e262.22e8d","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":480,"wires":[]},{"id":"2c054b7f.a3e9c4","type":"comment","z":"419fddef.3793c4","name":"Start","info":"","x":310,"y":80,"wires":[]},{"id":"9236418d.ee9bb","type":"http request","z":"419fddef.3793c4","name":"getScxml","method":"GET","ret":"txt","url":"http://localhost:1880/fsm-file","tls":"","x":500,"y":120,"wires":[["bebec7eb.b46838"]]},{"id":"17984df0.987ed2","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":40,"wires":[]},{"id":"475a7886.b5e1f8","type":"function","z":"419fddef.3793c4","name":"Start","func":"var state = flow.get('currentState') || null;\nvar initial = msg.payload.scxml.$.initial\nfor (var i = 0; i < msg.payload.scxml.state.length; i++) {\n    if (msg.payload.scxml.state[i].$.id == initial) {\n        state = msg.payload.scxml.state[i];\n    }\n}\n\nflow.set('currentState',state);\n\nvar fsm = flow.get('FSM') || null;\nfsm = msg.payload\nflow.set('FSM',fsm);\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":120,"wires":[["17984df0.987ed2"]]},{"id":"74dfd0fd.88e23","type":"comment","z":"419fddef.3793c4","name":"End Simulation","info":"","x":340,"y":180,"wires":[]},{"id":"67dccf9b.b1a8","type":"function","z":"419fddef.3793c4","name":"End","func":"var fsm=flow.get('FSM') || null;\nfsm = null;\nflow.set('FSM',fsm);\n\nvar state=flow.get('currentState') || null;\nstate = null;\nflow.set('currentState',state);\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["936f533d.56823"]]},{"id":"936f533d.56823","type":"debug","z":"419fddef.3793c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":180,"wires":[]},{"id":"82e7d95e.2a9638","type":"comment","z":"419fddef.3793c4","name":"inject event","info":"","x":330,"y":300,"wires":[]},{"id":"c9a090ea.f676d","type":"function","z":"419fddef.3793c4","name":"Inject","func":"var fsm=flow.get('FSM') || null;\nvar state=flow.get('currentState') || null;\nvar destination = null;\n\nfor (var i = 0; i < state.transition.length; i++) {\n    if (state.transition[i].$.event == msg.payload) {\n        destination = state.transition[i].$.target\n    }\n}\n\nif (destination !== null) {\n    for (var i = 0; i < fsm.scxml.state.length; i++) {\n        if (fsm.scxml.state[i].$.id == destination) {\n            state = fsm.scxml.state[i];\n        }\n    }\n}\nmsg.payload = state\nflow.set('currentState',state);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":340,"wires":[[]]},{"id":"bebec7eb.b46838","type":"xml","z":"419fddef.3793c4","name":"","property":"payload","attr":"","chr":"","x":650,"y":120,"wires":[["475a7886.b5e1f8"]]},{"id":"5a9e8da1.7b2fb4","type":"switch","z":"419fddef.3793c4","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"launchSimulation","vt":"str"},{"t":"eq","v":"endSimulation","vt":"str"},{"t":"eq","v":"injectEvent","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":150,"y":220,"wires":[["59f4fb0b.ba51e4"],["d4a5c1ad.98887"],["3d8780fa.61cc6"],["c750c495.9f0628"]]},{"id":"59f4fb0b.ba51e4","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["9236418d.ee9bb"]]},{"id":"d4a5c1ad.98887","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":240,"wires":[["67dccf9b.b1a8"]]},{"id":"3d8780fa.61cc6","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":340,"wires":[["c9a090ea.f676d"]]},{"id":"c750c495.9f0628","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":440,"wires":[["5327e139.cba9b"]]}]
