simulator
[{"id":"e4bacdaf.55f83","type":"tab","label":"Simulateur","disabled":false,"info":""},{"id":"599cd8ed.6c11d8","type":"inject","z":"e4bacdaf.55f83","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":540,"wires":[["6234c4df.d606ec"]]},{"id":"cdf45b00.6221a8","type":"comment","z":"e4bacdaf.55f83","name":"get current state","info":"","x":140,"y":500,"wires":[]},{"id":"6234c4df.d606ec","type":"function","z":"e4bacdaf.55f83","name":"getCurrentSim","func":"//var count=context.get('count') || 0;\nvar file=flow.get('currentState') || null;\nif(file == null){\n    msg.payload=\"no simulation running\";\n}\nelse{\n    msg.payload= file;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":540,"wires":[["4a023ffe.54d87"]]},{"id":"4a023ffe.54d87","type":"debug","z":"e4bacdaf.55f83","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":540,"wires":[]},{"id":"8c676ee8.55bd8","type":"comment","z":"e4bacdaf.55f83","name":"Start","info":"","x":130,"y":180,"wires":[]},{"id":"8f32f0d5.8c88c","type":"inject","z":"e4bacdaf.55f83","name":"","topic":"","payload":"http://localhost:1880/fsm-file","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["45eeb174.451a5"]]},{"id":"45eeb174.451a5","type":"http request","z":"e4bacdaf.55f83","name":"getScxml","method":"GET","ret":"txt","url":"http://localhost:1880/fsm-file","tls":"","x":340,"y":220,"wires":[["af7c6ffa.64a7e"]]},{"id":"af7c6ffa.64a7e","type":"xml","z":"e4bacdaf.55f83","name":"","property":"payload","attr":"","chr":"","x":490,"y":220,"wires":[["43cec85b.5f58d8"]]},{"id":"58f4142.fbaf4ec","type":"debug","z":"e4bacdaf.55f83","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":220,"wires":[]},{"id":"43cec85b.5f58d8","type":"function","z":"e4bacdaf.55f83","name":"Start","func":"var state = flow.get('currentState') || null;\nvar initial = msg.payload.scxml.$.initial\nfor (var i = 0; i < msg.payload.scxml.state.length; i++) {\n    if (msg.payload.scxml.state[i].$.id == initial) {\n        state = msg.payload.scxml.state[i];\n    }\n}\n\nflow.set('currentState',state);\n\nvar fsm = flow.get('FSM') || null;\nfsm = msg.payload\nflow.set('FSM',fsm);\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["58f4142.fbaf4ec"]]},{"id":"5c865587.f05fcc","type":"inject","z":"e4bacdaf.55f83","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["1e6bb37d.4f35ad"]]},{"id":"c7af2095.20401","type":"comment","z":"e4bacdaf.55f83","name":"End Simulation","info":"","x":140,"y":300,"wires":[]},{"id":"1e6bb37d.4f35ad","type":"function","z":"e4bacdaf.55f83","name":"End","func":"var fsm=flow.get('FSM') || null;\nfsm = null;\nflow.set('FSM',fsm);\n\nvar state=flow.get('currentState') || null;\nstate = null;\nflow.set('currentState',state);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["3062cdd9.fe3212"]]},{"id":"3062cdd9.fe3212","type":"debug","z":"e4bacdaf.55f83","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":480,"y":340,"wires":[]},{"id":"eda6c831.7847d8","type":"inject","z":"e4bacdaf.55f83","name":"","topic":"","payload":"e","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":440,"wires":[["7fe2fe60.fd367"]]},{"id":"61edddd7.ae1104","type":"comment","z":"e4bacdaf.55f83","name":"inject event","info":"","x":130,"y":400,"wires":[]},{"id":"7fe2fe60.fd367","type":"function","z":"e4bacdaf.55f83","name":"Inject","func":"var fsm=flow.get('FSM') || null;\nvar state=flow.get('currentState') || null;\nvar destination = null;\n\nfor (var i = 0; i < state.transition.length; i++) {\n    if (state.transition[i].$.event == msg.payload) {\n        destination = state.transition[i].$.target\n    }\n}\n\nif (destination !== null) {\n    for (var i = 0; i < fsm.scxml.state.length; i++) {\n        if (fsm.scxml.state[i].$.id == destination) {\n            state = fsm.scxml.state[i];\n        }\n    }\n}\n\nflow.set('currentState',state);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["ee1ad5b3.2f3578"]]},{"id":"ee1ad5b3.2f3578","type":"debug","z":"e4bacdaf.55f83","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":480,"y":440,"wires":[]}]
