src/subnode/json_to_scxml
[{"id":"33c66668.b47cba","type":"subflow","name":"JSON->SCXML","info":"","category":"","in":[{"x":240,"y":220,"wires":[{"id":"ee87db.46b04828"}]}],"out":[{"x":760,"y":220,"wires":[{"id":"ee87db.46b04828","port":0}]}]},{"id":"ee87db.46b04828","type":"function","z":"33c66668.b47cba","name":"json to scxml","func":"var json = msg.payload\n\nmsg.payload = \"<scxml xmlns=\\\"http://www.w3.org/2005/07/scxml\\\" version=\\\"1.0\\\" initial=\\\"\"+json.init+\"\\\">\\n\"\n\n\nfor (var i = 0; i < json.fsm.length; i++) {\n    msg.payload += \"<state id = \\\"\"+ json.fsm[i].stateName+\"\\\">\\n\"\n    msg.payload += \"<onentry> <log expr=\\\"'Enter state : \"+ json.fsm[i].stateName +\"'\\\" /></onentry>\\n\"\n    msg.payload += \"<onexit> <log expr=\\\"'Exit state : \"+ json.fsm[i].stateName + \"'\\\" /></onexit>\\n\"\n    for (var j = 0; j < json.fsm[i].transitions.length; j++) {\n        msg.payload += \"<transition event=\\\"\"+json.fsm[i].transitions[j].event+\"\\\" target=\\\"\"+json.fsm[i].transitions[j].destination+\"\\\" />\\n\"\n    }\n    msg.payload += \"</state>\\n\"\n}\nmsg.payload += \"</scxml>\\n\"\n    \n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[[]]}]
