src/ECAToJson
[{"id":"a215432.6282cc","type":"tab","label":"ECA","disabled":false,"info":""},{"id":"ee98d071.4ece6","type":"inject","z":"a215432.6282cc","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":120,"wires":[["b247f81e.349e88"]]},{"id":"b247f81e.349e88","type":"file in","z":"a215432.6282cc","name":"","filename":"exemple/turbine1.eca","format":"utf8","chunk":false,"sendError":false,"x":380,"y":120,"wires":[["e2cb2b5c.a8fc48"]]},{"id":"d284068c.6c9b48","type":"debug","z":"a215432.6282cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":40,"wires":[]},{"id":"e2cb2b5c.a8fc48","type":"function","z":"a215432.6282cc","name":"parse eca file","func":"msg.payload = msg.payload.split(\"\\n\")\nmsg.input_events = []\nmsg.output_events = []\nmsg.conditions = []\nfor (var i = 0; i < msg.payload.length; i++) {\n    msg.payload[i] = msg.payload[i].split(\" \")\n    if(msg.payload[i][0] == \"ON\"){\n        msg.input_events.push(msg.payload[i][1])\n        msg.conditions.push(msg.payload[i][3])\n        msg.output_events.push(msg.payload[i][5])\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":120,"wires":[["33d3a937.a17c46","d284068c.6c9b48"]]},{"id":"33d3a937.a17c46","type":"function","z":"a215432.6282cc","name":"create sub-fsm","func":"var system = flow.get('system') || [];\nvar fsm = []\n\nfor (var i = 0; i < msg.output_events.length; i++) {\n    fsm.push(JSON.parse(\"{\\\"event\\\":\\\"\"+msg.output_events[i]+\"\\\",\\\"transitions\\\":[]}\"))\n    //fsm[i].stateName = msg.output_events[i]\n    //fsm[i].transitions = []\n    for (var j = 0; j < msg.output_events.length; j++) {\n        var new_transition = JSON.parse(\"{\\\"event\\\":\\\"\"+msg.conditions[j]+\"\\\",\\\"destination\\\":\\\"\"+msg.output_events[j]+\"\\\"}\")\n        fsm[i].transitions.push(new_transition)\n    }\n}\nsystem.push(fsm)\nflow.set('system',system)\nmsg.payload = system\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":120,"wires":[["fe04fce2.93a94"]]},{"id":"fe04fce2.93a94","type":"debug","z":"a215432.6282cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":120,"wires":[]},{"id":"59f71119.c05a3","type":"file in","z":"a215432.6282cc","name":"","filename":"exemple/turbine2.eca","format":"utf8","chunk":false,"sendError":false,"x":380,"y":200,"wires":[["e2cb2b5c.a8fc48"]]},{"id":"954857c4.af59c8","type":"inject","z":"a215432.6282cc","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":200,"wires":[["59f71119.c05a3"]]},{"id":"f0904aa9.d9d688","type":"inject","z":"a215432.6282cc","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":340,"wires":[["ae3e175e.5c6ad8"]]},{"id":"ae3e175e.5c6ad8","type":"function","z":"a215432.6282cc","name":"create sub-fsm","func":"var system = flow.get('system') || [];\n\nsystem = []\nflow.set('system',system)\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["20541a46.f4d666"]]},{"id":"20541a46.f4d666","type":"debug","z":"a215432.6282cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":340,"wires":[]}]
