src/fileStorage
[{"id":"b66cc172.70e4d","type":"subflow","name":"loadFile","info":"","category":"","in":[{"x":280,"y":240,"wires":[{"id":"fed3fe4e.207fe"}]}],"out":[{"x":920,"y":200,"wires":[{"id":"fed3fe4e.207fe","port":0}]},{"x":960,"y":260,"wires":[{"id":"fed3fe4e.207fe","port":1}]}]},{"id":"fed3fe4e.207fe","type":"exec","z":"b66cc172.70e4d","command":"python script/loadFile.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":240,"wires":[[],[],[]]},{"id":"8e8b9a08.8e1c58","type":"subflow","name":"saveFile","info":"","category":"","in":[{"x":160,"y":120,"wires":[{"id":"35d0006f.052fa"}]}],"out":[{"x":1320,"y":80,"wires":[{"id":"47bbdd69.a17c34","port":0}]},{"x":1160,"y":160,"wires":[{"id":"47bbdd69.a17c34","port":1}]}]},{"id":"35d0006f.052fa","type":"function","z":"8e8b9a08.8e1c58","name":"argument for save file exec","func":"var directory = flow.get('directory') || \".\";\ndirectory = directory.urlData;\n\nflow.set('directory',directory);\nmsg.payload = msg.payload.path + \" \" + msg.payload.urlData\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["47bbdd69.a17c34"]]},{"id":"47bbdd69.a17c34","type":"exec","z":"8e8b9a08.8e1c58","command":"python script/saveFile.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":120,"wires":[[],[],[]]},{"id":"c73bf893.a397c8","type":"comment","z":"8e8b9a08.8e1c58","name":"todo","info":"change directory name for more visibility","x":530,"y":220,"wires":[]},{"id":"3f2a1446.95c0cc","type":"function","z":"8e8b9a08.8e1c58","name":"reply generation","func":"var directory = flow.get('directory') || \".\";\n\n\nmsg.payload = \"{\\\"reply\\\":\\\"log\\\",\\\"data\\\":\\\"\"+directory+\"\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":400,"wires":[["bacd5d7f.2e94e"]]},{"id":"bacd5d7f.2e94e","type":"json","z":"8e8b9a08.8e1c58","name":"","property":"payload","action":"","pretty":false,"x":1040,"y":400,"wires":[[]]},{"id":"eaca6ff9.364af","type":"subflow","name":"file storage","info":"","category":"","in":[{"x":80,"y":320,"wires":[{"id":"b8289b55.dbc6a8"}]}],"out":[{"x":2080,"y":400,"wires":[{"id":"19f6678a.add888","port":1}]},{"x":2080,"y":260,"wires":[{"id":"19f6678a.add888","port":0}]}]},{"id":"784ba9dc.e10248","type":"comment","z":"eaca6ff9.364af","name":"Save","info":"","x":250,"y":240,"wires":[]},{"id":"f017d38e.66149","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":120,"wires":[["3fb98fc3.8e814"]]},{"id":"b8289b55.dbc6a8","type":"switch","z":"eaca6ff9.364af","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"saveFSM","vt":"str"},{"t":"eq","v":"launchSimulation","vt":"str"},{"t":"eq","v":"launchTests","vt":"str"},{"t":"eq","v":"saveSimLog","vt":"str"},{"t":"eq","v":"loadFSM","vt":"str"},{"t":"eq","v":"saveTests","vt":"str"},{"t":"eq","v":"loadTests","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":250,"y":320,"wires":[["f017d38e.66149"],["1bc6e077.10545"],["74fa8e13.a1923"],["e7e70228.499d2"],["d9063f67.5c21c"],["68c578f6.9e44d8"],["8af28b1b.27e7f8"]]},{"id":"1bc6e077.10545","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["e5445c44.293c4"]]},{"id":"e5445c44.293c4","type":"function","z":"eaca6ff9.364af","name":"load scxml (todo)","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":220,"wires":[["2daa53c0.bb3edc"]]},{"id":"2daa53c0.bb3edc","type":"function","z":"eaca6ff9.364af","name":"send request to Simulator","func":"msg.payload = {\"action\":\"launchSimulation\",\"data\":\"http://localhost:1880/fsm-file\"}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":220,"wires":[["90cef6a6.734788"]]},{"id":"74fa8e13.a1923","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["28947d84.28ec02"]]},{"id":"28947d84.28ec02","type":"function","z":"eaca6ff9.364af","name":"load scxml (todo)","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":320,"wires":[["2b2d44b0.e0a89c"]]},{"id":"2b2d44b0.e0a89c","type":"function","z":"eaca6ff9.364af","name":"send request to model check","func":"msg.payload = {\"action\":\"launchTests\",\"data\":\"http://localhost:1880/fsm-file\"}\nreturn msg;","outputs":1,"noerr":0,"x":959,"y":320,"wires":[["90cef6a6.734788"]]},{"id":"e7e70228.499d2","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":420,"wires":[["87b81432.ebee48"]]},{"id":"87b81432.ebee48","type":"file","z":"eaca6ff9.364af","name":"","filename":"simLog/log","appendNewline":true,"createDir":false,"overwriteFile":"true","x":690,"y":420,"wires":[[]]},{"id":"d9063f67.5c21c","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":520,"wires":[["3aadd205.28ceae"]]},{"id":"19f6678a.add888","type":"switch","z":"eaca6ff9.364af","name":"","property":"payload.reply","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1770,"y":340,"wires":[[],[]]},{"id":"90cef6a6.734788","type":"json","z":"eaca6ff9.364af","name":"","property":"payload","action":"","pretty":false,"x":1630,"y":340,"wires":[["19f6678a.add888"]]},{"id":"3fb98fc3.8e814","type":"subflow:8e8b9a08.8e1c58","z":"eaca6ff9.364af","name":"","x":660,"y":120,"wires":[["1c5344f7.b0916b"],[]]},{"id":"3aadd205.28ceae","type":"subflow:b66cc172.70e4d","z":"eaca6ff9.364af","name":"","x":700,"y":520,"wires":[["68f329dc.554488"],[]]},{"id":"e85fda20.000ee8","type":"function","z":"eaca6ff9.364af","name":"send request to fsm editor","func":"msg.payload = \"{\\\"action\\\":\\\"loadFSM\\\",\\\"data\\\":\\\"/home/tibo/Documents/polytech_si5/PFE/test/tmp/storage\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":520,"wires":[["90cef6a6.734788"]]},{"id":"68f329dc.554488","type":"file","z":"eaca6ff9.364af","name":"","filename":"tmp/storage","appendNewline":true,"createDir":false,"overwriteFile":"true","x":870,"y":520,"wires":[["e85fda20.000ee8"]]},{"id":"68c578f6.9e44d8","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":620,"wires":[["871abdbb.76775"]]},{"id":"e407c6d2.ea4ea8","type":"function","z":"eaca6ff9.364af","name":"save current working directory ","func":"var directory = flow.get('directory') || \".\";\n\ndirectory = msg.payload;\nflow.set('directory',directory);\nmsg.payload = \"{\\\"reply\\\":\\\"log\\\",\\\"data\\\":\\\"\"+directory+\"\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":120,"wires":[["90cef6a6.734788"]]},{"id":"ce201139.c62d3","type":"comment","z":"eaca6ff9.364af","name":"save test","info":"","x":500,"y":580,"wires":[]},{"id":"67ddb749.b95f48","type":"comment","z":"eaca6ff9.364af","name":"load FSM","info":"","x":500,"y":480,"wires":[]},{"id":"752f57a5.1b8718","type":"comment","z":"eaca6ff9.364af","name":"save Sim log","info":"","x":510,"y":380,"wires":[]},{"id":"b19f14b8.f56f98","type":"comment","z":"eaca6ff9.364af","name":"launchTests","info":"","x":510,"y":280,"wires":[]},{"id":"494ef422.b7961c","type":"comment","z":"eaca6ff9.364af","name":"launch Simulation","info":"","x":530,"y":180,"wires":[]},{"id":"a1e378da.230f28","type":"comment","z":"eaca6ff9.364af","name":"saveFsm","info":"","x":500,"y":80,"wires":[]},{"id":"871abdbb.76775","type":"function","z":"eaca6ff9.364af","name":"create request ","func":"var directory = flow.get('directory') || \".\";\nmsg.payload = \"{\\\"path\\\":\\\"\"+directory+\"tmp/model\\\",\\\"urlData\\\":\\\"\" + directory + \"modelCheck/\" + msg.payload +\"\\\"}\"\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":620,"wires":[["a6d6ecff.326ee"]]},{"id":"8af28b1b.27e7f8","type":"function","z":"eaca6ff9.364af","name":"get data","func":"var directory = flow.get('directory') || \".\";\n\nmsg.payload =  directory +\"modelCheck/\" +  msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":720,"wires":[["a1ebd134.c3145"]]},{"id":"daafc710.e9b618","type":"comment","z":"eaca6ff9.364af","name":"load test","info":"","x":500,"y":680,"wires":[]},{"id":"46002829.e8d828","type":"subflow:8e8b9a08.8e1c58","z":"eaca6ff9.364af","name":"","x":1020,"y":620,"wires":[["45e77cfe.f9dff4"],[]]},{"id":"a1ebd134.c3145","type":"subflow:b66cc172.70e4d","z":"eaca6ff9.364af","name":"","x":680,"y":720,"wires":[["442034e3.38ab2c"],[]]},{"id":"442034e3.38ab2c","type":"file","z":"eaca6ff9.364af","name":"","filename":"tmp/model","appendNewline":true,"createDir":false,"overwriteFile":"true","x":890,"y":720,"wires":[["f0a2de4f.62c93"]]},{"id":"f0a2de4f.62c93","type":"function","z":"eaca6ff9.364af","name":"send request to model checker","func":"var directory = flow.get('directory') || \".\";\n\nmsg.payload = \"{\\\"action\\\":\\\"loadTests\\\",\\\"data\\\":\\\"\"+directory+\"/tmp/storage\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":720,"wires":[["90cef6a6.734788"]]},{"id":"1c5344f7.b0916b","type":"exec","z":"eaca6ff9.364af","command":"python script/getDirectory.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":880,"y":120,"wires":[["e407c6d2.ea4ea8"],[],[]]},{"id":"a6d6ecff.326ee","type":"json","z":"eaca6ff9.364af","name":"","property":"payload","action":"","pretty":false,"x":870,"y":620,"wires":[["46002829.e8d828"]]},{"id":"45e77cfe.f9dff4","type":"function","z":"eaca6ff9.364af","name":"create reply ","func":"msg.payload = \"{\\\"log\\\":\\\"reply\\\",\\\"data\\\":\\\"test successfully saved\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":620,"wires":[["90cef6a6.734788"]]}]
