src/fileStorage
[{"id":"b66cc172.70e4d","type":"subflow","name":"loadFile","info":"","category":"","in":[{"x":280,"y":240,"wires":[{"id":"fed3fe4e.207fe"}]}],"out":[{"x":920,"y":200,"wires":[{"id":"fed3fe4e.207fe","port":0}]},{"x":960,"y":260,"wires":[{"id":"fed3fe4e.207fe","port":1}]}]},{"id":"fed3fe4e.207fe","type":"exec","z":"b66cc172.70e4d","command":"python script/loadFile.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":240,"wires":[[],[],[]]},{"id":"eaca6ff9.364af","type":"subflow","name":"file storage","info":"","category":"","in":[{"x":80,"y":320,"wires":[{"id":"b8289b55.dbc6a8"}]}],"out":[{"x":2080,"y":400,"wires":[{"id":"19f6678a.add888","port":1}]},{"x":2080,"y":260,"wires":[{"id":"19f6678a.add888","port":0}]}]},{"id":"784ba9dc.e10248","type":"comment","z":"eaca6ff9.364af","name":"Save","info":"","x":250,"y":240,"wires":[]},{"id":"b8289b55.dbc6a8","type":"switch","z":"eaca6ff9.364af","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"saveFSM","vt":"str"},{"t":"eq","v":"launchSimulation","vt":"str"},{"t":"eq","v":"launchTests","vt":"str"},{"t":"eq","v":"saveSimLog","vt":"str"},{"t":"eq","v":"loadFSM","vt":"str"},{"t":"eq","v":"saveTests","vt":"str"},{"t":"eq","v":"loadTests","vt":"str"},{"t":"eq","v":"saveSimEvents","vt":"str"},{"t":"eq","v":"loadSimEvents","vt":"str"},{"t":"eq","v":"saveModelLog","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":210,"y":340,"wires":[["98367e48.04eed"],["1bc6e077.10545"],["74fa8e13.a1923"],["e7e70228.499d2"],["d9063f67.5c21c"],["68c578f6.9e44d8"],["f779e249.bd75c"],[],[],["c7f9177b.ff82e8"]]},{"id":"1bc6e077.10545","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["e5445c44.293c4"]]},{"id":"e5445c44.293c4","type":"function","z":"eaca6ff9.364af","name":"load scxml (todo)","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":220,"wires":[["2daa53c0.bb3edc"]]},{"id":"2daa53c0.bb3edc","type":"function","z":"eaca6ff9.364af","name":"send request to Simulator","func":"msg.payload = {\"action\":\"launchSimulation\",\"data\":\"http://localhost:1880/fsm-file\"}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":220,"wires":[["90cef6a6.734788"]]},{"id":"74fa8e13.a1923","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["1b747ef5.7b9b41"]]},{"id":"e7e70228.499d2","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":420,"wires":[["87b81432.ebee48"]]},{"id":"87b81432.ebee48","type":"file","z":"eaca6ff9.364af","name":"","filename":"simLog/log","appendNewline":true,"createDir":false,"overwriteFile":"true","x":690,"y":420,"wires":[[]]},{"id":"d9063f67.5c21c","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data.name\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":520,"wires":[["e85fda20.000ee8"]]},{"id":"19f6678a.add888","type":"switch","z":"eaca6ff9.364af","name":"","property":"payload.reply","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1770,"y":340,"wires":[[],[]]},{"id":"90cef6a6.734788","type":"json","z":"eaca6ff9.364af","name":"","property":"payload","action":"","pretty":false,"x":1630,"y":340,"wires":[["19f6678a.add888"]]},{"id":"e85fda20.000ee8","type":"function","z":"eaca6ff9.364af","name":"send request to fsm editor","func":"msg.payload = \"{\\\"action\\\":\\\"loadFSM\\\",\\\"data\\\":{\\\"urlFrom\\\":\\\"http://localhost:1880/storage/\"+msg.payload+\"\\\"}}\"\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":520,"wires":[["90cef6a6.734788"]]},{"id":"68c578f6.9e44d8","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.url = msg.payload.data.urlFrom\nmsg.filename = \"storage/\" + msg.name\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":620,"wires":[["775df706.7ca0a8"]]},{"id":"ce201139.c62d3","type":"comment","z":"eaca6ff9.364af","name":"save test","info":"","x":500,"y":580,"wires":[]},{"id":"67ddb749.b95f48","type":"comment","z":"eaca6ff9.364af","name":"load FSM","info":"","x":500,"y":480,"wires":[]},{"id":"752f57a5.1b8718","type":"comment","z":"eaca6ff9.364af","name":"save Sim log","info":"","x":510,"y":380,"wires":[]},{"id":"b19f14b8.f56f98","type":"comment","z":"eaca6ff9.364af","name":"launchTests","info":"","x":510,"y":280,"wires":[]},{"id":"494ef422.b7961c","type":"comment","z":"eaca6ff9.364af","name":"launch Simulation","info":"","x":530,"y":180,"wires":[]},{"id":"daafc710.e9b618","type":"comment","z":"eaca6ff9.364af","name":"load test","info":"","x":500,"y":680,"wires":[]},{"id":"45e77cfe.f9dff4","type":"function","z":"eaca6ff9.364af","name":"create reply ","func":"msg.payload = \"{\\\"log\\\":\\\"reply\\\",\\\"data\\\":\\\"tests successfully saved in file : \"+msg.filename+\"\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":620,"wires":[["90cef6a6.734788"]]},{"id":"c7f9177b.ff82e8","type":"function","z":"eaca6ff9.364af","name":"get data","func":"var directory = flow.get('directory') || \".\";\n\nmsg.payload =  directory +\"modelCheck/\" +  msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":920,"wires":[["4219813b.5a1b1"]]},{"id":"4219813b.5a1b1","type":"file","z":"eaca6ff9.364af","name":"","filename":"ModelCheckLog/log","appendNewline":true,"createDir":false,"overwriteFile":"true","x":720,"y":920,"wires":[[]]},{"id":"4c00ec97.593d64","type":"http response","z":"eaca6ff9.364af","name":"","statusCode":"","headers":{},"x":2150,"y":40,"wires":[]},{"id":"e4258ea.b35767","type":"http in","z":"eaca6ff9.364af","name":"","url":"/storage/:name","method":"get","upload":false,"swaggerDoc":"","x":1610,"y":40,"wires":[["6b037ceb.6f64b4"]]},{"id":"6b037ceb.6f64b4","type":"function","z":"eaca6ff9.364af","name":"","func":"msg.filename = \"storage/\" + msg.req.params.name\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":40,"wires":[["32116dd3.f5f642"]]},{"id":"32116dd3.f5f642","type":"file in","z":"eaca6ff9.364af","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":1950,"y":40,"wires":[["4c00ec97.593d64"]]},{"id":"775df706.7ca0a8","type":"http request","z":"eaca6ff9.364af","name":"","method":"GET","ret":"txt","url":"","tls":"","x":670,"y":620,"wires":[["97582de.0f333d","41dcad1b.3c9bc4"]]},{"id":"41dcad1b.3c9bc4","type":"file","z":"eaca6ff9.364af","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":990,"y":620,"wires":[["45e77cfe.f9dff4"]]},{"id":"98367e48.04eed","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.url = msg.payload.data.urlFrom\nmsg.filename = msg.payload.data.name\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":120,"wires":[["ab2e284a.2d11a8"]]},{"id":"5b495f2a.8ae17","type":"comment","z":"eaca6ff9.364af","name":"save fsm","info":"","x":500,"y":80,"wires":[]},{"id":"eef51420.f4d668","type":"function","z":"eaca6ff9.364af","name":"create reply ","func":"msg.payload = \"{\\\"log\\\":\\\"reply\\\",\\\"data\\\":\\\"fsm successfully saved in file : \"+msg.filename+\"\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":120,"wires":[["90cef6a6.734788"]]},{"id":"ab2e284a.2d11a8","type":"http request","z":"eaca6ff9.364af","name":"","method":"GET","ret":"txt","url":"","tls":"","x":670,"y":120,"wires":[["b087317b.ba22b"]]},{"id":"1f0f1fb5.45603","type":"file","z":"eaca6ff9.364af","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":990,"y":120,"wires":[["eef51420.f4d668"]]},{"id":"b087317b.ba22b","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.filename = \"storage/\"+ msg.filename\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":120,"wires":[["1f0f1fb5.45603"]]},{"id":"f779e249.bd75c","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data.name\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":720,"wires":[["22d374de.cdb45c"]]},{"id":"22d374de.cdb45c","type":"function","z":"eaca6ff9.364af","name":"send request to fsm editor","func":"msg.payload = \"{\\\"action\\\":\\\"loadTests\\\",\\\"data\\\":{\\\"urlFrom\\\":\\\"http://localhost:1880/storage/\"+msg.payload+\"\\\"}}\"\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":720,"wires":[["90cef6a6.734788"]]},{"id":"a4ae496f.5e6488","type":"function","z":"eaca6ff9.364af","name":"get data","func":"\nmsg.payload =  directory +\"modelCheck/\" +  msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1040,"wires":[["8a6543ae.c1ab3"]]},{"id":"8a6543ae.c1ab3","type":"subflow:b66cc172.70e4d","z":"eaca6ff9.364af","name":"","x":620,"y":1040,"wires":[["e8f133f4.c593c"],[]]},{"id":"e8f133f4.c593c","type":"file","z":"eaca6ff9.364af","name":"","filename":"tmp/model","appendNewline":true,"createDir":false,"overwriteFile":"true","x":830,"y":1040,"wires":[["c4054d8e.7de33"]]},{"id":"c4054d8e.7de33","type":"function","z":"eaca6ff9.364af","name":"send request to model checker","func":"var directory = flow.get('directory') || \".\";\n\nmsg.payload = \"{\\\"action\\\":\\\"loadTests\\\",\\\"data\\\":\\\"\"+directory+\"/tmp/storage\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1040,"wires":[[]]},{"id":"1b747ef5.7b9b41","type":"function","z":"eaca6ff9.364af","name":"send request to fsm editor","func":"msg.payload.data.testFile = \"http://localhost:1880/storage/\"+msg.payload.data.testFile\nmsg.payload.data.smvFile = \"http://localhost:1880/storage/\"+msg.payload.data.testFile\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":320,"wires":[["90cef6a6.734788"]]},{"id":"97582de.0f333d","type":"debug","z":"eaca6ff9.364af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":560,"wires":[]}]
