src/fileStorage
[{"id":"b66cc172.70e4d","type":"subflow","name":"loadFile","info":"","category":"","in":[{"x":280,"y":240,"wires":[{"id":"fed3fe4e.207fe"}]}],"out":[{"x":920,"y":200,"wires":[{"id":"fed3fe4e.207fe","port":0}]},{"x":960,"y":260,"wires":[{"id":"fed3fe4e.207fe","port":1}]}]},{"id":"fed3fe4e.207fe","type":"exec","z":"b66cc172.70e4d","command":"python script/loadFile.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":240,"wires":[[],[],[]]},{"id":"8e8b9a08.8e1c58","type":"subflow","name":"saveFile","info":"","category":"","in":[{"x":160,"y":120,"wires":[{"id":"35d0006f.052fa"}]}],"out":[{"x":900,"y":100,"wires":[{"id":"47bbdd69.a17c34","port":0}]},{"x":900,"y":160,"wires":[{"id":"47bbdd69.a17c34","port":1}]}]},{"id":"35d0006f.052fa","type":"function","z":"8e8b9a08.8e1c58","name":"argument to save file exec","func":"msg.payload = msg.payload.path + \" \" + msg.payload.urlData\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["47bbdd69.a17c34"]]},{"id":"47bbdd69.a17c34","type":"exec","z":"8e8b9a08.8e1c58","command":"python script/saveFile.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":120,"wires":[[],[],[]]},{"id":"eaca6ff9.364af","type":"subflow","name":"file storage","info":"","category":"","in":[{"x":80,"y":280,"wires":[{"id":"b8289b55.dbc6a8"}]}],"out":[{"x":1540,"y":280,"wires":[{"id":"19f6678a.add888","port":0}]},{"x":1540,"y":360,"wires":[{"id":"19f6678a.add888","port":1}]}]},{"id":"fe3b3a6a.42d298","type":"http in","z":"eaca6ff9.364af","name":"","url":"/fsm-file","method":"get","upload":false,"swaggerDoc":"","x":170,"y":660,"wires":[["10d8f4cf.38c5ab"]]},{"id":"10d8f4cf.38c5ab","type":"file in","z":"eaca6ff9.364af","name":"","filename":"storage.scxml","format":"","sendError":true,"x":360,"y":660,"wires":[["9bedc0ee.6cfc8"]]},{"id":"9bedc0ee.6cfc8","type":"http response","z":"eaca6ff9.364af","name":"","x":510,"y":660,"wires":[]},{"id":"784ba9dc.e10248","type":"comment","z":"eaca6ff9.364af","name":"Save","info":"","x":250,"y":200,"wires":[]},{"id":"f017d38e.66149","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["3fb98fc3.8e814","773f5ab8.38d974"]]},{"id":"b8289b55.dbc6a8","type":"switch","z":"eaca6ff9.364af","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"saveFSM","vt":"str"},{"t":"eq","v":"launchSimulation","vt":"str"},{"t":"eq","v":"launchTests","vt":"str"},{"t":"eq","v":"saveSimLog","vt":"str"},{"t":"eq","v":"saveModelLog","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":250,"y":280,"wires":[["f017d38e.66149"],["1bc6e077.10545"],["74fa8e13.a1923"],["e7e70228.499d2"],["d9063f67.5c21c"]]},{"id":"1bc6e077.10545","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":280,"wires":[["e5445c44.293c4"]]},{"id":"e5445c44.293c4","type":"function","z":"eaca6ff9.364af","name":"load scxml (todo)","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":280,"wires":[["2daa53c0.bb3edc"]]},{"id":"2daa53c0.bb3edc","type":"function","z":"eaca6ff9.364af","name":"send request to Simulator","func":"msg.payload = {\"action\":\"launchSimulation\",\"data\":\"http://localhost:1880/fsm-file\"}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":280,"wires":[["90cef6a6.734788"]]},{"id":"74fa8e13.a1923","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":340,"wires":[["28947d84.28ec02"]]},{"id":"28947d84.28ec02","type":"function","z":"eaca6ff9.364af","name":"load scxml (todo)","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":340,"wires":[["2b2d44b0.e0a89c"]]},{"id":"2b2d44b0.e0a89c","type":"function","z":"eaca6ff9.364af","name":"send request to model check","func":"msg.payload = {\"action\":\"launchTests\",\"data\":\"http://localhost:1880/fsm-file\"}\nreturn msg;","outputs":1,"noerr":0,"x":959,"y":340,"wires":[["90cef6a6.734788"]]},{"id":"e7e70228.499d2","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":400,"wires":[["87b81432.ebee48"]]},{"id":"87b81432.ebee48","type":"file","z":"eaca6ff9.364af","name":"","filename":"simLog/log","appendNewline":true,"createDir":false,"overwriteFile":"true","x":690,"y":400,"wires":[[]]},{"id":"d9063f67.5c21c","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":460,"wires":[["88d6a867.f18d58","3aadd205.28ceae"]]},{"id":"88d6a867.f18d58","type":"debug","z":"eaca6ff9.364af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":520,"wires":[]},{"id":"19f6678a.add888","type":"switch","z":"eaca6ff9.364af","name":"","property":"payload.reply","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":300,"wires":[[],[]]},{"id":"90cef6a6.734788","type":"json","z":"eaca6ff9.364af","name":"","property":"payload","action":"","pretty":false,"x":1270,"y":300,"wires":[["19f6678a.add888"]]},{"id":"3fb98fc3.8e814","type":"subflow:8e8b9a08.8e1c58","z":"eaca6ff9.364af","name":"","x":900,"y":220,"wires":[[],[]]},{"id":"773f5ab8.38d974","type":"debug","z":"eaca6ff9.364af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":140,"wires":[]},{"id":"3aadd205.28ceae","type":"subflow:b66cc172.70e4d","z":"eaca6ff9.364af","name":"","x":740,"y":460,"wires":[[],[]]},{"id":"e85fda20.000ee8","type":"function","z":"eaca6ff9.364af","name":"send request to fsm editor","func":"msg.payload = {\"action\":\"loadFSM\",\"data\":\"/home/tibo/Documents/polytech_si5/PFE/test/tmp/storage.scxml\"}\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":460,"wires":[[]]}]
