src/fileStorageService
[{"id":"eaca6ff9.364af","type":"subflow","name":"file storage","info":"","category":"","in":[{"x":80,"y":320,"wires":[{"id":"b8289b55.dbc6a8"}]}],"out":[{"x":2460,"y":400,"wires":[{"id":"19f6678a.add888","port":1}]},{"x":2460,"y":260,"wires":[{"id":"19f6678a.add888","port":0}]}]},{"id":"784ba9dc.e10248","type":"comment","z":"eaca6ff9.364af","name":"Save","info":"","x":250,"y":240,"wires":[]},{"id":"b8289b55.dbc6a8","type":"switch","z":"eaca6ff9.364af","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"saveFSM","vt":"str"},{"t":"eq","v":"launchSimulation","vt":"str"},{"t":"eq","v":"launchTests","vt":"str"},{"t":"eq","v":"saveSimLog","vt":"str"},{"t":"eq","v":"loadFSM","vt":"str"},{"t":"eq","v":"saveTests","vt":"str"},{"t":"eq","v":"loadTests","vt":"str"},{"t":"eq","v":"saveSimEvents","vt":"str"},{"t":"eq","v":"loadSimEvents","vt":"str"},{"t":"eq","v":"saveModelLog","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":210,"y":340,"wires":[["98367e48.04eed"],["40599356.fc08cc"],["74fa8e13.a1923"],["e7e70228.499d2"],["d9063f67.5c21c"],["68c578f6.9e44d8"],["405607c8.50efe8"],[],[],["c7f9177b.ff82e8"]]},{"id":"74fa8e13.a1923","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.testFile = msg.payload.data.testFile\nmsg.fsmFile = msg.payload.data.fsmFile\nmsg.logFile =msg.payload.data.logFile\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["1b747ef5.7b9b41"]]},{"id":"e7e70228.499d2","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.url = msg.payload.data.logUrl\nmsg.filename = msg.payload.data.logFile\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":420,"wires":[["3663d63b.2dd83a","710f5b70.ac5d94"]]},{"id":"87b81432.ebee48","type":"file","z":"eaca6ff9.364af","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":970,"y":420,"wires":[["1f714ca2.65e593"]]},{"id":"d9063f67.5c21c","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.filename = \"storage/\" + msg.payload.data.name\nmsg.name = msg.payload.data.name\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":520,"wires":[["d5d3dfe2.5a361"]]},{"id":"19f6678a.add888","type":"switch","z":"eaca6ff9.364af","name":"","property":"payload.reply","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2310,"y":280,"wires":[[],[]]},{"id":"90cef6a6.734788","type":"json","z":"eaca6ff9.364af","name":"","property":"payload","action":"","pretty":false,"x":2170,"y":280,"wires":[["19f6678a.add888"]]},{"id":"e85fda20.000ee8","type":"function","z":"eaca6ff9.364af","name":"send request to fsm editor","func":"msg.payload = \"{\\\"action\\\":\\\"loadFSM\\\",\\\"data\\\":{\\\"urlFrom\\\":\\\"http://localhost:1880/storage?file=\"+msg.name+\"\\\"}}\"\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":520,"wires":[["90cef6a6.734788"]]},{"id":"68c578f6.9e44d8","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.url = msg.payload.data.urlFrom\nmsg.filename = \"storage/\" + msg.name\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":620,"wires":[["775df706.7ca0a8"]]},{"id":"ce201139.c62d3","type":"comment","z":"eaca6ff9.364af","name":"save test","info":"","x":500,"y":580,"wires":[]},{"id":"67ddb749.b95f48","type":"comment","z":"eaca6ff9.364af","name":"load FSM","info":"","x":500,"y":480,"wires":[]},{"id":"752f57a5.1b8718","type":"comment","z":"eaca6ff9.364af","name":"save Sim log","info":"","x":510,"y":380,"wires":[]},{"id":"b19f14b8.f56f98","type":"comment","z":"eaca6ff9.364af","name":"launchTests","info":"","x":510,"y":280,"wires":[]},{"id":"494ef422.b7961c","type":"comment","z":"eaca6ff9.364af","name":"launch Simulation","info":"","x":530,"y":180,"wires":[]},{"id":"daafc710.e9b618","type":"comment","z":"eaca6ff9.364af","name":"load test","info":"","x":500,"y":680,"wires":[]},{"id":"45e77cfe.f9dff4","type":"function","z":"eaca6ff9.364af","name":"create reply ","func":"msg.payload = \"{\\\"log\\\":\\\"reply\\\",\\\"data\\\":\\\"tests successfully saved in file : \"+msg.filename+\"\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":620,"wires":[["90cef6a6.734788"]]},{"id":"c7f9177b.ff82e8","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.url = msg.payload.data.logUrl\nmsg.filename = msg.payload.data.logFile\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":920,"wires":[["683d19b1.319318"]]},{"id":"4219813b.5a1b1","type":"file","z":"eaca6ff9.364af","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":870,"y":920,"wires":[["9094cdd4.3d702"]]},{"id":"775df706.7ca0a8","type":"http request","z":"eaca6ff9.364af","name":"","method":"GET","ret":"txt","url":"","tls":"","x":670,"y":620,"wires":[["97582de.0f333d","41dcad1b.3c9bc4"]]},{"id":"41dcad1b.3c9bc4","type":"file","z":"eaca6ff9.364af","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":990,"y":620,"wires":[["45e77cfe.f9dff4"]]},{"id":"98367e48.04eed","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.url = msg.payload.data.urlFrom\nmsg.filename = msg.payload.data.name\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":120,"wires":[["ab2e284a.2d11a8"]]},{"id":"5b495f2a.8ae17","type":"comment","z":"eaca6ff9.364af","name":"save fsm","info":"","x":500,"y":80,"wires":[]},{"id":"eef51420.f4d668","type":"function","z":"eaca6ff9.364af","name":"create reply ","func":"msg.payload = \"{\\\"log\\\":\\\"reply\\\",\\\"data\\\":\\\"fsm successfully saved in file : \"+msg.filename+\"\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":120,"wires":[["90cef6a6.734788"]]},{"id":"ab2e284a.2d11a8","type":"http request","z":"eaca6ff9.364af","name":"","method":"GET","ret":"txt","url":"","tls":"","x":670,"y":120,"wires":[["b087317b.ba22b"]]},{"id":"1f0f1fb5.45603","type":"file","z":"eaca6ff9.364af","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":990,"y":120,"wires":[["eef51420.f4d668"]]},{"id":"b087317b.ba22b","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.filename = \"storage/\"+ msg.filename\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":120,"wires":[["1f0f1fb5.45603"]]},{"id":"a4ae496f.5e6488","type":"function","z":"eaca6ff9.364af","name":"get data","func":"\nmsg.payload =  directory +\"modelCheck/\" +  msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1040,"wires":[[]]},{"id":"e8f133f4.c593c","type":"file","z":"eaca6ff9.364af","name":"","filename":"tmp/model","appendNewline":true,"createDir":false,"overwriteFile":"true","x":830,"y":1040,"wires":[["c4054d8e.7de33"]]},{"id":"c4054d8e.7de33","type":"function","z":"eaca6ff9.364af","name":"send request to model checker","func":"var directory = flow.get('directory') || \".\";\n\nmsg.payload = \"{\\\"action\\\":\\\"loadTests\\\",\\\"data\\\":\\\"\"+directory+\"/tmp/storage\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1040,"wires":[[]]},{"id":"1b747ef5.7b9b41","type":"function","z":"eaca6ff9.364af","name":"send request to modelChecker","func":"msg.payload = \"{\\\"action\\\":\\\"launchTests\\\",\\\"data\\\":{\\\"urlTest\\\":\\\"http://localhost:1880/storage?file=\"+msg.testFile+\"\\\",\\\"urlFSM\\\":\\\"http://localhost:1880/storage?file=\"+msg.fsmFile+\"\\\",\\\"logFile\\\":\\\"\"+msg.logFile+\"\\\"}}\"\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":320,"wires":[["90cef6a6.734788"]]},{"id":"97582de.0f333d","type":"debug","z":"eaca6ff9.364af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":580,"wires":[]},{"id":"a202ff76.ab78d","type":"file","z":"eaca6ff9.364af","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1010,"y":520,"wires":[["e85fda20.000ee8"]]},{"id":"d5d3dfe2.5a361","type":"file in","z":"eaca6ff9.364af","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":650,"y":520,"wires":[["7ceeab03.3b2b14"]]},{"id":"7ceeab03.3b2b14","type":"function","z":"eaca6ff9.364af","name":"change filename","func":"msg.filename = \"/tmp/\" + msg.filename\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":520,"wires":[["a202ff76.ab78d"]]},{"id":"405607c8.50efe8","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.filename = \"storage/\" + msg.payload.data.name\nmsg.name = msg.payload.data.name\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":720,"wires":[["cb0c7b6b.cbdd48"]]},{"id":"3dcd8941.b13066","type":"function","z":"eaca6ff9.364af","name":"send request to fsm editor","func":"msg.payload = \"{\\\"action\\\":\\\"loadTests\\\",\\\"data\\\":{\\\"urlFrom\\\":\\\"http://localhost:1880/storage?file=\"+msg.name+\"\\\"}}\"\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":720,"wires":[["90cef6a6.734788"]]},{"id":"55c9f44b.bb4b2c","type":"file","z":"eaca6ff9.364af","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":990,"y":720,"wires":[["3dcd8941.b13066"]]},{"id":"cb0c7b6b.cbdd48","type":"file in","z":"eaca6ff9.364af","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":650,"y":720,"wires":[["2f787fd4.01af6"]]},{"id":"2f787fd4.01af6","type":"function","z":"eaca6ff9.364af","name":"change filename","func":"msg.filename = \"/tmp/\" + msg.filename\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":720,"wires":[["55c9f44b.bb4b2c"]]},{"id":"1f714ca2.65e593","type":"function","z":"eaca6ff9.364af","name":"create reply","func":"msg.payload = \"{\\\"log\\\":\\\"reply\\\",\\\"data\\\":\\\"simulation log successfully saved in file : \"+msg.filename+\"\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":420,"wires":[["90cef6a6.734788"]]},{"id":"683d19b1.319318","type":"http request","z":"eaca6ff9.364af","name":"","method":"GET","ret":"txt","url":"","tls":"","x":670,"y":920,"wires":[["4219813b.5a1b1"]]},{"id":"9094cdd4.3d702","type":"function","z":"eaca6ff9.364af","name":"create reply","func":"msg.payload = \"{\\\"log\\\":\\\"reply\\\",\\\"data\\\":\\\"tests successfully done and log are saved in file : \"+msg.filename+\"\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":920,"wires":[["90cef6a6.734788"]]},{"id":"f32dfdd9.db5dc","type":"function","z":"eaca6ff9.364af","name":"send request to simulator","func":"msg.payload = \"{\\\"action\\\":\\\"launchCompleteSimulation\\\",\\\"data\\\":{\\\"urlEvents\\\":\\\"http://localhost:1880/storage?file=\"+msg.EventsFile+\"\\\",\\\"urlFSM\\\":\\\"http://localhost:1880/storage?file=\"+msg.fsmFile+\"\\\",\\\"logFile\\\":\\\"\"+msg.logFile+\"\\\"}}\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":260,"wires":[["90cef6a6.734788"]]},{"id":"40599356.fc08cc","type":"function","z":"eaca6ff9.364af","name":"get data","func":"msg.EventsFile = msg.payload.data.EventsFile\nmsg.fsmFile = msg.payload.data.fsmFile\nmsg.logFile =msg.payload.data.logFile\nmsg.filename = msg.fsmFile\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["93fa7b3e.b8ba38"]]},{"id":"3663d63b.2dd83a","type":"http request","z":"eaca6ff9.364af","name":"","method":"GET","ret":"txt","url":"","tls":"","x":790,"y":420,"wires":[["c4128fd0.a4333","87b81432.ebee48"]]},{"id":"118fc0d8.65221f","type":"file","z":"eaca6ff9.364af","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":950,"y":220,"wires":[["187a9bfa.90e824"]]},{"id":"187a9bfa.90e824","type":"function","z":"eaca6ff9.364af","name":"get data","func":"\nmsg.filename = msg.EventsFile\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":220,"wires":[["d8ee08ee.5a8548"]]},{"id":"4b481b90.51a374","type":"file","z":"eaca6ff9.364af","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1550,"y":220,"wires":[["f32dfdd9.db5dc"]]},{"id":"93fa7b3e.b8ba38","type":"file in","z":"eaca6ff9.364af","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":650,"y":220,"wires":[["32368f6.593457"]]},{"id":"32368f6.593457","type":"function","z":"eaca6ff9.364af","name":"change filename","func":"msg.filename = \"/tmp/storage/\" + msg.filename\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":220,"wires":[["118fc0d8.65221f"]]},{"id":"d8ee08ee.5a8548","type":"file in","z":"eaca6ff9.364af","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":1230,"y":220,"wires":[["7f47e252.6d8a4c"]]},{"id":"7f47e252.6d8a4c","type":"function","z":"eaca6ff9.364af","name":"change filename","func":"msg.filename = \"/tmp/storage/\" + msg.filename\n\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":220,"wires":[["4b481b90.51a374"]]},{"id":"710f5b70.ac5d94","type":"debug","z":"eaca6ff9.364af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":360,"wires":[]},{"id":"c4128fd0.a4333","type":"debug","z":"eaca6ff9.364af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":360,"wires":[]},{"id":"cefb11b3.aedf","type":"comment","z":"eaca6ff9.364af","name":"saveModelLog","info":"","x":520,"y":880,"wires":[]},{"id":"503336ff.99e6b8","type":"tab","label":"FileStorage service","disabled":false,"info":""},{"id":"9a049070.f05d6","type":"http response","z":"503336ff.99e6b8","name":"","statusCode":"","headers":{},"x":1070,"y":220,"wires":[]},{"id":"4dd74398.bebbfc","type":"http in","z":"503336ff.99e6b8","name":"","url":"/storage/","method":"get","upload":false,"swaggerDoc":"","x":290,"y":220,"wires":[["f238ef7e.2939b"]]},{"id":"f238ef7e.2939b","type":"function","z":"503336ff.99e6b8","name":"","func":"msg.filename =  msg.req.query.file\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":220,"wires":[["4953a8be.84bd28"]]},{"id":"4953a8be.84bd28","type":"file in","z":"503336ff.99e6b8","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":870,"y":220,"wires":[["9a049070.f05d6"]]},{"id":"638132d1.63bbcc","type":"http response","z":"503336ff.99e6b8","name":"","statusCode":"","headers":{},"x":1110,"y":320,"wires":[]},{"id":"fbadeec1.c8445","type":"http in","z":"503336ff.99e6b8","name":"","url":"/storage/saveFSM","method":"get","upload":false,"swaggerDoc":"","x":320,"y":320,"wires":[["45bd74ae.e7a69c"]]},{"id":"45bd74ae.e7a69c","type":"function","z":"503336ff.99e6b8","name":"","func":"msg.payload.action = \"saveFSM\"\nmsg.payload.data = {}\nmsg.payload.data.urlFrom = msg.req.query.urlFrom\nmsg.payload.data.name = msg.req.query.name\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":320,"wires":[["7fba0a51.b24874"]]},{"id":"137eac1b.2f8ab4","type":"http in","z":"503336ff.99e6b8","name":"","url":"/storage/launchSimulation","method":"get","upload":false,"swaggerDoc":"","x":350,"y":400,"wires":[["135cfdf7.8e5ad2"]]},{"id":"88c07579.a54418","type":"comment","z":"503336ff.99e6b8","name":"File Storage","info":"","x":290,"y":180,"wires":[]},{"id":"77c7e412.6be1fc","type":"http in","z":"503336ff.99e6b8","name":"","url":"/storage/loadFSM","method":"get","upload":false,"swaggerDoc":"","x":320,"y":480,"wires":[["769dcdf9.043a04"]]},{"id":"7f99fada.b6a634","type":"http in","z":"503336ff.99e6b8","name":"","url":"/storage/saveSimLog","method":"get","upload":false,"swaggerDoc":"","x":330,"y":560,"wires":[["378fd864.c64f18"]]},{"id":"135cfdf7.8e5ad2","type":"function","z":"503336ff.99e6b8","name":"","func":"msg.payload.action = \"launchSimulation\"\nmsg.payload.data = {}\nmsg.payload.data.EventsFile = msg.req.query.EventsFile\nmsg.payload.data.fsmFile = msg.req.query.fsmFile\nmsg.payload.data.logFile = msg.req.query.logFile\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":400,"wires":[["7fba0a51.b24874"]]},{"id":"769dcdf9.043a04","type":"function","z":"503336ff.99e6b8","name":"","func":"msg.payload.action = \"loadFSM\"\nmsg.payload.data = {}\nmsg.payload.data.name = msg.req.query.name\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":480,"wires":[["7fba0a51.b24874"]]},{"id":"378fd864.c64f18","type":"function","z":"503336ff.99e6b8","name":"","func":"msg.payload.action = \"saveSimLog\"\nmsg.payload.data = {}\nmsg.payload.data.logUrl = msg.req.query.logUrl\nmsg.payload.data.logFile = msg.req.query.logFile\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":560,"wires":[["7fba0a51.b24874"]]},{"id":"3cadb617.a2319a","type":"debug","z":"503336ff.99e6b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1130,"y":400,"wires":[]},{"id":"966040bc.a1b3a","type":"http in","z":"503336ff.99e6b8","name":"","url":"/storage/saveTests","method":"get","upload":false,"swaggerDoc":"","x":320,"y":640,"wires":[["4527dfea.65b2a"]]},{"id":"4527dfea.65b2a","type":"function","z":"503336ff.99e6b8","name":"","func":"msg.payload.action = \"saveTests\"\nmsg.payload.data = {}\nmsg.payload.data.urlFrom = msg.req.query.urlFrom\nmsg.payload.data.name = msg.req.query.name\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":640,"wires":[["7fba0a51.b24874"]]},{"id":"d5ca1aa8.eec3a8","type":"http in","z":"503336ff.99e6b8","name":"","url":"/storage/loadTests","method":"get","upload":false,"swaggerDoc":"","x":320,"y":720,"wires":[["852b5cd7.d90d6"]]},{"id":"852b5cd7.d90d6","type":"function","z":"503336ff.99e6b8","name":"","func":"msg.payload.action = \"loadTests\"\nmsg.payload.data = {}\nmsg.payload.data.urlFrom = msg.req.query.urlFrom\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":720,"wires":[["7fba0a51.b24874"]]},{"id":"83d57863.4a38d8","type":"http in","z":"503336ff.99e6b8","name":"","url":"/storage/launchTests","method":"get","upload":false,"swaggerDoc":"","x":330,"y":800,"wires":[["24cf1dc3.555a72"]]},{"id":"24cf1dc3.555a72","type":"function","z":"503336ff.99e6b8","name":"","func":"msg.payload.action = \"launchTests\"\nmsg.payload.data = {}\nmsg.payload.data.urlTest = msg.req.query.urlTest\nmsg.payload.data.urlFSM = msg.req.query.urlFSM\nmsg.payload.data.logFile = msg.req.query.logFile\n\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":800,"wires":[["7fba0a51.b24874"]]},{"id":"7fba0a51.b24874","type":"subflow:eaca6ff9.364af","z":"503336ff.99e6b8","name":"","x":870,"y":400,"wires":[["638132d1.63bbcc","3cadb617.a2319a"],[]]},{"id":"49fe7114.7837d","type":"http in","z":"503336ff.99e6b8","name":"","url":"/storage/saveTestLog","method":"get","upload":false,"swaggerDoc":"","x":330,"y":880,"wires":[["57b20829.df6fe8"]]},{"id":"57b20829.df6fe8","type":"function","z":"503336ff.99e6b8","name":"","func":"msg.payload.action = \"launchTests\"\nmsg.payload.data = {}\nmsg.payload.data.urlTest = msg.req.query.urlTest\nmsg.payload.data.urlFSM = msg.req.query.urlFSM\nmsg.payload.data.logFile = msg.req.query.logFile\n\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":880,"wires":[[]]}]
