src/fsmEditor
[{"id":"a20fafc8.dc22c","type":"subflow","name":"SCXML->JSON","info":"","category":"","in":[{"x":240,"y":240,"wires":[{"id":"9d093e6f.b6006"}]}],"out":[{"x":880,"y":240,"wires":[{"id":"9d093e6f.b6006","port":0}]}]},{"id":"9d093e6f.b6006","type":"function","z":"a20fafc8.dc22c","name":"parse XML to JSON","func":"var scxml = msg.payload.scxml\n\nmsg.payload = JSON.parse(\"{\\\"fsm\\\":[]}\")\nmsg.payload.init = scxml.$.initial\n\nfor (var i = 0; i < scxml.state.length; i++) {\n\n    \n    var state = JSON.parse(\"{\\\"transitions\\\":[]}\")\n    state.stateName = scxml.state[i].$.id\n    \n    if (scxml.state[i].transition != null) {\n        for (var j = 0; j < scxml.state[i].transition.length; j++) {\n            var transition = JSON.parse(\"{}\")\n    \n            transition.event = scxml.state[i].transition[j].$.event\n            transition.destination = scxml.state[i].transition[j].$.target\n            state.transitions.push(transition)\n        \n        }\n    }\n    \n\n \n    msg.payload.fsm.push(state) \n}\n \n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":240,"wires":[[]]},{"id":"33c66668.b47cba","type":"subflow","name":"JSON->SCXML","info":"","category":"","in":[{"x":240,"y":220,"wires":[{"id":"ee87db.46b04828"}]}],"out":[{"x":760,"y":220,"wires":[{"id":"ee87db.46b04828","port":0}]}]},{"id":"ee87db.46b04828","type":"function","z":"33c66668.b47cba","name":"json to scxml","func":"var json = msg.payload\n\nmsg.payload = \"<scxml xmlns=\\\"http://www.w3.org/2005/07/scxml\\\" version=\\\"1.0\\\" initial=\\\"\"+json.init+\"\\\">\\n\"\n\n\nfor (var i = 0; i < json.fsm.length; i++) {\n    msg.payload += \"<state id = \\\"\"+ json.fsm[i].stateName+\"\\\">\\n\"\n    msg.payload += \"<onentry> <log expr=\\\"'Enter state : \"+ json.fsm[i].stateName +\"'\\\" /></onentry>\\n\"\n    msg.payload += \"<onexit> <log expr=\\\"'Exit state : \"+ json.fsm[i].stateName + \"'\\\" /></onexit>\\n\"\n    for (var j = 0; j < json.fsm[i].transitions.length; j++) {\n        msg.payload += \"<transition event=\\\"\"+json.fsm[i].transitions[j].event+\"\\\" target=\\\"\"+json.fsm[i].transitions[j].destination+\"\\\" />\\n\"\n    }\n    msg.payload += \"</state>\\n\"\n}\nmsg.payload += \"</scxml>\\n\"\n    \n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[[]]},{"id":"ad966685.5270b8","type":"subflow","name":"fsm editor","info":"","category":"","in":[{"x":80,"y":340,"wires":[{"id":"35927014.ca54a"}]}],"out":[{"x":1900,"y":440,"wires":[{"id":"aeea272a.760d28","port":1}]},{"x":1900,"y":240,"wires":[{"id":"aeea272a.760d28","port":0}]}]},{"id":"ec337cd9.dd881","type":"http in","z":"ad966685.5270b8","name":"","url":"/editor-file","method":"get","upload":false,"swaggerDoc":"","x":420,"y":1040,"wires":[["c92a63f8.b11ab"]]},{"id":"c92a63f8.b11ab","type":"file in","z":"ad966685.5270b8","name":"","filename":"tmp/editor.scxml","format":"","sendError":true,"x":620,"y":1040,"wires":[["a92b4590.16eb08"]]},{"id":"a92b4590.16eb08","type":"http response","z":"ad966685.5270b8","name":"","statusCode":"","headers":{},"x":770,"y":1040,"wires":[]},{"id":"6baf4315.941e3c","type":"file","z":"ad966685.5270b8","name":"","filename":"tmp/editor.scxml","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1040,"y":400,"wires":[["d92ce759.a23708"]]},{"id":"35927014.ca54a","type":"switch","z":"ad966685.5270b8","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"createState","vt":"str"},{"t":"eq","v":"createTransition","vt":"str"},{"t":"eq","v":"saveFSM","vt":"str"},{"t":"eq","v":"eraseAll","vt":"str"},{"t":"eq","v":"loadFSM","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":330,"y":340,"wires":[["4b97f69c.5876c8"],["68a8282c.0f5178"],["7909aea8.834b"],["d462e6f7.e04aa8"],["61051569.d3766c"]]},{"id":"7909aea8.834b","type":"function","z":"ad966685.5270b8","name":"get and save data ","func":"var json = flow.get('json') || JSON.parse(\"{\\\"fsm\\\":[]}\");\nvar data = flow.get('data') || null\ndata = msg.payload.data\nmsg.payload = json\n\nflow.set('data',data);\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":400,"wires":[["96403bcb.f18eb8"]]},{"id":"d462e6f7.e04aa8","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":600,"wires":[["12a5cc52.c3f3d4"]]},{"id":"d92ce759.a23708","type":"function","z":"ad966685.5270b8","name":"send url to file","func":"var data = flow.get('data') || null\n\nmsg.payload = \"{\\\"action\\\" : \\\"saveFSM\\\",\\\"data\\\" :{\\\"path\\\":\\\"\"+data.path+\"\\\",\\\"urlData\\\":\\\"\"+data.urlData+\"\\\"}}\"\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":400,"wires":[["cefbe9d3.5c81b8"]]},{"id":"aeea272a.760d28","type":"switch","z":"ad966685.5270b8","name":"","property":"payload.reply","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1590,"y":360,"wires":[[],[]]},{"id":"cefbe9d3.5c81b8","type":"json","z":"ad966685.5270b8","name":"","property":"payload","action":"","pretty":false,"x":1450,"y":360,"wires":[["aeea272a.760d28"]]},{"id":"61051569.d3766c","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":720,"wires":[["821f1671.3dfd78","1934b511.e8086b"]]},{"id":"1f841cc7.e45723","type":"comment","z":"ad966685.5270b8","name":"saveFSM","info":"","x":560,"y":340,"wires":[]},{"id":"e6529637.45b208","type":"comment","z":"ad966685.5270b8","name":"erase","info":"","x":570,"y":560,"wires":[]},{"id":"c26a13d2.ce415","type":"comment","z":"ad966685.5270b8","name":"loadFSM","info":"","x":580,"y":680,"wires":[]},{"id":"92c3141c.797d88","type":"function","z":"ad966685.5270b8","name":"send reply","func":"msg.payload = {\"reply\" : \"log\",\"data\" : \"fsm successfully loaded\"}\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":720,"wires":[["cefbe9d3.5c81b8"]]},{"id":"12a5cc52.c3f3d4","type":"function","z":"ad966685.5270b8","name":"erasing","func":"var json = flow.get('json') || JSON.parse(\"{\\\"fsm\\\":[]}\");\njson = JSON.parse(\"{\\\"fsm\\\":[]}\");\nmsg.payload = json\nflow.set('json',json);\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":600,"wires":[["137a16c2.6f53e9"]]},{"id":"137a16c2.6f53e9","type":"debug","z":"ad966685.5270b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":600,"wires":[]},{"id":"4edbdc60.d5c364","type":"function","z":"ad966685.5270b8","name":"createState","func":"var json = flow.get('json') || JSON.parse(\"{\\\"fsm\\\":[]}\");\nfor (var i = 0; i < json.fsm.length; i++) {\n    if (msg.payload == json.fsm[i].stateName) {\n        msg.payload =  \"{\\\"reply\\\":\\\"error\\\",\\\"data\\\":\\\"State \"+msg.payload +\" already exists\\\"}\";\n        return msg\n    }\n}\n\nvar newjson = JSON.parse(\"{\\\"stateName\\\":\\\"\"+msg.payload+\"\\\",\\\"transitions\\\":[]}\")\njson.fsm.push(newjson)\n\nflow.set('json',json);\nmsg.payload = \"{\\\"reply\\\":\\\"log\\\",\\\"data\\\":\\\"State \"+ msg.payload +\" successfully added\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":120,"wires":[["cefbe9d3.5c81b8"]]},{"id":"4b97f69c.5876c8","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["4edbdc60.d5c364"]]},{"id":"68a8282c.0f5178","type":"function","z":"ad966685.5270b8","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":240,"wires":[["2d37a9d6.718db6"]]},{"id":"2d37a9d6.718db6","type":"function","z":"ad966685.5270b8","name":"create link","func":"var json = flow.get('json') || JSON.parse(\"{\\\"fsm\\\":[]}\");\n\n//destination error handler\nvar destinationExist = false\nfor (var i = 0; i < json.fsm.length; i++) {\n    if (json.fsm[i].stateName == msg.payload.destination) {\n        destinationExist = true\n    }\n}\nif (!destinationExist) {\n    msg.payload =  \"{\\\"reply\\\":\\\"error\\\",\\\"data\\\":\\\"Destination \"+msg.payload.destination +\" don't exist\\\"}\";\n    return msg\n}\n\n//origin error handler while adding transition\nvar originExist = false\nfor (var i = 0; i < json.fsm.length; i++) {\n    if (json.fsm[i].stateName == msg.payload.origin) {\n        var newjson = JSON.parse(\"{\\\"event\\\":\\\"\"+msg.payload.event+\"\\\",\\\"destination\\\":\\\"\"+msg.payload.destination +\"\\\"}\")\n        json.fsm[i].transitions.push(newjson)\n        originExist = true\n    }\n}\n\nif (!originExist) {\n    msg.payload =  \"{\\\"reply\\\":\\\"error\\\",\\\"data\\\":\\\"Origin  \"+msg.payload.origin +\" don't exist\\\"}\";\n    return msg\n}\n\n\nflow.set('json',json);\nmsg.payload = \"{\\\"reply\\\":\\\"log\\\",\\\"data\\\":\\\"State \"+ msg.payload +\" successfully added\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":240,"wires":[["cefbe9d3.5c81b8"]]},{"id":"96403bcb.f18eb8","type":"subflow:33c66668.b47cba","z":"ad966685.5270b8","name":"","x":820,"y":400,"wires":[["6baf4315.941e3c"]]},{"id":"29d004b5.36fffc","type":"function","z":"ad966685.5270b8","name":"from variables to XML","func":"var json = flow.get('json') || JSON.parse(\"{\\\"fsm\\\":[]}\");\njson = msg.payload\nflow.set('json',json);\nreturn msg","outputs":1,"noerr":0,"x":1240,"y":720,"wires":[["92c3141c.797d88","61498148.7a85"]]},{"id":"74cd7ab4.d65694","type":"subflow:a20fafc8.dc22c","z":"ad966685.5270b8","name":"","x":1040,"y":720,"wires":[["29d004b5.36fffc"]]},{"id":"821f1671.3dfd78","type":"file in","z":"ad966685.5270b8","name":"","filename":"tmp/storage","format":"utf8","chunk":false,"sendError":false,"x":710,"y":720,"wires":[["933633be.d19c9"]]},{"id":"61498148.7a85","type":"debug","z":"ad966685.5270b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1470,"y":800,"wires":[]},{"id":"1934b511.e8086b","type":"debug","z":"ad966685.5270b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":780,"wires":[]},{"id":"933633be.d19c9","type":"xml","z":"ad966685.5270b8","name":"","property":"payload","attr":"","chr":"","x":870,"y":720,"wires":[["74cd7ab4.d65694"]]}]
