src/model_check
[{"id":"bbe34270.ed0d8","type":"subflow","name":"SCXML->SMV","info":"","category":"","in":[{"x":40,"y":160,"wires":[{"id":"277320fd.f7f08"}]}],"out":[{"x":1140,"y":160,"wires":[{"id":"ed9b0686.62c928","port":0}]}]},{"id":"ed9b0686.62c928","type":"function","z":"bbe34270.ed0d8","name":"from scxml to smv","func":"var init = msg.payload.scxml.$.initial;\nvar states = [];\nvar transitions = [];\nfor (var i = 0; i < msg.payload.scxml.state.length; i++) {\n    var currentState = msg.payload.scxml.state[i].$.id\n    states.push(currentState);\n    var transitionLength;\n    if (msg.payload.scxml.state[i].transition != null) {\n        transitionLength = msg.payload.scxml.state[i].transition.length\n    }else{\n        transitionLength = 0;\n    }\n    for (var j = 0; j < transitionLength; j++) {\n        var transitionAttribute = msg.payload.scxml.state[i].transition[j].$;\n        var currentTransition = [currentState, transitionAttribute.event,transitionAttribute.target];\n        transitions.push(currentTransition);\n    }\n    \n}\n\nmsg.payload = \"MODULE main \\n\\tVAR\\n\\t\\tstate : {\"\nvar listStates = \"\";\nfor (var i = 0; i < states.length; i++) {\n    if(i !== 0){\n       listStates = listStates + \",\" ;\n    }\n    listStates = listStates + states[i];\n}\n\nmsg.payload = msg.payload + listStates;\n\nmsg.payload = msg.payload + \"};\\n\tASSIGN\\n\\t\\tinit(state) := \";\nmsg.payload = msg.payload + init+\";\";\nmsg.payload = msg.payload + \"\\n\\t\\tnext(state) := \\n\\t\\t\\tcase\\n\";\n\n//for to create all the conditions\nfor (var i = 0; i < transitions.length; i++) {\n    msg.payload = msg.payload + \"\\t\\t\\t\\tstate = \" + transitions[i][0] + \" : \" + transitions[i][2]+\";\\n\";\n}\n\nmsg.payload = msg.payload + \"\\t\\t\\t\\tTRUE : {\" +listStates + \"};\\n\\t\\t\\tesac;\\n\";\n\n\nreturn msg; ","outputs":1,"noerr":0,"x":490,"y":160,"wires":[[]]},{"id":"277320fd.f7f08","type":"xml","z":"bbe34270.ed0d8","name":"","property":"payload","attr":"","chr":"","x":310,"y":160,"wires":[["ed9b0686.62c928"]]},{"id":"f3951f17.16e13","type":"subflow","name":"Model Checker","info":"","category":"","in":[{"x":100,"y":220,"wires":[{"id":"fd559e2a.1a2cf"}]}],"out":[{"x":2000,"y":320,"wires":[{"id":"796e4d32.8d4e94","port":0}]}]},{"id":"31a8a33f.2ec00c","type":"exec","z":"f3951f17.16e13","command":"./NuSMV modelCheck/buff.smv","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1470,"y":80,"wires":[["66b1a3c.b262a5c"],["4e1c55f0.692b0c"],[]]},{"id":"7af59a25.3eead4","type":"comment","z":"f3951f17.16e13","name":"launch tests","info":"","x":550,"y":20,"wires":[]},{"id":"1c5e70f6.38f35f","type":"comment","z":"f3951f17.16e13","name":"add a test","info":"","x":580,"y":160,"wires":[]},{"id":"3a8b6896.7656d8","type":"function","z":"f3951f17.16e13","name":"add test to tab 'tests'","func":"var tests = flow.get('tests') || [];\ntests.push(msg.payload);\nflow.set('tests',tests);\nmsg.payload = tests;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["96796424.c54228"]]},{"id":"96796424.c54228","type":"debug","z":"f3951f17.16e13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":220,"wires":[]},{"id":"b38cd2f3.ce68e","type":"function","z":"f3951f17.16e13","name":"add tests to file","func":"var tests = flow.get('tests') || [];\nfor (var i = 0; i < tests.length; i++) {\n    msg.payload = msg.payload + \"\\n\" +tests[i];\n}\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":80,"wires":[["a81c6559.6b8f68"]]},{"id":"87ac443d.b38368","type":"comment","z":"f3951f17.16e13","name":"reset tests","info":"","x":580,"y":280,"wires":[]},{"id":"b647bb4c.1496c8","type":"function","z":"f3951f17.16e13","name":"clean 'tests' tab","func":"var tests = flow.get('tests') || [];\ntests.pop();\nflow.set('tests',tests);\nmsg.payload = tests;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":340,"wires":[["d2567b98.a0dc68"]]},{"id":"d2567b98.a0dc68","type":"debug","z":"f3951f17.16e13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":340,"wires":[]},{"id":"a81c6559.6b8f68","type":"file","z":"f3951f17.16e13","name":"","filename":"modelCheck/buff.smv","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1180,"y":80,"wires":[["31a8a33f.2ec00c"]]},{"id":"53f8b623.1d9aa8","type":"function","z":"f3951f17.16e13","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":80,"wires":[["b8335a30.978fc8"]]},{"id":"fd559e2a.1a2cf","type":"switch","z":"f3951f17.16e13","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"launchTests","vt":"str"},{"t":"eq","v":"addTest","vt":"str"},{"t":"eq","v":"resetTests","vt":"str"},{"t":"eq","v":"saveTests","vt":"str"},{"t":"eq","v":"loadTests","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":190,"y":240,"wires":[["53f8b623.1d9aa8"],["e7c04183.8036b"],["b647bb4c.1496c8"],["f634308a.f482a"],["5ff9d6c0.533428"]]},{"id":"e7c04183.8036b","type":"function","z":"f3951f17.16e13","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["3a8b6896.7656d8"]]},{"id":"66b1a3c.b262a5c","type":"function","z":"f3951f17.16e13","name":"savemodel","func":"msg.payload = \"{\\\"action\\\":\\\"saveModelLog\\\",\\\"data\\\":\\\"\"+msg.payload+\"\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":60,"wires":[["796e4d32.8d4e94"]]},{"id":"4e1c55f0.692b0c","type":"debug","z":"f3951f17.16e13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1730,"y":120,"wires":[]},{"id":"3e6efa0c.bd5ab6","type":"function","z":"f3951f17.16e13","name":"send url to file","func":"msg.payload = \"{\\\"action\\\":\\\"saveTests\\\",\\\"data\\\":{\\\"urlFrom\\\":\\\"http://localhost:1880/modelCheck/\"+ msg.name +\"\\\",\\\"name\\\":\\\"\"+msg.name+\"\\\"}}\"\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":440,"wires":[["796e4d32.8d4e94"]]},{"id":"8ee78c63.c37b7","type":"comment","z":"f3951f17.16e13","name":"save tests","info":"","x":380,"y":400,"wires":[]},{"id":"6ea1ad60.63a0c4","type":"comment","z":"f3951f17.16e13","name":"load tests","info":"","x":380,"y":580,"wires":[]},{"id":"54ff7d5d.ba6a84","type":"function","z":"f3951f17.16e13","name":"send reply","func":"msg.payload = \"{\\\"reply\\\" : \\\"log\\\",\\\"data\\\" : \\\"model check tests from \"+ msg.url +\"successfully loaded\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":620,"wires":[["796e4d32.8d4e94"]]},{"id":"e221b7ad.c328e8","type":"function","z":"f3951f17.16e13","name":"export string to \"tests\" variable","func":"var tests = flow.get('tests') || [];\ntests = msg.payload.split(\"\\n\")\nmsg.payload = tests\nflow.set('tests',tests);\nreturn msg","outputs":1,"noerr":0,"x":830,"y":620,"wires":[["54ff7d5d.ba6a84","23b4a73b.e7c488"]]},{"id":"23b4a73b.e7c488","type":"debug","z":"f3951f17.16e13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1150,"y":700,"wires":[]},{"id":"796e4d32.8d4e94","type":"json","z":"f3951f17.16e13","name":"","property":"payload","action":"","pretty":false,"x":1890,"y":320,"wires":[[]]},{"id":"b8335a30.978fc8","type":"file in","z":"f3951f17.16e13","name":"","filename":"tmp/storage","format":"utf8","chunk":false,"sendError":false,"x":530,"y":80,"wires":[["6c3b77a5.24ced8"]]},{"id":"6c3b77a5.24ced8","type":"subflow:bbe34270.ed0d8","z":"f3951f17.16e13","name":"","x":720,"y":80,"wires":[["b38cd2f3.ce68e"]]},{"id":"41fafee6.f1a24","type":"http response","z":"f3951f17.16e13","name":"","statusCode":"","headers":{},"x":2570,"y":60,"wires":[]},{"id":"874b712f.4ac07","type":"http in","z":"f3951f17.16e13","name":"","url":"/modelCheck/:name","method":"get","upload":false,"swaggerDoc":"","x":2050,"y":60,"wires":[["dc9d42b3.2495f"]]},{"id":"dc9d42b3.2495f","type":"function","z":"f3951f17.16e13","name":"","func":"msg.filename = \"modelCheck/\" + msg.req.params.name\nreturn msg;","outputs":1,"noerr":0,"x":2230,"y":60,"wires":[["e5aa6ee6.86e7d"]]},{"id":"e5aa6ee6.86e7d","type":"file in","z":"f3951f17.16e13","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":2370,"y":60,"wires":[["41fafee6.f1a24"]]},{"id":"f634308a.f482a","type":"function","z":"f3951f17.16e13","name":"get and save data ","func":"var tests = flow.get('tests') || [];\n\nmsg.name = msg.payload.data.name\nmsg.filename = \"modelCheck/\"+msg.payload.data.name\nmsg.payload = \"\"\nfor (var i = 0; i < tests.length; i++) {\n    msg.payload += tests[i] + \"\\n\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":440,"wires":[["e148c0a0.f88db"]]},{"id":"e148c0a0.f88db","type":"file","z":"f3951f17.16e13","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":610,"y":440,"wires":[["3e6efa0c.bd5ab6"]]},{"id":"5ff9d6c0.533428","type":"function","z":"f3951f17.16e13","name":"get data","func":"msg.url = msg.payload.data.urlFrom\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":620,"wires":[["6a372a19.6a1284"]]},{"id":"6a372a19.6a1284","type":"http request","z":"f3951f17.16e13","name":"","method":"GET","ret":"txt","url":"","x":570,"y":620,"wires":[["e221b7ad.c328e8"]]}]
