src/model_check
[{"id":"f3951f17.16e13","type":"subflow","name":"Model Checker","info":"","category":"","in":[{"x":100,"y":220,"wires":[{"id":"fd559e2a.1a2cf"}]}],"out":[{"x":1700,"y":60,"wires":[{"id":"66b1a3c.b262a5c","port":0}]}]},{"id":"31a8a33f.2ec00c","type":"exec","z":"f3951f17.16e13","command":"./NuSMV modelCheck/state.smv","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1270,"y":80,"wires":[["66b1a3c.b262a5c"],["4e1c55f0.692b0c"],[]]},{"id":"7af59a25.3eead4","type":"comment","z":"f3951f17.16e13","name":"launch tests","info":"","x":550,"y":20,"wires":[]},{"id":"1c5e70f6.38f35f","type":"comment","z":"f3951f17.16e13","name":"add a test","info":"","x":560,"y":160,"wires":[]},{"id":"96c7535f.296d5","type":"http request","z":"f3951f17.16e13","name":"getSMV","method":"GET","ret":"txt","url":"http://localhost:1880/smv-file","tls":"","x":540,"y":80,"wires":[["b38cd2f3.ce68e"]]},{"id":"3a8b6896.7656d8","type":"function","z":"f3951f17.16e13","name":"add test to tab 'tests'","func":"var tests = flow.get('tests') || [];\ntests.push(msg.payload);\nflow.set('tests',tests);\nmsg.payload = tests;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["96796424.c54228"]]},{"id":"96796424.c54228","type":"debug","z":"f3951f17.16e13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":220,"wires":[]},{"id":"b38cd2f3.ce68e","type":"function","z":"f3951f17.16e13","name":"add tests to file","func":"var tests = flow.get('tests') || [];\nfor (var i = 0; i < tests.length; i++) {\n    msg.payload = msg.payload + \"\\n\" +tests[i];\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":80,"wires":[["a81c6559.6b8f68"]]},{"id":"87ac443d.b38368","type":"comment","z":"f3951f17.16e13","name":"reset tests","info":"","x":580,"y":280,"wires":[]},{"id":"b647bb4c.1496c8","type":"function","z":"f3951f17.16e13","name":"clean 'tests' tab","func":"var tests = flow.get('tests') || [];\ntests.pop();\nflow.set('tests',tests);\nmsg.payload = tests;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":340,"wires":[["d2567b98.a0dc68"]]},{"id":"d2567b98.a0dc68","type":"debug","z":"f3951f17.16e13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":340,"wires":[]},{"id":"a81c6559.6b8f68","type":"file","z":"f3951f17.16e13","name":"","filename":"modelCheck/buff.smv","appendNewline":false,"createDir":true,"overwriteFile":"true","x":980,"y":80,"wires":[["31a8a33f.2ec00c"]]},{"id":"53f8b623.1d9aa8","type":"function","z":"f3951f17.16e13","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":80,"wires":[["96c7535f.296d5"]]},{"id":"fd559e2a.1a2cf","type":"switch","z":"f3951f17.16e13","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"launchTests","vt":"str"},{"t":"eq","v":"addTest","vt":"str"},{"t":"eq","v":"resetTests","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":230,"y":220,"wires":[["53f8b623.1d9aa8"],["e7c04183.8036b"],["b647bb4c.1496c8"]]},{"id":"e7c04183.8036b","type":"function","z":"f3951f17.16e13","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["3a8b6896.7656d8"]]},{"id":"66b1a3c.b262a5c","type":"function","z":"f3951f17.16e13","name":"savemodel","func":"msg.payload = \"{\\\"action\\\":\\\"saveModelLog\\\",\\\"data\\\":\\\"\"+msg.payload+\"\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":60,"wires":[[]]},{"id":"4e1c55f0.692b0c","type":"debug","z":"f3951f17.16e13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1550,"y":120,"wires":[]}]
