src/saveFile
[{"id":"8e8b9a08.8e1c58","type":"subflow","name":"saveFile","info":"","category":"","in":[{"x":160,"y":120,"wires":[{"id":"35d0006f.052fa"}]}],"out":[{"x":1320,"y":80,"wires":[{"id":"47bbdd69.a17c34","port":0}]},{"x":1160,"y":160,"wires":[{"id":"47bbdd69.a17c34","port":1}]}]},{"id":"35d0006f.052fa","type":"function","z":"8e8b9a08.8e1c58","name":"argument for save file exec","func":"var directory = flow.get('directory') || \".\";\ndirectory = directory.urlData;\n\nflow.set('directory',directory);\nmsg.payload = msg.payload.path + \" \" + msg.payload.urlData\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["47bbdd69.a17c34"]]},{"id":"47bbdd69.a17c34","type":"exec","z":"8e8b9a08.8e1c58","command":"python script/saveFile.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":120,"wires":[[],[],[]]},{"id":"c73bf893.a397c8","type":"comment","z":"8e8b9a08.8e1c58","name":"todo","info":"change directory name for more visibility","x":530,"y":220,"wires":[]},{"id":"3f2a1446.95c0cc","type":"function","z":"8e8b9a08.8e1c58","name":"reply generation","func":"var directory = flow.get('directory') || \".\";\n\n\nmsg.payload = \"{\\\"reply\\\":\\\"log\\\",\\\"data\\\":\\\"\"+directory+\"\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":400,"wires":[["bacd5d7f.2e94e"]]},{"id":"bacd5d7f.2e94e","type":"json","z":"8e8b9a08.8e1c58","name":"","property":"payload","action":"","pretty":false,"x":1040,"y":400,"wires":[[]]}]
