src/scxml_to_json
[{"id":"a20fafc8.dc22c","type":"subflow","name":"SCXML->JSON","info":"","category":"","in":[{"x":240,"y":240,"wires":[{"id":"9d093e6f.b6006"}]}],"out":[{"x":880,"y":240,"wires":[{"id":"9d093e6f.b6006","port":0}]}]},{"id":"9d093e6f.b6006","type":"function","z":"a20fafc8.dc22c","name":"parse XML to JSON","func":"var scxml = msg.payload.scxml\n\nmsg.payload = JSON.parse(\"{\\\"fsm\\\":[]}\")\nmsg.payload.init = scxml.$.initial\n\nfor (var i = 0; i < scxml.state.length; i++) {\n\n    var state = JSON.parse(\"{\\\"transitions\\\":[]}\")\n    state.stateName = scxml.state[i].$.id\n\n    for (var j = 0; j < scxml.state[i].transition.length; j++) {\n        var transition = JSON.parse(\"{}\")\n\n        transition.event = scxml.state[i].transition[j].$.event\n        transition.destination = scxml.state[i].transition[j].$.target\n        state.transitions.push(transition)\n    \n    }\n \n    msg.payload.fsm.push(state) \n}\n \n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":240,"wires":[[]]}]
