src/scxml_to_smv
[{"id":"bbe34270.ed0d8","type":"subflow","name":"SCXML->SMV","info":"","category":"","in":[{"x":40,"y":160,"wires":[{"id":"2a99acee.1584d4"}]}],"out":[{"x":1200,"y":160,"wires":[{"id":"1a7bcf50.06bd61","port":0}]}]},{"id":"825ad99b.647828","type":"http request","z":"bbe34270.ed0d8","name":"getSCXML","method":"GET","ret":"txt","url":"http://localhost:1880/fsm-file","tls":"","x":290,"y":160,"wires":[["277320fd.f7f08"]]},{"id":"19c8a6b8.974289","type":"http in","z":"bbe34270.ed0d8","name":"","url":"/smv-file","method":"get","upload":false,"swaggerDoc":"","x":250,"y":300,"wires":[["d5e746b6.bdbb98"]]},{"id":"d5e746b6.bdbb98","type":"file in","z":"bbe34270.ed0d8","name":"","filename":"tmp/state.smv","format":"","sendError":true,"x":440,"y":300,"wires":[["b94f5c04.e3189"]]},{"id":"b94f5c04.e3189","type":"http response","z":"bbe34270.ed0d8","name":"","statusCode":"","headers":{},"x":590,"y":300,"wires":[]},{"id":"ed9b0686.62c928","type":"function","z":"bbe34270.ed0d8","name":"from scxml to smv","func":"var init = msg.payload.scxml.$.initial;\nvar states = [];\nvar transitions = [];\nfor (var i = 0; i < msg.payload.scxml.state.length; i++) {\n    var currentState = msg.payload.scxml.state[i].$.id\n    states.push(currentState);\n    var transitionLength;\n    if (msg.payload.scxml.state[i].transition != null) {\n        transitionLength = msg.payload.scxml.state[i].transition.length\n    }else{\n        transitionLength = 0;\n    }\n    for (var j = 0; j < transitionLength; j++) {\n        var transitionAttribute = msg.payload.scxml.state[i].transition[j].$;\n        var currentTransition = [currentState, transitionAttribute.event,transitionAttribute.target];\n        transitions.push(currentTransition);\n    }\n    \n}\n\nmsg.payload = \"MODULE main \\n\\tVAR\\n\\t\\tstate : {\"\nvar listStates = \"\";\nfor (var i = 0; i < states.length; i++) {\n    if(i !== 0){\n       listStates = listStates + \",\" ;\n    }\n    listStates = listStates + states[i];\n}\n\nmsg.payload = msg.payload + listStates;\n\nmsg.payload = msg.payload + \"};\\n\tASSIGN\\n\\t\\tinit(state) := \";\nmsg.payload = msg.payload + init+\";\";\nmsg.payload = msg.payload + \"\\n\\t\\tnext(state) := \\n\\t\\t\\tcase\\n\";\n\n//for to create all the conditions\nfor (var i = 0; i < transitions.length; i++) {\n    msg.payload = msg.payload + \"\\t\\t\\t\\tstate = \" + transitions[i][0] + \" : \" + transitions[i][2]+\";\\n\";\n}\n\nmsg.payload = msg.payload + \"\\t\\t\\t\\tTRUE : {\" +listStates + \"};\\n\\t\\t\\tesac;\\n\";\n\n\nreturn msg; ","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["95719736.6bc6d8"]]},{"id":"95719736.6bc6d8","type":"file","z":"bbe34270.ed0d8","name":"","filename":"tmp/state.smv","appendNewline":true,"createDir":false,"overwriteFile":"true","x":860,"y":160,"wires":[["1a7bcf50.06bd61"]]},{"id":"277320fd.f7f08","type":"xml","z":"bbe34270.ed0d8","name":"","property":"payload","attr":"","chr":"","x":450,"y":160,"wires":[["ed9b0686.62c928"]]},{"id":"1a7bcf50.06bd61","type":"function","z":"bbe34270.ed0d8","name":"Send URL address","func":"msg.payload = {\"action\":\"launchTests\",\"data\":\"http://localhost:1880/smv-file\"}\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":160,"wires":[[]]},{"id":"2a99acee.1584d4","type":"switch","z":"bbe34270.ed0d8","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"launchTests","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":160,"wires":[["825ad99b.647828"]]}]
