src/simulator
[{"id":"419fddef.3793c4","type":"subflow","name":"simulator","info":"","category":"","in":[{"x":220,"y":600,"wires":[{"id":"5a9e8da1.7b2fb4"}]}],"out":[{"x":2560,"y":820,"wires":[{"id":"70c70105.f1f72","port":0}]},{"x":2560,"y":920,"wires":[{"id":"70c70105.f1f72","port":1}]}]},{"id":"cc43375c.850268","type":"comment","z":"419fddef.3793c4","name":"get current state","info":"","x":700,"y":460,"wires":[]},{"id":"5327e139.cba9b","type":"function","z":"419fddef.3793c4","name":"getCurrentSim","func":"//var count=context.get('count') || 0;\nvar file=flow.get('currentState') || null;\nif(file == null){\n    msg.payload=\"no simulation running\";\n}\nelse{\n    msg.payload= file;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":500,"wires":[["bb59e262.22e8d"]]},{"id":"bb59e262.22e8d","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":500,"wires":[]},{"id":"2c054b7f.a3e9c4","type":"comment","z":"419fddef.3793c4","name":"Start","info":"","x":670,"y":140,"wires":[]},{"id":"9236418d.ee9bb","type":"http request","z":"419fddef.3793c4","name":"getScxml","method":"GET","ret":"txt","url":"http://localhost:1880/fsm-file","tls":"","x":860,"y":180,"wires":[["bebec7eb.b46838"]]},{"id":"17984df0.987ed2","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1270,"y":80,"wires":[]},{"id":"475a7886.b5e1f8","type":"function","z":"419fddef.3793c4","name":"Start","func":"var state = flow.get('currentState') || null;\nvar initial = msg.payload.scxml.$.initial\nfor (var i = 0; i < msg.payload.scxml.state.length; i++) {\n    if (msg.payload.scxml.state[i].$.id == initial) {\n        state = msg.payload.scxml.state[i];\n    }\n}\n\nflow.set('currentState',state);\n\nvar fsm = flow.get('FSM') || null;\nfsm = msg.payload\nflow.set('FSM',fsm);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":180,"wires":[["17984df0.987ed2"]]},{"id":"74dfd0fd.88e23","type":"comment","z":"419fddef.3793c4","name":"End Simulation","info":"","x":700,"y":240,"wires":[]},{"id":"67dccf9b.b1a8","type":"function","z":"419fddef.3793c4","name":"End","func":"var fsm=flow.get('FSM') || null;\nfsm = null;\nflow.set('FSM',fsm);\n\nvar state=flow.get('currentState') || null;\nstate = null;\nflow.set('currentState',state);\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":300,"wires":[["936f533d.56823"]]},{"id":"936f533d.56823","type":"debug","z":"419fddef.3793c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":240,"wires":[]},{"id":"82e7d95e.2a9638","type":"comment","z":"419fddef.3793c4","name":"inject event","info":"","x":690,"y":360,"wires":[]},{"id":"c9a090ea.f676d","type":"function","z":"419fddef.3793c4","name":"Inject","func":"var fsm=flow.get('FSM') || null;\nvar state=flow.get('currentState') || null;\nvar destination = null;\n\nfor (var i = 0; i < state.transition.length; i++) {\n    if (state.transition[i].$.event == msg.payload) {\n        destination = state.transition[i].$.target\n    }\n}\n\nif (destination !== null) {\n    for (var i = 0; i < fsm.scxml.state.length; i++) {\n        if (fsm.scxml.state[i].$.id == destination) {\n            state = fsm.scxml.state[i];\n        }\n    }\n}\nmsg.payload = state\nflow.set('currentState',state);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":400,"wires":[[]]},{"id":"bebec7eb.b46838","type":"xml","z":"419fddef.3793c4","name":"","property":"payload","attr":"","chr":"","x":1010,"y":180,"wires":[["475a7886.b5e1f8"]]},{"id":"5a9e8da1.7b2fb4","type":"switch","z":"419fddef.3793c4","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"launchSimulation","vt":"str"},{"t":"eq","v":"endSimulation","vt":"str"},{"t":"eq","v":"injectEvent","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"launchCompleteSimulation","vt":"str"},{"t":"eq","v":"saveSimEvents","vt":"str"},{"t":"eq","v":"loadSimEvents","vt":"str"},{"t":"eq","v":"addEvent","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":330,"y":600,"wires":[["59f4fb0b.ba51e4"],["d4a5c1ad.98887"],["3d8780fa.61cc6"],["c750c495.9f0628"],["b6c3cfd6.3447e"],[],[],[]]},{"id":"59f4fb0b.ba51e4","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":180,"wires":[["9236418d.ee9bb"]]},{"id":"d4a5c1ad.98887","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":300,"wires":[["67dccf9b.b1a8"]]},{"id":"3d8780fa.61cc6","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":400,"wires":[["c9a090ea.f676d"]]},{"id":"c750c495.9f0628","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":500,"wires":[["5327e139.cba9b"]]},{"id":"70c70105.f1f72","type":"switch","z":"419fddef.3793c4","name":"","property":"payload.reply","propertyType":"msg","rules":[{"t":"eq","v":"log","vt":"str"},{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2390,"y":880,"wires":[[],[]]},{"id":"bc2c8ebc.ec8fa","type":"json","z":"419fddef.3793c4","name":"","property":"payload","action":"","pretty":false,"x":2250,"y":880,"wires":[["70c70105.f1f72"]]},{"id":"249902de.bf452e","type":"exec","z":"419fddef.3793c4","command":"python script/main.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1500,"y":880,"wires":[["c18732e.cb8b6d"],["c88aacab.d475a"],[]]},{"id":"1571ef54.ddf421","type":"function","z":"419fddef.3793c4","name":"argument to python","func":"msg.payload = \"/tmp/fsm \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":880,"wires":[["249902de.bf452e"]]},{"id":"c88aacab.d475a","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1910,"y":980,"wires":[]},{"id":"3f381098.a66d4","type":"function","z":"419fddef.3793c4","name":"create state","func":"msg.payload = \"{\\\"action\\\":\\\"saveSimLog\\\",\\\"data\\\":{\\\"logUrl\\\":\\\"http://localhost:1880/simulator?file=/tmp/simLog\\\"}}\";\nreturn msg;","outputs":1,"noerr":0,"x":2070,"y":880,"wires":[["bc2c8ebc.ec8fa"]]},{"id":"ebf7b3ab.a6d15","type":"http response","z":"419fddef.3793c4","name":"","statusCode":"","headers":{},"x":710,"y":40,"wires":[]},{"id":"e07add61.8bc8e","type":"http in","z":"419fddef.3793c4","name":"","url":"/simulator","method":"get","upload":false,"swaggerDoc":"","x":180,"y":40,"wires":[["653fef17.947e3"]]},{"id":"653fef17.947e3","type":"function","z":"419fddef.3793c4","name":"","func":"msg.filename = \"/tmp/simulator/\" + msg.req.query.file\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":40,"wires":[["fbe7454.86cd4b8"]]},{"id":"fbe7454.86cd4b8","type":"file in","z":"419fddef.3793c4","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":510,"y":40,"wires":[["ebf7b3ab.a6d15"]]},{"id":"b6c3cfd6.3447e","type":"function","z":"419fddef.3793c4","name":"","func":"msg.urlEvents = msg.payload.data.urlEvents\nmsg.urlFSM = msg.payload.data.urlFSM\nmsg.logFile =msg.payload.data.logFile\n\nmsg.url = msg.urlFSM\nmsg.filename = \"/tmp/fsm\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":880,"wires":[["816bfdf8.a6cdd"]]},{"id":"f28ab953.cc7908","type":"file","z":"419fddef.3793c4","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":690,"y":880,"wires":[["819d905.cd5077"]]},{"id":"816bfdf8.a6cdd","type":"http request","z":"419fddef.3793c4","name":"","method":"GET","ret":"txt","url":"","x":510,"y":880,"wires":[["f28ab953.cc7908"]]},{"id":"819d905.cd5077","type":"function","z":"419fddef.3793c4","name":"","func":"msg.url = msg.urlEvents\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":880,"wires":[["921656fc.c46a88"]]},{"id":"921656fc.c46a88","type":"http request","z":"419fddef.3793c4","name":"","method":"GET","ret":"txt","url":"","x":1030,"y":880,"wires":[["1571ef54.ddf421"]]},{"id":"c18732e.cb8b6d","type":"file","z":"419fddef.3793c4","name":"","filename":"/tmp/simLog","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1830,"y":880,"wires":[["3f381098.a66d4"]]}]
