src/simulator
[{"id":"419fddef.3793c4","type":"subflow","name":"simulator","info":"","category":"","in":[{"x":180,"y":440,"wires":[{"id":"5a9e8da1.7b2fb4"}]}],"out":[{"x":1760,"y":420,"wires":[{"id":"70c70105.f1f72","port":0}]},{"x":1760,"y":520,"wires":[{"id":"70c70105.f1f72","port":1}]}]},{"id":"cc43375c.850268","type":"comment","z":"419fddef.3793c4","name":"get current state","info":"","x":700,"y":600,"wires":[]},{"id":"5327e139.cba9b","type":"function","z":"419fddef.3793c4","name":"getCurrentSim","func":"//var count=context.get('count') || 0;\nvar file=flow.get('currentState') || null;\nif(file == null){\n    msg.payload=\"no simulation running\";\n}\nelse{\n    msg.payload= file;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":640,"wires":[["bb59e262.22e8d"]]},{"id":"bb59e262.22e8d","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":640,"wires":[]},{"id":"2c054b7f.a3e9c4","type":"comment","z":"419fddef.3793c4","name":"Start","info":"","x":670,"y":280,"wires":[]},{"id":"9236418d.ee9bb","type":"http request","z":"419fddef.3793c4","name":"getScxml","method":"GET","ret":"txt","url":"http://localhost:1880/fsm-file","tls":"","x":860,"y":320,"wires":[["bebec7eb.b46838"]]},{"id":"17984df0.987ed2","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1270,"y":240,"wires":[]},{"id":"475a7886.b5e1f8","type":"function","z":"419fddef.3793c4","name":"Start","func":"var state = flow.get('currentState') || null;\nvar initial = msg.payload.scxml.$.initial\nfor (var i = 0; i < msg.payload.scxml.state.length; i++) {\n    if (msg.payload.scxml.state[i].$.id == initial) {\n        state = msg.payload.scxml.state[i];\n    }\n}\n\nflow.set('currentState',state);\n\nvar fsm = flow.get('FSM') || null;\nfsm = msg.payload\nflow.set('FSM',fsm);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":320,"wires":[["17984df0.987ed2"]]},{"id":"74dfd0fd.88e23","type":"comment","z":"419fddef.3793c4","name":"End Simulation","info":"","x":700,"y":380,"wires":[]},{"id":"67dccf9b.b1a8","type":"function","z":"419fddef.3793c4","name":"End","func":"var fsm=flow.get('FSM') || null;\nfsm = null;\nflow.set('FSM',fsm);\n\nvar state=flow.get('currentState') || null;\nstate = null;\nflow.set('currentState',state);\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":440,"wires":[["936f533d.56823"]]},{"id":"936f533d.56823","type":"debug","z":"419fddef.3793c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":380,"wires":[]},{"id":"82e7d95e.2a9638","type":"comment","z":"419fddef.3793c4","name":"inject event","info":"","x":690,"y":500,"wires":[]},{"id":"c9a090ea.f676d","type":"function","z":"419fddef.3793c4","name":"Inject","func":"var fsm=flow.get('FSM') || null;\nvar state=flow.get('currentState') || null;\nvar destination = null;\n\nfor (var i = 0; i < state.transition.length; i++) {\n    if (state.transition[i].$.event == msg.payload) {\n        destination = state.transition[i].$.target\n    }\n}\n\nif (destination !== null) {\n    for (var i = 0; i < fsm.scxml.state.length; i++) {\n        if (fsm.scxml.state[i].$.id == destination) {\n            state = fsm.scxml.state[i];\n        }\n    }\n}\nmsg.payload = state\nflow.set('currentState',state);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":540,"wires":[[]]},{"id":"bebec7eb.b46838","type":"xml","z":"419fddef.3793c4","name":"","property":"payload","attr":"","chr":"","x":1010,"y":320,"wires":[["475a7886.b5e1f8"]]},{"id":"5a9e8da1.7b2fb4","type":"switch","z":"419fddef.3793c4","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"launchSimulation","vt":"str"},{"t":"eq","v":"endSimulation","vt":"str"},{"t":"eq","v":"injectEvent","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"launchCompleteSimulation","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":290,"y":440,"wires":[["59f4fb0b.ba51e4"],["d4a5c1ad.98887"],["3d8780fa.61cc6"],["c750c495.9f0628"],["1571ef54.ddf421"]]},{"id":"59f4fb0b.ba51e4","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":320,"wires":[["9236418d.ee9bb"]]},{"id":"d4a5c1ad.98887","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":440,"wires":[["67dccf9b.b1a8"]]},{"id":"3d8780fa.61cc6","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":540,"wires":[["c9a090ea.f676d"]]},{"id":"c750c495.9f0628","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":640,"wires":[["5327e139.cba9b"]]},{"id":"70c70105.f1f72","type":"switch","z":"419fddef.3793c4","name":"","property":"payload.reply","propertyType":"msg","rules":[{"t":"eq","v":"log","vt":"str"},{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1590,"y":480,"wires":[[],[]]},{"id":"bc2c8ebc.ec8fa","type":"json","z":"419fddef.3793c4","name":"","property":"payload","action":"","pretty":false,"x":1450,"y":480,"wires":[["70c70105.f1f72"]]},{"id":"249902de.bf452e","type":"exec","z":"419fddef.3793c4","command":"python script/main.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":920,"y":800,"wires":[["3f381098.a66d4","1186c15f.30ea4f"],["c88aacab.d475a"],[]]},{"id":"1571ef54.ddf421","type":"function","z":"419fddef.3793c4","name":"argument to python","func":"msg.payload = msg.payload.data.fsmFile+\" \" + msg.payload.data.eventList\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":800,"wires":[["249902de.bf452e"]]},{"id":"c88aacab.d475a","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":900,"wires":[]},{"id":"3f381098.a66d4","type":"function","z":"419fddef.3793c4","name":"create state","func":"msg.payload = \"{\\\"reply\\\":\\\"log\\\",\\\"data\\\":\\\"log successfully added\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":720,"wires":[["bc2c8ebc.ec8fa"]]},{"id":"1186c15f.30ea4f","type":"file","z":"419fddef.3793c4","name":"","filename":"simLog/log","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1170,"y":780,"wires":[[]]}]
