src/simulatorService
[{"id":"419fddef.3793c4","type":"subflow","name":"simulator","info":"","category":"","in":[{"x":220,"y":600,"wires":[{"id":"5a9e8da1.7b2fb4"}]}],"out":[{"x":3060,"y":620,"wires":[{"id":"70c70105.f1f72","port":1},{"id":"7955a3c6.08147c","port":0},{"id":"18cdaad9.a35405","port":0}]},{"x":3060,"y":480,"wires":[{"id":"70c70105.f1f72","port":0}]}]},{"id":"cc43375c.850268","type":"comment","z":"419fddef.3793c4","name":"get current state","info":"","x":700,"y":460,"wires":[]},{"id":"5327e139.cba9b","type":"function","z":"419fddef.3793c4","name":"getCurrentSim","func":"//var count=context.get('count') || 0;\nvar file=flow.get('currentState') || null;\nif(file == null){\n    msg.payload=\"no simulation running\";\n}\nelse{\n    msg.payload= file;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":500,"wires":[["bb59e262.22e8d"]]},{"id":"bb59e262.22e8d","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":500,"wires":[]},{"id":"2c054b7f.a3e9c4","type":"comment","z":"419fddef.3793c4","name":"Start","info":"","x":670,"y":140,"wires":[]},{"id":"9236418d.ee9bb","type":"http request","z":"419fddef.3793c4","name":"getScxml","method":"GET","ret":"txt","url":"http://localhost:1880/fsm-file","tls":"","x":860,"y":180,"wires":[["bebec7eb.b46838"]]},{"id":"17984df0.987ed2","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1270,"y":80,"wires":[]},{"id":"475a7886.b5e1f8","type":"function","z":"419fddef.3793c4","name":"Start","func":"var state = flow.get('currentState') || null;\nvar initial = msg.payload.scxml.$.initial\nfor (var i = 0; i < msg.payload.scxml.state.length; i++) {\n    if (msg.payload.scxml.state[i].$.id == initial) {\n        state = msg.payload.scxml.state[i];\n    }\n}\n\nflow.set('currentState',state);\n\nvar fsm = flow.get('FSM') || null;\nfsm = msg.payload\nflow.set('FSM',fsm);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":180,"wires":[["17984df0.987ed2"]]},{"id":"74dfd0fd.88e23","type":"comment","z":"419fddef.3793c4","name":"End Simulation","info":"","x":700,"y":240,"wires":[]},{"id":"67dccf9b.b1a8","type":"function","z":"419fddef.3793c4","name":"End","func":"var fsm=flow.get('FSM') || null;\nfsm = null;\nflow.set('FSM',fsm);\n\nvar state=flow.get('currentState') || null;\nstate = null;\nflow.set('currentState',state);\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":300,"wires":[["936f533d.56823"]]},{"id":"936f533d.56823","type":"debug","z":"419fddef.3793c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":240,"wires":[]},{"id":"82e7d95e.2a9638","type":"comment","z":"419fddef.3793c4","name":"inject event","info":"","x":690,"y":360,"wires":[]},{"id":"c9a090ea.f676d","type":"function","z":"419fddef.3793c4","name":"Inject","func":"var fsm=flow.get('FSM') || null;\nvar state=flow.get('currentState') || null;\nvar destination = null;\n\nfor (var i = 0; i < state.transition.length; i++) {\n    if (state.transition[i].$.event == msg.payload) {\n        destination = state.transition[i].$.target\n    }\n}\n\nif (destination !== null) {\n    for (var i = 0; i < fsm.scxml.state.length; i++) {\n        if (fsm.scxml.state[i].$.id == destination) {\n            state = fsm.scxml.state[i];\n        }\n    }\n}\nmsg.payload = state\nflow.set('currentState',state);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":400,"wires":[[]]},{"id":"bebec7eb.b46838","type":"xml","z":"419fddef.3793c4","name":"","property":"payload","attr":"","chr":"","x":1010,"y":180,"wires":[["475a7886.b5e1f8"]]},{"id":"5a9e8da1.7b2fb4","type":"switch","z":"419fddef.3793c4","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"launchSimulation","vt":"str"},{"t":"eq","v":"endSimulation","vt":"str"},{"t":"eq","v":"injectEvent","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"launchCompleteSimulation","vt":"str"},{"t":"eq","v":"setStorageAddress","vt":"str"},{"t":"eq","v":"setLocalAddress","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":330,"y":600,"wires":[["59f4fb0b.ba51e4"],["d4a5c1ad.98887"],["3d8780fa.61cc6"],["c750c495.9f0628"],["b6c3cfd6.3447e"],["7955a3c6.08147c"],["18cdaad9.a35405"]]},{"id":"59f4fb0b.ba51e4","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":180,"wires":[["9236418d.ee9bb"]]},{"id":"d4a5c1ad.98887","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":300,"wires":[["67dccf9b.b1a8"]]},{"id":"3d8780fa.61cc6","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":400,"wires":[["c9a090ea.f676d"]]},{"id":"c750c495.9f0628","type":"function","z":"419fddef.3793c4","name":"get data","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":500,"wires":[["5327e139.cba9b"]]},{"id":"70c70105.f1f72","type":"switch","z":"419fddef.3793c4","name":"","property":"payload.reply","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2910,"y":560,"wires":[[],[]]},{"id":"bc2c8ebc.ec8fa","type":"json","z":"419fddef.3793c4","name":"","property":"payload","action":"","pretty":false,"x":2770,"y":560,"wires":[["70c70105.f1f72"]]},{"id":"249902de.bf452e","type":"exec","z":"419fddef.3793c4","command":"python script/main.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2000,"y":560,"wires":[["c18732e.cb8b6d","b0263a94.57f6b8"],["c88aacab.d475a"],[]]},{"id":"1571ef54.ddf421","type":"function","z":"419fddef.3793c4","name":"argument to python","func":"var storageAddress = flow.get('storageAddress') || null;\nvar localAddress = flow.get('localAddress') || null;\n\n\nmsg.payload = \"/tmp/fsm /tmp/events\"\nmsg.filename = \"/tmp/simulator/\"+msg.logFile\nmsg.url = storageAddress + \"storage/saveSimLog?logUrl=\"+localAddress+\"simulator?file=\"+msg.logFile+\"&logFile=\"+msg.logFile\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":560,"wires":[["249902de.bf452e"]]},{"id":"c88aacab.d475a","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2310,"y":660,"wires":[]},{"id":"3f381098.a66d4","type":"function","z":"419fddef.3793c4","name":"create reply","func":"msg.payload = \"{\\\"action\\\":\\\"saveSimLog\\\",\\\"data\\\":{\\\"logUrl\\\":\\\"http://localhost:1880/simulator?file=\"+msg.logFile+\"\\\",\\\"logFile\\\":\\\"\"+msg.logFile+\"\\\"}}\";\nreturn msg;","outputs":1,"noerr":0,"x":2590,"y":560,"wires":[["bc2c8ebc.ec8fa"]]},{"id":"b6c3cfd6.3447e","type":"function","z":"419fddef.3793c4","name":"","func":"var storageAddress = flow.get('storageAddress') || null;\n\nmsg.urlEvents = storageAddress +\"storage?file=\"+ msg.payload.data.urlEvents\nmsg.urlFSM = storageAddress +\"storage?file=\"+ msg.payload.data.urlFSM\nmsg.logFile = msg.payload.data.logFile\n\nmsg.url = msg.urlFSM\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":560,"wires":[["816bfdf8.a6cdd"]]},{"id":"f28ab953.cc7908","type":"file","z":"419fddef.3793c4","name":"","filename":"/tmp/fsm","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1040,"y":560,"wires":[["819d905.cd5077"]]},{"id":"816bfdf8.a6cdd","type":"http request","z":"419fddef.3793c4","name":"","method":"GET","ret":"txt","url":"","tls":"","x":850,"y":560,"wires":[["f28ab953.cc7908"]]},{"id":"819d905.cd5077","type":"function","z":"419fddef.3793c4","name":"","func":"msg.url = msg.urlEvents\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":560,"wires":[["921656fc.c46a88"]]},{"id":"921656fc.c46a88","type":"http request","z":"419fddef.3793c4","name":"","method":"GET","ret":"txt","url":"","x":1370,"y":560,"wires":[["fdbf6341.6d22d"]]},{"id":"c18732e.cb8b6d","type":"file","z":"419fddef.3793c4","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":2210,"y":560,"wires":[["98de9db2.78e27"]]},{"id":"fdbf6341.6d22d","type":"file","z":"419fddef.3793c4","name":"","filename":"/tmp/events","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1550,"y":560,"wires":[["1571ef54.ddf421"]]},{"id":"7955a3c6.08147c","type":"function","z":"419fddef.3793c4","name":"remember address storage","func":"var storageAddress = flow.get('storageAddress') || null;\n\nstorageAddress = msg.payload.data.address\nflow.set(\"storageAddress\",storageAddress)\nmsg.payload = storageAddress\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":700,"wires":[["5f0c716a.de64e"]]},{"id":"5f0c716a.de64e","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":740,"wires":[]},{"id":"b0263a94.57f6b8","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2290,"y":460,"wires":[]},{"id":"18cdaad9.a35405","type":"function","z":"419fddef.3793c4","name":"remember address storage","func":"var localAddress = flow.get('localAddress') || null;\n\nlocalAddress = msg.payload.data.address\nflow.set(\"localAddress\",localAddress)\nmsg.payload = localAddress\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":780,"wires":[["787d9f12.1e88a"]]},{"id":"787d9f12.1e88a","type":"debug","z":"419fddef.3793c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":840,"wires":[]},{"id":"98de9db2.78e27","type":"http request","z":"419fddef.3793c4","name":"","method":"GET","ret":"txt","url":"","tls":"","x":2390,"y":560,"wires":[["3f381098.a66d4"]]},{"id":"16f6bc43.d7bce4","type":"tab","label":"Simulator service","disabled":false,"info":""},{"id":"be8df80b.e46578","type":"http response","z":"16f6bc43.d7bce4","name":"","statusCode":"","headers":{},"x":1070,"y":240,"wires":[]},{"id":"58d8275d.b73af8","type":"http in","z":"16f6bc43.d7bce4","name":"","url":"/simulator/","method":"get","upload":false,"swaggerDoc":"","x":300,"y":240,"wires":[["13a3810c.85609f"]]},{"id":"13a3810c.85609f","type":"function","z":"16f6bc43.d7bce4","name":"","func":"msg.filename = \"/tmp/simulator/\" + msg.req.query.file\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":240,"wires":[["30a6c176.2de7ee"]]},{"id":"30a6c176.2de7ee","type":"file in","z":"16f6bc43.d7bce4","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":870,"y":240,"wires":[["be8df80b.e46578"]]},{"id":"f0d9eab6.5c02b8","type":"http response","z":"16f6bc43.d7bce4","name":"","statusCode":"","headers":{},"x":1110,"y":340,"wires":[]},{"id":"6c6da16d.861d","type":"http in","z":"16f6bc43.d7bce4","name":"","url":"/simulator/launchCompleteSimulation","method":"get","upload":false,"swaggerDoc":"","x":380,"y":360,"wires":[["e18f1335.41eda"]]},{"id":"ce844109.8128b","type":"comment","z":"16f6bc43.d7bce4","name":"Simulator","info":"","x":280,"y":200,"wires":[]},{"id":"ffa7553e.98b2b8","type":"debug","z":"16f6bc43.d7bce4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1130,"y":420,"wires":[]},{"id":"946d9efd.61aac","type":"subflow:419fddef.3793c4","z":"16f6bc43.d7bce4","name":"","x":820,"y":360,"wires":[["f0d9eab6.5c02b8","ffa7553e.98b2b8"],[]]},{"id":"e18f1335.41eda","type":"function","z":"16f6bc43.d7bce4","name":"","func":"msg.payload.action = \"launchCompleteSimulation\"\nmsg.payload.data = {}\nmsg.payload.data.urlEvents = msg.req.query.urlEvents\nmsg.payload.data.urlFSM = msg.req.query.urlFSM\nmsg.payload.data.logFile = msg.req.query.logFile\n\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":360,"wires":[["946d9efd.61aac"]]},{"id":"64aa6f8c.dd231","type":"http in","z":"16f6bc43.d7bce4","name":"","url":"/simulator/setStorageAddress","method":"get","upload":false,"swaggerDoc":"","x":360,"y":460,"wires":[["ba2559fa.aad0a8"]]},{"id":"ba2559fa.aad0a8","type":"function","z":"16f6bc43.d7bce4","name":"","func":"msg.payload.action = \"setStorageAddress\"\nmsg.payload.data = {}\nmsg.payload.data.address = msg.req.query.address\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":460,"wires":[["946d9efd.61aac"]]},{"id":"8a24a56f.ad5cf8","type":"http in","z":"16f6bc43.d7bce4","name":"","url":"/simulator/setLocalAddress","method":"get","upload":false,"swaggerDoc":"","x":370,"y":540,"wires":[["44de8215.d4954c"]]},{"id":"44de8215.d4954c","type":"function","z":"16f6bc43.d7bce4","name":"","func":"msg.payload.action = \"setLocalAddress\"\nmsg.payload.data = {}\nmsg.payload.data.address = msg.req.query.address\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":540,"wires":[["946d9efd.61aac"]]}]
